<article>
  <section>
    <div class="po-row">
      <div class="po-md-4">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Área de texto padrão</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content ng-valid">
            <textarea class="po-textarea" rows="3"></textarea>
          </div>
          <div class="po-field-container-bottom"></div>
        </div>

      </div>

      <div class="po-md-4">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Área de texto com apoio desabilitada e opcional</span>
            <span class="po-field-optional">(Opcional)</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content ng-valid">
            <textarea class="po-textarea" rows="3" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>

      <div class="po-md-4">

        <po-textarea class="ng-invalid ng-dirty">
          <div class="po-field-container">
            <div class="po-field-container-title">
              <span class="po-field-title">Área de texto sem apoio inválida</span>
            </div>
            <div class="po-field-help">Texto de ajuda</div>

            <div class="po-field-container-content ng-valid">
              <textarea class="po-textarea" rows="3"></textarea>
            </div>

            <div class="po-field-container-bottom">
              <span class="po-field-container-bottom-text-error">
                <span class="po-icon po-icon-warning po-field-container-icon-error"></span>
                Mensagem de erro
              </span>
            </div>

          </div>
        </po-textarea>

      </div>
    </div>

    <div class="po-row">
      <div class="po-sm-12">

        <div class="po-field-container">
          <div class="po-field-container-title"></div>

          <div class="po-field-container-content ng-valid">
            <textarea class="po-textarea">Sem label e sem help</textarea>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>
    </div>

    <div class="po-row">
      <div class="po-sm-12">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Área de texto com 10 linhas e opcional</span>
            <span class="po-field-optional">(Opcional)</span>
          </div>

          <div class="po-field-container-content ng-valid">
            <textarea class="po-textarea" rows="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea>
          </div>
          <div class="po-field-container-bottom"></div>
        </div>

      </div>
    </div>

  </section>
</article>
