<style>
  .po-popover {
    display: inline-block;
    position: relative;
    margin: 6px;
  }

</style>

<article>
  <section>
    <h4>Setas para esquerda</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-left"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na esquerda ao meio.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-left-top"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na esquerda ao topo.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-left-bottom"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na esquerda abaixo.
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Setas para cima</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-top"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta no topo ao meio.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-top-left"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta no topo à esquerda.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-top-right"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta no topo à direita.
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Setas para direita</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-right"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na direita ao meio.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-right-top"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na direita ao topo.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-right-bottom"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na direita abaixo.
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Setas para baixo</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-bottom"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta abaixo ao meio.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-bottom-right"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta abaixo à direita.
      </div>
    </div>

    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-bottom-left"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta abaixo à esquerda.
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Sem botões de ação</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-left"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
        Seta na posição padrão.
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Sem título</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-left"></div>
        <div class="po-popover-content">
        Seta na posição padrão.
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Com bastante conteúdo</h4>
    <div class="po-popover">
      <div class="po-popover-arrow po-arrow-left"></div>
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
          Mauris porttitor neque sit amet vehicula tristique.<br>
          Maecenas bibendum ligula malesuada nibh facilisis faucibus.<br>
          In mollis mauris sit amet elementum sodales.<br>
          Aenean eu dui ac sapien interdum tempus.<br>
          Nullam viverra mi quis neque varius, vitae accumsan nisi volutpat.<br>
          Suspendisse iaculis dui eget pretium lobortis.<br>
          Aliquam sit amet eros vitae lectus luctus euismod.<br>
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Sem seta</h4>
    <div class="po-popover">
      <div class="po-popover-content">
        <span class="po-popover-title">Título do popover</span>
          Popover sem seta
      </div>
    </div>
  </section>

</article>

