.po-loading-overlay-content {
  background-color: var(--color-loading-overlay-background-color-content);
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 var(--color-loading-overlay-box-shadow-content);
  display: block;
  height: 80%;
  left: 50%;
  max-height: 104px;
  max-width: 200px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.po-loading-overlay-content .po-loading-label {
  max-width: 180px;
}
