<style>
    .container {
      padding: 16px 64px 16px 16px;
    }
  </style>

<article>
  <section>
    <div class="container">
      <h4>Accordion</h4>
      <br>

      <div class="po-accordion po-container po-container-no-padding">
        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable" autofocus>
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 1</div>
              <span class="po-icon po-icon-arrow-down po-accordion-item-header-icon"></span>
            </button>
          </header>
        </section>
        <!-- FIM ITEM -->

        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 2</div>
              <span class="po-icon po-icon-arrow-up po-accordion-item-header-icon"></span>
            </button>
          </header>
          <div class="po-accordion-item-body">
            <div class="po-accordion-item-body-content">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
              ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
              quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
              squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
              butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
              nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </section>
        <!-- FIM ITEM -->

        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 3</div>
              <span class="po-icon po-icon-arrow-down po-accordion-item-header-icon"></span>
            </button>
          </header>
        </section>
        <!-- FIM ITEM -->

        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 4</div>
              <span class="po-icon po-icon-arrow-down po-accordion-item-header-icon"></span>
            </button>
          </header>
        </section>
        <!-- FIM ITEM -->
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h4>Accordion com item ativo</h4>
      <br>

      <div class="po-accordion po-container po-container-no-padding">
        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 1</div>
              <span class="po-icon po-icon-arrow-down po-accordion-item-header-icon"></span>
            </button>
          </header>
        </section>
        <!-- FIM ITEM -->

        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 2</div>
              <span class="po-icon po-icon-arrow-up po-accordion-item-header-icon"></span>
            </button>
          </header>
          <div class="po-accordion-item-body">
            <div class="po-accordion-item-body-content">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
              ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
              quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
              squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
              butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
              nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </section>
        <!-- FIM ITEM -->

        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 3</div>
              <span class="po-icon po-icon-arrow-down po-accordion-item-header-icon"></span>
            </button>
          </header>
        </section>
        <!-- FIM ITEM -->

        <!-- INICIO DO ITEM -->
        <section class="po-accordion-item">
          <header class="po-accordion-item-header">
            <button class="po-accordion-item-header-button po-clickable">
              <div class="po-text-ellipsis po-accordion-item-header-title">Item 4</div>
              <span class="po-icon po-icon-arrow-down po-accordion-item-header-icon"></span>
            </button>
          </header>
        </section>
        <!-- FIM ITEM -->
      </div>
    </div>
  </section>
</article>
