<article>
  <section>
    <h4>Com ação para remover todos</h4>
    <div class="po-disclaimer-group">
      <div class="po-disclaimer-group-title">Apresentando resultados filtrados por</div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer po-clickable">
          <span tabindex="0" class="po-disclaimer-label po-disclaimer-label-danger">Remover todos</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Hotel</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">São Paulo</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">R$ 1.000,00</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">10/02/2018 - 15/02/2018</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
    </div>

    <br>

    <h4>Com ação para remover todos e com vários itens</h4>
    <div class="po-disclaimer-group">
      <div class="po-disclaimer-group-title">Apresentando resultados filtrados por</div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer po-clickable">
          <span tabindex="0" class="po-disclaimer-label po-disclaimer-label-danger">Remover todos</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Angular</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">AngularJS</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Javascript</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">EcmaScript</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Typescript</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">RxJS</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Node.js</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Hypertext Markup Language</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Cascading Style Sheets</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Functional Programming</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Observables</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">User Experience</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Framework</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
    </div>

    <br>

    <h4>Sem ação para remover todos</h4>
    <div class="po-disclaimer-group">
      <div class="po-disclaimer-group-title">Apresentando resultados filtrados por</div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Hotel</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">São Paulo</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">R$ 1.000,00</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">10/02/2018 - 15/02/2018</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
    </div>

    <br>

    <h4>Sem título</h4>
    <div class="po-disclaimer-group">
      <div class="po-disclaimer-group-title"></div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer po-clickable">
          <span tabindex="0" class="po-disclaimer-label po-disclaimer-label-danger">Remover todos</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Hotel</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">São Paulo</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">R$ 1.000,00</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">10/02/2018 - 15/02/2018</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
    </div>

    <br>

    <h4>Sem título e sem ação para remover todos</h4>
    <div class="po-disclaimer-group">
      <div class="po-disclaimer-group-title"></div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">Hotel</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">São Paulo</span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">R$ 1.000,00</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
      <div class="po-disclaimer-group-disclaimer-align">
        <div class="po-disclaimer">
          <span class="po-disclaimer-label">10/02/2018 - 15/02/2018</span>
          <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
        </div>
      </div>
    </div>
    <br>
  </section>
</article>
