<style>
  .po-tooltip {
    position: absolute;
    display: inline-block;
    margin-left: 50px;
    margin-top: -37px;
  }

  .sample-po-menu-panel-item-hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .po-sample-container .po-menu-panel {
    top: 70px;
  }

  .po-sample-container .po-menu-panel:nth-of-type(2) {
    left: 70px;
  }
</style>

<h4> Menu simples e menu com hover</h4>

<div class="po-sample-container">

  <!-- PO MENU PANEL -->
  <div class="po-menu-panel">
    <a href="/" class="po-menu-panel-logo-container">
      <div class="po-menu-panel-logo"></div>
    </a>
    <nav class="po-menu-panel-container">
      <div class="po-menu-panel-inner">
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-home"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-star"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-news"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item po-menu-panel-item-selected">
              <span class="po-icon po-icon-chat"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-clock"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-user"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-stock"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-settings"></span>
            </div>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- PO MENU PANEL -->
  <div class="po-menu-panel">
    <a href="/" class="po-menu-panel-logo-container">
      <div class="po-menu-panel-logo"></div>
    </a>
    <nav class="po-menu-panel-container">
      <div class="po-menu-panel-inner">
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-home"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-star"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-news"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item po-menu-panel-item-selected">
              <span class="po-icon po-icon-chat"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-clock"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-user"></span>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item sample-po-menu-panel-item-hover">
              <span class="po-icon po-icon-stock"></span>

              <div class="po-tooltip">
                <div class="po-tooltip-arrow po-arrow-left"></div>
                <div class="po-tooltip-content">
                  Estoque
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="po-menu-panel-item-wrapper">
          <a href="#">
            <div class="po-menu-panel-item">
              <span class="po-icon po-icon-settings"></span>
            </div>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
