# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

package-lock.json

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Build files
projects/portal/src/app/guide/guides
projects/portal/src/app/guide/menu-guides.service.ts
projects/portal/src/app/documentation/samples/
projects/portal/src/app/menu.service.ts
projects/portal/src/assets/json/api-list.json
projects/portal/src/assets/json/version.json
projects/portal/src/app/documentation/documentation-routing.module.ts
