language: node_js
node_js:
 - "10.16.3"
dist: trusty
sudo: required

branches:
  only:
    - master

addons:
  chrome: stable

before_script:
  - npm install -g @angular/cli

cache:
  npm: true
  directories:
    - node_modules

script:
  - commitlint-travis
  - npm run format:check
  - npm run build:lite
  - npm run test
