<!--
  <po-widget class="po-md-6 po-lg-4" p-height="550">
    <div class="post-card">
      <div class="post-header">
        <po-skeleton p-variant="circle" p-size="sm"></po-skeleton>
        <div class="post-header-text">
          <po-skeleton p-variant="text" p-size="sm"></po-skeleton>
          <po-skeleton p-variant="text" p-size="sm"></po-skeleton>
        </div>
      </div>

      <po-skeleton p-variant="rectangle" p-height="300px"></po-skeleton>

      <div class="post-actions">
        <po-skeleton p-variant="rectangle" p-size="sm" p-width="30px" p-height="30px"></po-skeleton>
        <po-skeleton p-variant="rectangle" p-size="sm" p-width="30px" p-height="30px"></po-skeleton>
        <po-skeleton p-variant="rectangle" p-size="sm" p-width="30px" p-height="30px"></po-skeleton>
      </div>

      <po-skeleton p-variant="text" p-width="120px"></po-skeleton>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="85%"></po-skeleton>

      <po-skeleton p-variant="text" p-width="60%"></po-skeleton>
      <po-skeleton p-variant="text" p-width="40%"></po-skeleton>
    </div>
  </po-widget>
  -->

<!--
  <po-widget class="po-md-6 po-lg-4" p-height="550">
    <div class="post-card">
      <div class="post-header">
        <po-skeleton p-variant="circle" p-size="sm"></po-skeleton>
        <div class="post-header-text">
          <po-skeleton p-variant="text" p-size="sm"></po-skeleton>
          <po-skeleton p-variant="text" p-size="sm"></po-skeleton>
        </div>
      </div>

      <po-skeleton p-variant="rectangle" p-height="300px"></po-skeleton>

      <div class="post-actions">
        <po-skeleton p-variant="rectangle" p-size="sm" p-width="30px" p-height="30px"></po-skeleton>
        <po-skeleton p-variant="rectangle" p-size="sm" p-width="30px" p-height="30px"></po-skeleton>
        <po-skeleton p-variant="rectangle" p-size="sm" p-width="30px" p-height="30px"></po-skeleton>
      </div>

      <po-skeleton p-variant="text" p-width="120px"></po-skeleton>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="90%"></po-skeleton>

      <po-skeleton p-variant="text" p-width="55%"></po-skeleton>
      <po-skeleton p-variant="text" p-width="45%"></po-skeleton>
    </div>
  </po-widget>
  -->

<!--
  <po-widget class="po-md-6 po-lg-4" p-title="User Profile">
    <div class="profile-card">
      <div class="profile-picture">
        <po-skeleton p-variant="circle" p-size="xl"></po-skeleton>
      </div>

      <po-skeleton p-variant="text" p-width="150px"></po-skeleton>
      <po-skeleton p-variant="text" p-width="200px"></po-skeleton>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="90%"></po-skeleton>
      <po-skeleton p-variant="text" p-width="70%"></po-skeleton>

      <div class="profile-stats">
        <div class="stat">
          <po-skeleton p-variant="text" p-width="40px"></po-skeleton>
          <po-skeleton p-variant="text" p-width="60px" p-size="sm"></po-skeleton>
        </div>
        <div class="stat">
          <po-skeleton p-variant="text" p-width="40px"></po-skeleton>
          <po-skeleton p-variant="text" p-width="70px" p-size="sm"></po-skeleton>
        </div>
        <div class="stat">
          <po-skeleton p-variant="text" p-width="40px"></po-skeleton>
          <po-skeleton p-variant="text" p-width="65px" p-size="sm"></po-skeleton>
        </div>
      </div>
    </div>
  </po-widget>
  -->

<!--
  <po-widget class="po-md-6 po-lg-4" p-height="450">
    <div class="product-card">
      <po-skeleton p-variant="rectangle" p-height="200px"></po-skeleton>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="80%"></po-skeleton>

      <div class="product-rating">
        <po-skeleton p-variant="rectangle" p-width="100px" p-height="20px"></po-skeleton>
        <po-skeleton p-variant="text" p-width="60px" p-size="sm"></po-skeleton>
      </div>

      <po-skeleton p-variant="text" p-width="100px"></po-skeleton>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="95%"></po-skeleton>
      <po-skeleton p-variant="text" p-width="60%"></po-skeleton>

      <div class="product-button">
        <po-skeleton p-variant="rectangle" p-height="40px" p-border-radius="4px"></po-skeleton>
      </div>
    </div>
  </po-widget>
  -->

<!--
  <po-widget class="po-md-6 po-lg-4" p-height="380" p-title="Latest Article">
    <div class="article-card">
      <po-skeleton p-variant="rectangle" p-height="150px"></po-skeleton>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="90%"></po-skeleton>

      <div class="article-author">
        <po-skeleton p-variant="circle" p-size="sm"></po-skeleton>
        <div class="author-details">
          <po-skeleton p-variant="text" p-width="100px" p-size="sm"></po-skeleton>
          <po-skeleton p-variant="text" p-width="80px" p-size="sm"></po-skeleton>
        </div>
      </div>

      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text"></po-skeleton>
      <po-skeleton p-variant="text" p-width="75%"></po-skeleton>

      <po-skeleton p-variant="text" p-width="80px"></po-skeleton>
    </div>
  </po-widget>
  -->
