import { Component, OnInit } from '@angular/core';
import { CommonModule } from '@angular/common';

import { PoPageLoginModule } from '@po-ui/ng-templates';


@Component({
  selector: '<%= selector %>',
  imports: [
    CommonModule,
    PoPageLoginModule,
  ],
  templateUrl: './<%= dasherize(name) %>.component.html',
  styleUrls: ['./<%= dasherize(name) %>.component.<%= style %>']
})
export class <%= classify(name) %>Component implements OnInit {

  constructor() { }

  ngOnInit() { }

}
