<article>
  <section>
    <h4>Breadcrumb básico</h4>

    <div class="po-breadcrumb">
      <ul class="po-breadcrumb-items">
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">1º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">2º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">3º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">4º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item-unclickable">
          <label class="po-breadcrumb-label">5 nível selecionado</label>
        </li>
      </ul>
    </div>
  </section>

  <br>

  <section>
    <h4>Breadcrumb com apenas 1 nível</h4>

    <div class="po-breadcrumb">
      <ul class="po-breadcrumb-items">
        <li class="po-breadcrumb-item-unclickable">
          <label class="po-breadcrumb-label">1° nível selecionado</label>
        </li>
      </ul>
    </div>
  </section>

  <br>

  <section>
    <h4>Breadcrumb com a opção de favoritar</h4>

    <div class="po-breadcrumb">
      <ul class="po-breadcrumb-items">
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">1º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">2º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">3º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">4º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item-unclickable">
          <label class="po-breadcrumb-label">5 nível selecionado</label>
        </li>
      </ul>
      <div class="po-breadcrumb-favorite po-clickable">
        <span class="po-icon po-icon-star po-breadcrumb-favorite-star"></span>
        <span class="po-hidden-sm po-breadcrumb-favorite-label">Favoritar</span>
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Breadcrumb com a opção de favoritar ativado</h4>

    <div class="po-breadcrumb">
      <ul class="po-breadcrumb-items">
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">1º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">2º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">3º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item">
          <a href="#">
            <label class="po-breadcrumb-label">4º nível</label>
            <div class="po-breadcrumb-arrow"></div>
          </a>
        </li>
        <li class="po-breadcrumb-item-unclickable">
          <label class="po-breadcrumb-label">5 nível selecionado</label>
        </li>
      </ul>

      <div class="po-breadcrumb-favorite po-clickable">
        <span class="po-icon po-icon-star po-breadcrumb-favorite-star-active"></span>
        <span class="po-hidden-sm po-breadcrumb-favorite-label">Desfavoritar</span>
      </div>
    </div>
  </section>

  <br>

  <section>
    <h4>Breadcrumb no modelo responsivo</h4>
    <div class="po-offset-md-1 po-offset-lg-1 po-offset-xl-1 po-lg-8">
      <div class="po-breadcrumb">
        <ul class="po-breadcrumb-items">
          <li class="po-breadcrumb-item po-clickable">
            <span class="po-breadcrumb-icon-more po-icon po-icon-more"></span>
            <div class="po-breadcrumb-arrow"></div>
          </li>
          <li class="po-breadcrumb-item">
            <a href="#">
              <label class="po-breadcrumb-label">4º nível</label>
              <div class="po-breadcrumb-arrow"></div>
            </a>
          </li>
          <li class="po-breadcrumb-item-unclickable">
            <label class="po-breadcrumb-label">5 nível selecionado</label>
        </ul>

        <div class="po-breadcrumb-favorite po-clickable">
          <span class="po-icon po-icon-star po-breadcrumb-favorite-star-active"></span>
          <span class="po-hidden-sm po-breadcrumb-favorite-label">Desfavoritar</span>
        </div>

        <ul class="po-breadcrumb-dropdown">
          <li class="po-breadcrumb-dropdown-item">3º nível</li>
          <li class="po-breadcrumb-dropdown-item">2º nível</li>
          <li class="po-breadcrumb-dropdown-item">1º nível</li>
        </ul>
      </div>
    </div>
  </section>

</article>
