<style>
  .container {
    padding: 16px 64px 16px 16px;
    display: inline-block;
  }
  h4 {
    margin-top: 16px;
  }
</style>

<article>
  <section>

    <div class="container">
      <h4>Default - md (64x64) </h4>
      <div class="po-avatar po-avatar-md">
        <span class="po-icon po-icon-user po-avatar-default-icon"></span>
      </div>

      <h4>Extra Small - xs (24x24)</h4>
      <div class="po-avatar po-avatar-xs">
        <img src="http://lorempixel.com/144/144/cats" alt="" class="po-avatar-image">
      </div>

      <h4>Small - sm (32x32)</h4>
      <div class="po-avatar po-avatar-sm">
        <img src="http://lorempixel.com/144/144/cats" alt="" class="po-avatar-image">
      </div>

      <h4>Medium - md (64x64)</h4>
      <div class="po-avatar po-avatar-md">
        <img src="http://lorempixel.com/144/144/cats" alt="" class="po-avatar-image">
      </div>

      <h4>Large - lg (96x96)</h4>
      <div class="po-avatar po-avatar-lg">
        <img src="http://lorempixel.com/144/144/cats" alt="" class="po-avatar-image">
      </div>

      <h4>Extra Large - xl (144x144)</h4>
      <div class="po-avatar po-avatar-xl">
        <img src="http://lorempixel.com/144/144/cats" alt="" class="po-avatar-image">
      </div>
    </div>

  </section>
</article>
