<style>
  .po-tabs-margin-bottom {
    margin-bottom: 178px;
  }

  h3, h4:not(:first-child) {
    margin-top: 80px;
  }

  .po-popover {
    margin-top: 8px;
    position: absolute;
    right: 5%;
  }

  .po-tab-content:last-child {
    margin-bottom: 100px;
  }
</style>

<article>
  <section>

    <h3>Comportamento DESKTOP</h3>

    <h4>Tabs simples:</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1 com nome muito extenso</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
    </div>

    <h4>Tabs simples (small):</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
    </div>

    <h4>Tab selecionada:</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md po-tab-button-active" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div>Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
    </div>

    <h4>Tab desabilitada:</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md po-tab-button-disabled">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
    </div>

    <h4>Tabs com dropdown "Mais" fechado, quando haver seis ou mais tabs:</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-dropdown">
          <div class="po-tab-dropdown-content po-tab-button-md" tabindex="0">
            <div class="po-tab-button-label po-text-ellipsis">
              Mais
              <span class="po-icon po-icon-arrow-down"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div style="display:none">Tab 5</div>
      <div style="display:none">Tab 6</div>
    </div>

    <h4>Tabs com dropdown "Mais" aberto, quando haver seis ou mais tabs:</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-dropdown">
          <div class="po-tab-dropdown-content po-tab-button-md" tabindex="0">
            <div class="po-tab-button-label po-text-ellipsis">
              Mais
              <span class="po-icon po-icon-arrow-up"></span>
            </div>
          </div>
          <div class="po-popover">
            <div class="po-popover-content">
              <div class="po-tab-dropdown-container">
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 5</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 6</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 7</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 8</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 9</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tab-content po-tabs-margin-bottom">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div style="display:none">Tab 5</div>
      <div style="display:none">Tab 6</div>
      <div style="display:none">Tab 7</div>
      <div style="display:none">Tab 8</div>
      <div style="display:none">Tab 9</div>
      <div style="display:none">Tab 10</div>
      <div style="display:none">Tab 11</div>
      <div style="display:none">Tab 12</div>
    </div>

    <h4>Tabs com dropdown "Mais" aberto, quando haver seis ou mais tabs (small):</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-dropdown">
          <div class="po-tab-dropdown-content po-tab-button-sm" tabindex="0">
            <div class="po-tab-button-label po-text-ellipsis">
              Mais
              <span class="po-icon po-icon-arrow-up"></span>
            </div>
          </div>
          <div class="po-popover">
            <div class="po-popover-content">
              <div class="po-tab-dropdown-container-sm">
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-sm" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 5</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-sm" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 6</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-sm" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 7</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-sm" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 8</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-sm" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 9</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tab-content po-tabs-margin-bottom">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div style="display:none">Tab 5</div>
      <div style="display:none">Tab 6</div>
      <div style="display:none">Tab 7</div>
      <div style="display:none">Tab 8</div>
      <div style="display:none">Tab 9</div>
      <div style="display:none">Tab 10</div>
      <div style="display:none">Tab 11</div>
      <div style="display:none">Tab 12</div>
    </div>

    <h4>Botão "Mais" com dropdown aberto e tab selecionada</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-dropdown">
          <div class="po-tab-dropdown-content po-tab-button-md" tabindex="0">
            <div class="po-tab-button-label po-text-ellipsis">
              Mais
              <span class="po-icon po-icon-arrow-up"></span>
            </div>
          </div>
          <div class="po-popover">
            <div class="po-popover-content">
              <div class="po-tab-dropdown-container">
                <div class="po-tab-dropdown-button po-tab-dropdown-button-active">
                  <div class="po-tab-button-md po-tab-button-active" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 5</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 6</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div>Tab 5</div>
      <div style="display:none">Tab 6</div>
    </div>

    <h4>Botão "Mais" com dropdown aberto e tab desabilitada</h4>
    <div class="po-tabs-container">
      <div class="po-tabs-header">
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button">
          <div class="po-tab-button-md" tabindex="0">
              <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-dropdown">
          <div class="po-tab-dropdown-content po-tab-button-md" tabindex="0">
            <div class="po-tab-button-label po-text-ellipsis">
              Mais
              <span class="po-icon po-icon-arrow-up"></span>
            </div>
          </div>
          <div class="po-popover">
            <div class="po-popover-content">
              <div class="po-tab-dropdown-container">
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md po-tab-button-disabled">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 5</span>
                  </div>
                </div>
                <div class="po-tab-dropdown-button">
                  <div class="po-tab-button-md" tabindex="0">
                    <span class="po-tab-button-label po-text-ellipsis">Tab 6</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div style="display:none">Tab 5</div>
      <div style="display:none">Tab 6</div>
    </div>

    <h3>Comportamento MOBILE</h3>

    <h4>Tabs simples com scroll horizontal:</h4>
    <div class="po-tabs-container po-tabs-container-mobile">
      <div class="po-tabs-header">
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 5</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 6</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 7</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div style="display:none">Tab 5</div>
      <div style="display:none">Tab 6</div>
      <div style="display:none">Tab 7</div>
    </div>

    <h4>Tabs simples com scroll horizontal (small):</h4>
    <div class="po-tabs-container po-tabs-container-mobile">
      <div class="po-tabs-header">
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 1</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 2</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 3</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 4</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 5</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 6</span>
          </div>
        </div>
        <div class="po-tab-button po-tab-button-mobile">
          <div class="po-tab-button-md po-tab-button-sm" tabindex="0">
            <span class="po-tab-button-label po-text-ellipsis">Tab 7</span>
          </div>
        </div>
      </div>
    </div>
    <div class="po-tabs-content po-tab-content">
      <div style="display:none">Tab 1</div>
      <div style="display:none">Tab 2</div>
      <div style="display:none">Tab 3</div>
      <div style="display:none">Tab 4</div>
      <div style="display:none">Tab 5</div>
      <div style="display:none">Tab 6</div>
      <div style="display:none">Tab 7</div>
    </div>

  </section>
</article>
