<style>
    h4, hr {
      margin: 16px 0;
    }
  </style>

<article>
  <section>

    <h4>Vertical (Default)</h4>
    <div class="po-row">

      <div class="po-info po-sm-6">
        <div class="po-info-container-title">
          <span class="po-info-label">Portinari Info</span>
        </div>

        <div class="po-info-container-content">
          <span class="po-info-value">Vertical</span>
        </div>
      </div>
    </div>

    <hr>

    <h4>Vertical with link and value</h4>
    <div class="po-row">

      <div class="po-info po-sm-6">
        <div class="po-info-container-title">
          <span class="po-info-label">Portinari Info</span>
        </div>

        <div class="po-info-container-content">
          <a class="po-info-value po-info-link" href="http://portinari.io" target="_blank">Vertical</a>
        </div>
      </div>
    </div>

    <hr>

    <h4>Vertical (Default) - without value</h4>

    <div class="po-info">
      <div class="po-info-container-title">
        <span class="po-info-label">Portinari Info</span>
      </div>

      <div class="po-info-container-content">
        <span class="po-info-value"></span>
      </div>
    </div>

    <hr>

    <h4>Horizontal</h4>

    <div class="po-info">
      <div class="po-info-container-title po-info-label-horizontal po-text-nowrap">
        <span class="po-info-label">Portinari Info:</span>
      </div>

      <div class="po-info-value-horizontal">
        <span class="po-info-value"> Horizontal </span>
      </div>
    </div>

    <hr>

    <h4>Horizontal with link and value</h4>

    <div class="po-info">
      <div class="po-info-container-title po-info-label-horizontal po-text-nowrap">
        <span class="po-info-label">Portinari Info:</span>
      </div>

      <div class="po-info-value-horizontal">
        <a class="po-info-value po-info-link" href="http://portinari.io" target="_blank"> Horizontal </a>
      </div>
    </div>

    <hr>

    <h4>Horizontal - with extensive content</h4>

    <div class="po-info">
      <div class="po-info-container-title po-info-label-horizontal po-text-nowrap">
        <span class="po-info-label">Portinari Info:</span>
      </div>

      <div class="po-info-value-horizontal">
        <span class="po-info-value">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
          not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
          1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.
        </span>
      </div>
    </div>

    <hr>

    <h4>Horizontal - with Grid System</h4>

    <div class="po-info po-row">
      <div class="po-info-container-title po-info-label-horizontal po-sm-2">
        <span class="po-info-label">Portinari Info:</span>
      </div>

      <div class="po-info-value-horizontal po-sm-10">
        <span class="po-info-value"> Horizontal </span>
      </div>
    </div>

    <hr>

    <h4>Horizontal - with Grid System and extensive content</h4>

    <div class="po-info po-row">
      <div class="po-info-container-title po-info-label-horizontal po-sm-2">
        <span class="po-info-label">Portinari Info:</span>
      </div>

      <div class="po-info-value-horizontal po-sm-10">
        <span class="po-info-value">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
          not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
          1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.
        </span>
      </div>
    </div>

  </section>
</article>
