<style>
  .po-tooltip {
    position: relative;
    display: inline-block;
    margin: 6px;
  }
</style>

<article>
  <section>
    <h4>Tooltip à direita do componente alvo</h4>
      <div class="po-row">
        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-left"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado ao lado direito.
          </div>
        </div>

      <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-left-top"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado ao lado direito-abaixo.
          </div>
        </div>

      <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-left-bottom"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado ao lado direito-acima.
          </div>
        </div>
      </div>
  </section>

  <br>

  <section>
    <h4>Tooltip abaixo do componente alvo</h4>
      <div class="po-row">
        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-top"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado abaixo.
          </div>
        </div>

      <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-top-right"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado abaixo-esquerdo.
          </div>
        </div>

        <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-top-left"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado abaixo-direito.
          </div>
        </div>
      </div>
  </section>

  <br>

  <section>
    <h4>Tooltip à esquerda do componente alvo</h4>
      <div class="po-row">
        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-right"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado ao lado esquerdo.
          </div>
        </div>

        <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-right-top"></div>
          <div class="po-tooltip-content">
              Tooltip posicionado ao lado esquerdo-abaixo.
          </div>
        </div>

        <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-right-bottom"></div>
          <div class="po-tooltip-content">
              Tooltip posicionado ao lado esquerdo-acima.
          </div>
        </div>
      </div>
  </section>

  <br>

  <section>
    <h4>Tooltip acima do componente alvo</h4>
      <div class="po-row">
        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-bottom"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado acima.
          </div>
        </div>

        <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-bottom-right"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado acima-esquerdo.
          </div>
        </div>

        <br>

        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-bottom-left"></div>
          <div class="po-tooltip-content">
            Tooltip posicionado acima-direito.
          </div>
        </div>
      </div>
  </section>

  <br>

  <section>
    <h4>Tooltip em uma linha</h4>
      <div class="po-row">
        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-top"></div>
          <div class="po-tooltip-content">
            Conteúdo em uma linha.
          </div>
        </div>
      </div>
  </section>

  <br>

  <section>
    <h4>Tooltip com o conteúdo máximo (140 caracteres)</h4>
      <div class="po-row">
        <div class="po-tooltip">
          <div class="po-tooltip-arrow po-arrow-top"></div>
          <div class="po-tooltip-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada varius quam, vitae suscipit
              arcu iaculis vitae. Aliquam erat nullam.
          </div>
        </div>
      </div>
  </section>
</article>
