<a routerLink="cliente">Cliente</a>
<br />
<a routerLink="teste">Teste</a>
<br />
<a routerLink="calculadora">Calculadora</a>
<br />
<a routerLink="resultados">Resultados</a>
<br />
<a routerLink="poc">POC</a>
<br />
<a routerLink="form">Form</a>
<br />
<a routerLink="chart">Chart</a>
<br />
<a routerLink="hc">HcApp</a>
<br />
<a routerLink="final-form">Final Form</a>
<br />

<div class="po-wrapper">
  <po-toolbar p-title="POC Custom Elements"></po-toolbar>

  <po-menu [p-menus]="menus"></po-menu>
  <router-outlet></router-outlet>
</div>
