<router-outlet></router-outlet>

<!-- <kendo-grid [data]="view" id="productsGrid" (cellClick)="cellClickHandler($event)" (add)="addHandler()">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand *ngIf="!formGroup">Add new</button>
    <div *ngIf="formGroup">
      <button kendoButton [disabled]="!formGroup.valid" (click)="saveRow()">Save</button>
      <button kendoButton themeColor="primary" (click)="cancelHandler()">Cancel</button>
    </div>
  </ng-template>
  <kendo-grid-column field="value" title="value"></kendo-grid-column>
  <kendo-grid-column field="label"  title="Price"></kendo-grid-column>
  <kendo-grid-column field="id" title="id"></kendo-grid-column>
  <kendo-grid-column field="name"  title="name"></kendo-grid-column>
  <kendo-grid-column field="nickname"  title="nickname"></kendo-grid-column>
  <kendo-grid-column field="email"  title="email"></kendo-grid-column>
</kendo-grid> -->
