<article>
  <section class="po-pt-4">

      <h4>Barra de progresso - Default com animação para status indeterminado</h4>
      <br>

      <div class="po-progress po-progress-default">

        <label class="po-progress-description-mobile po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>

        <div class="po-progress-bar po-progress-bar-indeterminate">
          <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(0);"></div>
          <div class="po-progress-bar-element po-progress-bar-secondary"></div>
        </div>

        <div class="po-progress-description">
          <label class="po-progress-description-text">
            Planilha_de_colaboradores XMLS - 754KM
          </label>
        </div>

        <div class="po-progress-info">
          <span class="po-progress-info-text">2h restantes</span>
          <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
        </div>

      </div>
    </section>

  <section class="po-pt-4">

    <h4>Barra de progresso - Default</h4>
    <br>

    <div class="po-progress po-progress-default">

      <label class="po-progress-description-mobile po-progress-description-text">
        Planilha_de_colaboradores XMLS - 754KM
      </label>

      <div class="po-progress-bar">
        <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(0);"></div>
        <div class="po-progress-bar-element po-progress-bar-secondary"></div>
      </div>

      <div class="po-progress-description">
        <label class="po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>
      </div>

      <div class="po-progress-info">
        <span class="po-progress-info-text">2h restantes</span>
        <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
      </div>
    </div>
  </section>

  <section class="po-pt-4">

    <h4>Barra de progresso - Default em andamento</h4>
    <br>

    <div class="po-progress po-progress-default">

      <label class="po-progress-description-mobile po-progress-description-text">
        Planilha_de_colaboradores XMLS - 754KM
      </label>

      <div class="po-progress-bar">
        <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(0.50);"></div>
        <div class="po-progress-bar-element po-progress-bar-secondary"></div>
      </div>

      <div class="po-progress-description">
        <label class="po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>
      </div>

      <div class="po-progress-info">
        <span class="po-progress-info-text">2h restantes</span>
        <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
      </div>
    </div>

  </section>

  <section class="po-pt-4">

    <h4>Barra de progresso - Default sem ícone de cancelar</h4>
    <br>

    <div class="po-progress po-progress-default">

      <label class="po-progress-description-mobile po-progress-description-text">
        Planilha_de_colaboradores XMLS - 754KM
      </label>

      <div class="po-progress-bar">
        <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(0.50);"></div>
        <div class="po-progress-bar-element po-progress-bar-secondary"></div>
      </div>

      <div class="po-progress-description">
        <label class="po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>
      </div>

      <div class="po-progress-info">
        <span class="po-progress-info-text">2h restantes</span>
      </div>
    </div>

  </section>

  <section class="po-pt-4">

    <h4>Barra de progresso - Concluída com sucesso</h4>
    <br>

    <div class="po-progress po-progress-success">

      <label class="po-progress-description-mobile po-progress-description-text">
        Planilha_de_colaboradores XMLS - 754KM
      </label>

      <div class="po-progress-bar">
        <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(1);"></div>
        <div class="po-progress-bar-element po-progress-bar-secondary"></div>
      </div>

      <div class="po-progress-description">
        <label class="po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>
      </div>

      <div class="po-progress-info">
        <span class="po-progress-info-text">100% - 0 minutos restantes</span>
        <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
      </div>
    </div>

  </section>

  <section class="po-pt-4">

    <h4>Barra de progresso - Concluída com sucesso e com ícone</h4>
    <br>

    <div class="po-progress po-progress-success">

      <label class="po-progress-description-mobile po-progress-description-text">
        Planilha_de_colaboradores XMLS - 754KM
      </label>

      <div class="po-progress-bar">
        <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(1);"></div>
        <div class="po-progress-bar-element po-progress-bar-secondary"></div>
      </div>

      <div class="po-progress-description">
        <label class="po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>
      </div>

      <div class="po-progress-info">
        <span class="po-progress-info-icon po-icon po-icon-ok"></span>
        <span class="po-progress-info-text">100% - 0 minutos restantes</span>
        <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
      </div>
    </div>

  </section>

  <section class="po-pt-4">

      <h4>Barra de progresso - Descrição longa</h4>
      <br>

      <div class="po-progress po-progress-success">

        <label class="po-progress-description-mobile po-progress-description-text">
          Lorem ipsum dolor sit amet, codfjklds fdsdfkjd kds fk;dsaádsf kl;adsf kl;ds kl;'s;afdsfjasd jasjd sajksdjklsadsJKLSA Ddaskl;sdfsddf  justo efficitur dolor suscipit cursus. Mauris sollicitudin mattis puru
        </label>

        <div class="po-progress-bar">
          <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(1);"></div>
          <div class="po-progress-bar-element po-progress-bar-secondary"></div>
        </div>

        <div class="po-progress-description">
          <label class="po-progress-description-text">
            Lorem ipsum dolor sit amet, codfjklds fdsdfkjd kds fk;dsaádsf kl;adsf kl;ds kl;'s;afdsfjasd jasjd sajksdjklsadsJKLSA Ddaskl;sdfsddf  justo efficitur dolor suscipit cursus. Mauris sollicitudin mattis puru
          </label>
        </div>

        <div class="po-progress-info">
          <span class="po-progress-info-icon po-icon po-icon-ok"></span>
          <span class="po-progress-info-text">100% - 0 minutos restantes</span>
          <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
        </div>
      </div>

    </section>

  <section class="po-pt-4">

    <h4>Barra de progresso - Erro</h4>
    <br>

    <div class="po-progress po-progress-error">

      <label class="po-progress-description-mobile po-progress-description-text">
        Planilha_de_colaboradores XMLS - 754KM
      </label>

      <div class="po-progress-bar">
        <div class="po-progress-bar-element po-progress-bar-primary" style="transform: scaleX(1);"></div>
        <div class="po-progress-bar-element po-progress-bar-secondary"></div>
      </div>

      <div class="po-progress-description">
        <label class="po-progress-description-text">
          Planilha_de_colaboradores XMLS - 754KM
        </label>
      </div>

      <div class="po-progress-info">
        <span class="po-progress-info-text">Ocorreu um erro</span>
        <button class="po-progress-info-icon-close po-icon po-icon-close po-clickable"></button>
      </div>
    </div>

  </section>
</article>
