<article>
  <section>
    <h4>Calendário de dias</h4>
    <div class="po-row">
      <div class="po-calendar po-mr-2 po-mb-1 po-mt-1">
        <div class="po-calendar-nav">
          <span class="po-calendar-nav-left po-icon po-icon-arrow-left"></span>
          <div class="po-calendar-nav-title">
            <span class="po-clickable po-mr-1">Dezembro</span>
            <span class="po-clickable">2018</span>
          </div>
          <span class="po-calendar-nav-right po-icon po-icon-arrow-right"></span>
        </div>
        <div class="po-calendar-content">
          <div class="po-calendar-labels">
            <div class="po-calendar-label">dom</div>
            <div class="po-calendar-label">seg</div>
            <div class="po-calendar-label">ter</div>
            <div class="po-calendar-label">qua</div>
            <div class="po-calendar-label">qui</div>
            <div class="po-calendar-label">sex</div>
            <div class="po-calendar-label">sáb</div>
          </div>
          <div class="po-calendar-content-list-day">
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 1 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 2 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 3 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 4 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-selected"><span class="po-calendar-box-foreground-selected"> 5 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-today"><span class="po-calendar-box-foreground-today"> 6 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 7 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 8 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 9 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 10 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 11 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 12 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 13 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 14 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 15 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 16 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 17 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 18 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 19 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 20 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 21 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 22 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 23 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 24 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 25 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 26 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 27 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 28 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 29 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 30 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 31 </span> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
          </div>
        </div>
      </div>

      <div class="po-calendar po-mb-1 po-mt-1 po-mr-2">
        <div class="po-calendar-nav">
          <span class="po-calendar-nav-left po-icon po-icon-arrow-left"></span>
          <div class="po-calendar-nav-title">
            <span class="po-clickable po-mr-1">Agosto</span>
            <span class="po-clickable">2017</span>
          </div>
          <span class="po-calendar-nav-right po-icon po-icon-arrow-right"></span>
        </div>
        <div class="po-calendar-content">
          <div class="po-calendar-labels">
            <div class="po-calendar-label">dom</div>
            <div class="po-calendar-label">seg</div>
            <div class="po-calendar-label">ter</div>
            <div class="po-calendar-label">qua</div>
            <div class="po-calendar-label">qui</div>
            <div class="po-calendar-label">sex</div>
            <div class="po-calendar-label">sáb</div>
          </div>
          <div class="po-calendar-content-list-day">
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 1 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 2 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 3 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 4 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-selected"><span class="po-calendar-box-foreground-selected"> 5 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-today"><span class="po-calendar-box-foreground-today"> 6 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 7 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 8 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 9 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 10 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 11 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 12 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 13 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 14 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 15 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 16 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 17 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 18 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 19 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 20 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 21 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 22 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 23 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 24 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 25 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 26 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 27 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 28 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 29 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 30 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 31 </span> </div>
            <div class="po-calendar-day"> </div>
          </div>
        </div>
      </div>

      <div class="po-calendar po-mb-1 po-mt-1">
        <div class="po-calendar-nav">
          <span class="po-calendar-nav-left po-icon po-icon-arrow-left"></span>
          <div class="po-calendar-nav-title">
            <span class="po-clickable po-mr-1">Agosto</span>
            <span class="po-clickable">2017</span>
          </div>
          <span class="po-calendar-nav-right po-icon po-icon-arrow-right"></span>
        </div>
        <div class="po-calendar-content">
          <div class="po-calendar-labels">
            <div class="po-calendar-label">dom</div>
            <div class="po-calendar-label">seg</div>
            <div class="po-calendar-label">ter</div>
            <div class="po-calendar-label">qua</div>
            <div class="po-calendar-label">qui</div>
            <div class="po-calendar-label">sex</div>
            <div class="po-calendar-label">sáb</div>
          </div>
          <div class="po-calendar-content-list-day">
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 1 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 2 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 3 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 4 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-selected"><span class="po-calendar-box-foreground-selected"> 5 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-today"><span class="po-calendar-box-foreground-today"> 6 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 7 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 8 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 9 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 10 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 11 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 12 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 13 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 14 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 15 </span> </div>
            <div class="po-calendar-day po-calendar-box-background"><span class="po-calendar-box-foreground"> 16 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 17 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 18 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 19 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 20 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 21 </span> </div>
            <div class="po-calendar-day po-calendar-box-background-selected-disabled"><span class="po-calendar-box-foreground-selected-disabled"> 22 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 23 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 24 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 25 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 26 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 27 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 28 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 29 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 30 </span> </div>
            <div class="po-calendar-day"><span class="po-calendar-box-foreground-disabled"> 31 </span> </div>
            <div class="po-calendar-day"> </div>
          </div>
        </div>
      </div>

    </div>

    <h4>Calendário de meses</h4>
    <div class="po-row">
      <div class="po-calendar po-mb-1 po-mt-1">
        <div class="po-calendar-nav">
          <span class="po-calendar-nav-left po-icon po-icon-arrow-left"></span>
          <div class="po-calendar-nav-title">
            <span class="po-clickable">2017</span>
          </div>
          <span class="po-calendar-nav-right po-icon po-icon-arrow-right"></span>
        </div>
        <div class="po-calendar-content">
          <div class="po-calendar-labels">
            <div class="po-calendar-label">Mês</div>
          </div>
          <div class="po-calendar-content-list-month">
            <div class="po-calendar-month po-calendar-box-background"><span>Janeiro</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Fevereiro</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Março</span></div>
            <div class="po-calendar-month po-calendar-box-background po-calendar-box-background-today"><span class="po-calendar-box-foreground-today">Abril</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Maio</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Junho</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Julho</span></div>
            <div class="po-calendar-month po-calendar-box-background po-calendar-box-background-selected"><span class="po-calendar-box-foreground-selected">Agosto</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Setembro</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Outubro</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Novembro</span></div>
            <div class="po-calendar-month po-calendar-box-background"><span>Dezembro</span></div>
          </div>
        </div>
      </div>
    </div>

    <h4>Calendário de anos</h4>
    <div class="po-row">
      <div class="po-calendar po-mt-1">
        <div class="po-calendar-nav">
          <span class="po-calendar-nav-left po-icon po-icon-arrow-left"></span>
          <div class="po-calendar-nav-title">2010 - 2019</div>
          <span class="po-calendar-nav-right po-icon po-icon-arrow-right"></span>
        </div>
        <div class="po-calendar-content">
          <div class="po-calendar-labels">
            <div class="po-calendar-label">Ano</div>
          </div>
          <div class="po-calendar-content-list-year">
            <div class="po-calendar-year po-calendar-box-background"><span>2010</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2011</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2012</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2013</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2014</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2015</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2016</span></div>
            <div class="po-calendar-year po-calendar-box-background po-calendar-box-background-selected"><span class="po-calendar-box-foreground-selected">2017</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2018</span></div>
            <div class="po-calendar-year po-calendar-box-background"><span>2019</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
