<po-page-default p-title="Dashboard">
  <div class="po-row po-mt-1">
    <p>
      {{ open ? 'open' : 'closed' }}
    </p>

    <po-custom-area
      class="po-row po-mt-1"
      [p-api-custom]="url"
      [p-component-name]="buttonCustom"
      [p-props]="buttonProps"
      [p-class-style]="classButton"
      p-class-container="po-row po-mt-1"
      [p-events]="eventButon"
      [p-slot-text]="slotButton"
      p-id-container="content1"
    ></po-custom-area>
  </div>

  <div class="po-row po-mt-1">
    <po-radio-group
      class="po-lg-4"
      name="personType"
      [(ngModel)]="personType"
      p-label="Tipo de Pessoa"
      [p-options]="personOptions"
      (p-change)="changePerson($event)"
    >
    </po-radio-group>

    <po-custom-area
      class="po-lg-4"
      [p-api-custom]="url"
      p-component-name="pods-input-cnpj"
      p-class-style="po-md-4"
      p-class-container="po-lg-4"
      [p-events]="eventInput"
      p-id-container="content2"
    ></po-custom-area>

    <po-info p-label="Identificação" [p-value]="cnpj" class="po-lg-4"> </po-info>
  </div>
</po-page-default>
