<style>
  .p-height {
    height: 80px;
  }

  .po-container-sample {
    margin: 4px;
  }
</style>

<article>
  <section>

    <div class="po-row">
      <div class="po-container-sample po-sm-6 po-md-3">
        <div class="po-container">
          <h4>Com sombra, espaçamento e utilizando Grid System</h4>
        </div>
      </div>

      <div class="po-container-sample">
        <div class="po-container">
          <h4>Com sombra, espaçamento e altura automática</h4>
        </div>
      </div>

      <div class="po-container-sample">
        <div class="po-container po-container-no-padding p-height">
          <h4>Com sombra, sem espaçamento e altura fixa</h4>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-container-sample po-sm-6 po-md-3">
        <div class="po-container po-container-no-shadow po-sm-6 po-md-3">
          <h4>Sem sombra, com espaçamento e utilizando Grid System</h4>
        </div>
      </div>

      <div class="po-container-sample">
        <div class="po-container po-container-no-shadow">
          <h4>Sem sombra, com espaçamento e altura automática</h4>
        </div>
      </div>

      <div class="po-container-sample">
        <div class="po-container po-container-no-shadow po-container-no-padding p-height">
          <h4>Sem sombra, espaçamento e altura fixa</h4>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-container-sample po-sm-6 po-md-3">
        <div class="po-container po-container-no-border po-sm-6 po-md-3">
          <h4>Sem borda, com espaçamento e utilizando Grid System</h4>
        </div>
      </div>

      <div class="po-container-sample">
        <div class="po-container po-container-no-border">
          <h4>Sem borda, com espaçamento e altura automática</h4>
        </div>
      </div>

      <div class="po-container-sample">
        <div class="po-container po-container-no-border po-container-no-padding p-height">
          <h4>Sem borda, espaçamento e altura fixa</h4>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-container-sample">
        <div class="po-container p-height">
          <h4>Com sombra, espaçamento, altura fixa e bastante conteúdo:</h4>
          <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h7>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-container-sample">
        <div class="po-container po-container-no-border p-height">
          <h4>Sem borda, espaçamento, altura fixa e bastante conteúdo:</h4>
          <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h7>
        </div>
      </div>
    </div>

  </section>
</article>
