<article>
  <section>
    <br>
    <h4>Tipos</h4>
    <div class="po-disclaimer">
      <span class="po-disclaimer-label">Default</span>
    </div>

    <div class="po-disclaimer">
      <span class="po-disclaimer-label po-disclaimer-label-danger">Danger</span>
    </div>

    <div class="po-disclaimer">
      <span class="po-disclaimer-label">Default com ação</span>
      <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
    </div>

    <div class="po-disclaimer">
      <span class="po-disclaimer-label po-disclaimer-label-danger">Danger com ação</span>
      <span tabindex="0" class="po-disclaimer-remove po-disclaimer-remove-danger po-icon po-icon-close po-clickable"></span>
    </div>

    <br><br>

    <h4>Com Grid System</h4>

    <div class="po-disclaimer po-xl-1 po-lg-1 po-md-1 po-sm-1">
      <span class="po-disclaimer-label">1</span>
    </div>
    <div class="po-disclaimer po-xl-2 po-lg-2 po-md-2 po-sm-2">
        <span class="po-disclaimer-label">2</span>
    </div>
    <div class="po-disclaimer po-xl-3 po-lg-3 po-md-3 po-sm-3">
        <span class="po-disclaimer-label">3</span>
        <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
    </div>
    <div class="po-disclaimer po-xl-6 po-lg-6 po-md-6 po-sm-6">
        <span class="po-disclaimer-label">6</span>
        <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
    </div>

  </section>

</article>
