<style>
  @media (max-width: 540px) {
    .po-page-background-wrap, .po-page-blocked-user-mobile-bottom-alignment {
      position: static;
    }
  }

  @media (max-width: 768px) {
    .po-page-background-main-logo {
      display: none;
    }
  }

</style>

<article>
  <section>
    <br>
    <h4>Po Page Blocked User tela padrão.</h4>
    <br>
    <div class="po-page-blocked-user-wrapper">
      <div class="po-page-background-wrap">
        <div class="po-page-login-container">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg">
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-reason-content">
                  <img class="po-page-blocked-user-image po-mb-3" alt="Blocked user image" src="./assets/images/big-lock.svg">
                  <div class="po-page-blocked-user-header po-mb-md-3 po-row">
                    <div class="po-md-12">Opa!</div>
                  </div>
                </div>
                <div class="po-page-blocked-user-text po-font-text po-row">
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12 po-page-blocked-user-text-bold">Tivemos que bloquear essa tela temporariamente.</div>
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12">Mas não se preocupe! Basta fazer seu login novamente.</div>
                </div>
                <div class="po-page-blocked-user-mobile-bottom-alignment">
                  <div class="po-page-blocked-user-contact-group po-row po-mb-3">
                    <div class="po-page-blocked-user-contact-item po-md-6">
                      <a class="po-pr-1 po-page-blocked-user-link po-clickable" href="#" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-telephone po-pr-1"></span>
                          <span class="po-page-blocked-user-contact-text po-font-text">XX 0000 0000</span>
                        </div>
                      </a>
                    </div>
                    <div class="po-page-blocked-user-contact-item po-page-blocked-user-contact-mail po-md-6">
                      <a class="po-page-blocked-user-link po-clickable" href="#" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-mail po-pr-1 "></span>
                          <span class="po-page-blocked-user-contact-text po-clickable po-font-text">ti@empresa.com.br</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="po-row">
                    <div class="po-lg-12 po-page-blocked-user-button">
                      <button type="button" name="button" class="po-button po-button-primary">Voltar para o início</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br>
    <h4>Po Page Blocked User tela para senha expirada.</h4>
    <br>
    <div class="po-page-blocked-user-wrapper">
      <div class="po-page-background-wrap">
        <div class="po-page-login-container">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg">
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-reason-content">
                  <img class="po-page-blocked-user-image po-mb-3" alt="Blocked user image" src="./assets/images/expired.svg">
                  <div class="po-page-blocked-user-header po-mb-md-3 po-row">
                    <div class="po-md-12">Opa! Sua senha expirou</div>
                  </div>
                </div>
                <div class="po-page-blocked-user-text po-font-text po-row">
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12 po-page-blocked-user-text-bold">A cada 90 dias é preciso criar uma nova senha por
                    questão de segurança.
                    Após esses 90 dias seu acesso é bloqueado :( </div>
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12">Mas não se preocupe! Basta entrar em contato com o administrador do
                    sistema.</div>
                </div>
                <div class="po-page-blocked-user-mobile-bottom-alignment">
                  <div class="po-page-blocked-user-contact-group po-row po-mb-3">
                    <div class="po-page-blocked-user-contact-item po-md-6">
                      <a class="po-pr-1 po-page-blocked-user-link po-clickable" href="#" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-telephone po-pr-1"></span>
                          <span class="po-page-blocked-user-contact-text po-font-text">XX 0000 0000</span>
                        </div>
                      </a>
                    </div>
                    <div class="po-page-blocked-user-contact-item po-page-blocked-user-contact-mail po-md-6">
                      <a class="po-page-blocked-user-link po-clickable" href="mailto" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-mail po-pr-1 "></span>
                          <span class="po-page-blocked-user-contact-text po-clickable po-font-text">ti@empresa.com.br</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="po-row">
                    <div class="po-lg-12 po-page-blocked-user-button">
                      <button type="button" name="button" class="po-button po-button-primary">Voltar para o início</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br>
    <h4>Po Page Blocked User tela para login bloqueado.</h4>
    <br>
    <div class="po-page-blocked-user-wrapper">
      <div class="po-page-background-wrap">
        <div class="po-page-login-container">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg">
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-reason-content">
                  <img class="po-page-blocked-user-image po-mb-3" alt="Blocked user image" src="./assets/images/blocked-user.svg">
                  <div class="po-page-blocked-user-header po-mb-md-3 po-row">
                    <div class="po-md-12">Opa!</div>
                  </div>
                </div>
                <div class="po-page-blocked-user-text po-font-text po-row">
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12 po-page-blocked-user-text-bold">Para sua segurança, após 5 tentativas de senha
                    seu usuário fica bloqueado
                    e
                    não pode ser acessado em 24 horas :(</div>
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12">Isso é para evitar que hackers invadam sua conta.</div>
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12">Mas não se preocupe! Se você for o dono da conta e apenas esqueceu sua
                    senha,
                    basta entrar em contato com o suporte.</div>
                </div>
                <div class="po-page-blocked-user-mobile-bottom-alignment">
                  <div class="po-page-blocked-user-contact-group po-row po-mb-3">
                    <div class="po-page-blocked-user-contact-item po-md-6">
                      <a class="po-pr-1 po-page-blocked-user-link po-clickable" href="#" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-telephone po-pr-1"></span>
                          <span class="po-page-blocked-user-contact-text po-clickable po-font-text">XX 0000 0000</span>
                        </div>
                      </a>
                    </div>
                    <div class="po-page-blocked-user-contact-item po-page-blocked-user-contact-mail po-md-6">
                      <a class="po-page-blocked-user-link po-clickable" href="mailto" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-mail po-pr-1 "></span>
                          <span class="po-page-blocked-user-contact-text po-clickable po-font-text">ti@empresa.com.br</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="po-row">
                    <div class="po-lg-12 po-page-blocked-user-button">
                      <button type="button" name="button" class="po-button po-button-primary">Voltar para o início</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br>
    <h4>Po Page Blocked User tela padrão e contatos apresentando quantidade grande de caracteres</h4>
    <br>
    <div class="po-page-blocked-user-wrapper">
      <div class="po-page-background-wrap">
        <div class="po-page-login-container">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg">
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-reason-content">
                  <img class="po-page-blocked-user-image po-mb-3" alt="Blocked user image" src="./assets/images/big-lock.svg">
                  <div class="po-page-blocked-user-header po-mb-md-3 po-row">
                    <div class="po-md-12">Opa!</div>
                  </div>
                </div>
                <div class="po-page-blocked-user-text po-font-text po-row">
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12 po-page-blocked-user-text-bold">Tivemos que bloquear essa tela temporariamente.</div>
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12">Mas não se preocupe! Basta fazer seu login novamente.</div>
                </div>
                <div class="po-page-blocked-user-mobile-bottom-alignment">
                  <div class="po-page-blocked-user-contact-group po-row po-mb-3">
                    <div class="po-page-blocked-user-contact-item po-clickable po-md-6">
                      <a class="po-pr-1 po-page-blocked-user-contact-content po-page-blocked-user-link" href="#" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-telephone po-pr-1"></span>
                          <span class="po-page-blocked-user-contact-text po-clickable po-font-text">XX 0000 0000</span>
                        </div>
                      </a>
                    </div>
                    <div class="po-page-blocked-user-contact-item po-page-blocked-user-contact-mail po-md-12">
                      <a class="po-page-blocked-user-contact-content-inline po-page-blocked-user-link po-clickable" href="mailto" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-mail po-pr-1 "></span>
                          <span class="po-page-blocked-user-contact-text po-font-text">usuario.nome.sobrenome@empresa.com.br</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="po-row">
                    <div class="po-lg-12 po-page-blocked-user-button">
                      <button type="button" name="button" class="po-button po-button-primary">Voltar para o início</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br>
    <h4>Po Page Blocked User tela padrão e contatos com apenas um item e apresentando quantidade excedente de
      caracteres</h4>
    <br>
    <div class="po-page-blocked-user-wrapper">
      <div class="po-page-background-wrap">
        <div class="po-page-login-container">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg">
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-reason-content">
                  <img class="po-page-blocked-user-image po-mb-3" alt="Blocked user image" src="./assets/images/big-lock.svg">
                  <div class="po-page-blocked-user-header po-mb-md-3 po-row">
                    <div class="po-md-12">Opa!</div>
                  </div>
                </div>
                <div class="po-page-blocked-user-text po-font-text po-row">
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12 po-page-blocked-user-text-bold">Tivemos que bloquear essa tela temporariamente.</div>
                  <div class="po-mb-sm-2 po-mb-md-3 po-md-12">Mas não se preocupe! Basta fazer seu login novamente.</div>
                </div>
                <div class="po-page-blocked-user-mobile-bottom-alignment">
                  <div class="po-page-blocked-user-contact-group po-row po-mb-3">
                    <div class="po-page-blocked-user-contact-item po-page-blocked-user-contact-mail po-md-12">
                      <a class="po-page-blocked-user-contact-content-inline po-page-blocked-user-link po-clickable" href="mailto" target="_self">
                        <div class="po-page-blocked-user-contact-group-item">
                          <span class="po-page-blocked-user-contact-icon po-icon po-icon-mail po-pr-1 "></span>
                          <span class="po-page-blocked-user-contact-text po-clickable po-font-text">usuario.nome.sobrenome.sample.excedente.de.caracteres@empresa.com.br</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="po-row">
                    <div class="po-lg-12 po-sm-12 po-page-blocked-user-button">
                      <button type="button" name="button" class="po-button po-button-primary">Voltar para o início</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
