@font-face {
  font-family: 'PortinariIcon';
  src:  url('./../icons/PortinariIcon.eot?31xwv');
  src:  url('./../icons/PortinariIcon.eot?31xwv#iefix') format('embedded-opentype'),
    url('./../icons/PortinariIcon.ttf?31xwv') format('truetype'),
    url('./../icons/PortinariIcon.woff?31xwv') format('woff'),
    url('./../icons/PortinariIcon.svg?31xwv#PortinariIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='po-icon'], [class*=' po-icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PortinariIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.po-icon {
  display: inline-block;
  font: normal normal normal 14px/1 PortinariIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.po-icon.po-icon-agro-business:before {
  content: '\e91a';
}

.po-icon.po-icon-align-center:before {
  content: '\e93f';
}

.po-icon.po-icon-align-justify:before {
  content: '\e940';
}

.po-icon.po-icon-align-left:before {
  content: '\e941';
}

.po-icon.po-icon-align-right:before {
  content: '\e942';
}

.po-icon.po-icon-archive:before {
  content: '\e943';
}

.po-icon.po-icon-arrow-down:before {
  content: '\e908';
}

.po-icon.po-icon-arrow-left:before {
  content: '\e909';
}

.po-icon.po-icon-arrow-right:before {
  content: '\e910';
}

.po-icon.po-icon-arrow-up:before {
  content: '\e911';
}

.po-icon.po-icon-balance:before {
  content: '\e973';
}

.po-icon.po-icon-bar-code:before {
  content: '\e900';
}

.po-icon.po-icon-basket:before {
  content: '\e92d';
}

.po-icon.po-icon-bluetooth:before {
  content: '\e944';
}

.po-icon.po-icon-book:before {
  content: '\e974';
}

.po-icon.po-icon-calendar:before {
  content: '\e912';
}

.po-icon.po-icon-calendar-ok:before {
  content: '\e945';
}

.po-icon.po-icon-camera:before {
  content: '\e91b';
}

.po-icon.po-icon-cart:before {
  content: '\e92e';
}

.po-icon.po-icon-change:before {
  content: '\e946';
}

.po-icon.po-icon-chart-area:before {
  content: '\e947';
}

.po-icon.po-icon-chart-columns:before {
  content: '\e948';
}

.po-icon.po-icon-chat:before {
  content: '\e91c';
}

.po-icon.po-icon-clear-content:before {
  content: '\e949';
}

.po-icon.po-icon-clock:before {
  content: '\e913';
}

.po-icon.po-icon-close:before {
  content: '\e914';
}

.po-icon.po-icon-company:before {
  content: '\e92f';
}

.po-icon.po-icon-construction:before {
  content: '\e986';
}

.po-icon.po-icon-copy:before {
  content: '\e915';
}

.po-icon.po-icon-cotton:before {
  content: '\e97c';
}

.po-icon.po-icon-credit-payment:before {
  content: '\e930';
}

.po-icon.po-icon-cut:before {
  content: '\e94a';
}

.po-icon.po-icon-database:before {
  content: '\e94b';
}

.po-icon.po-icon-debit-payment:before {
  content: '\e931';
}

.po-icon.po-icon-delete:before {
  content: '\e916';
}

.po-icon.po-icon-device-desktop:before {
  content: '\e94c';
}

.po-icon.po-icon-device-notebook:before {
  content: '\e94d';
}

.po-icon.po-icon-device-smartphone:before {
  content: '\e94e';
}

.po-icon.po-icon-device-tablet:before {
  content: '\e94f';
}

.po-icon.po-icon-document:before {
  content: '\e917';
}

.po-icon.po-icon-document-double:before {
  content: '\e950';
}

.po-icon.po-icon-document-filled:before {
  content: '\e951';
}

.po-icon.po-icon-download:before {
  content: '\e952';
}

.po-icon.po-icon-edit:before {
  content: '\e918';
}

.po-icon.po-icon-exam:before {
  content: '\e953';
}

.po-icon.po-icon-exclamation:before {
  content: '\e954';
}

.po-icon.po-icon-exit:before {
  content: '\e906';
}

.po-icon.po-icon-export:before {
  content: '\e91d';
}

.po-icon.po-icon-eye:before {
  content: '\e955';
}

.po-icon.po-icon-eye-off:before {
  content: '\e925';
}

.po-icon.po-icon-filter:before {
  content: '\e919';
}

.po-icon.po-icon-finance:before {
  content: '\e91e';
}

.po-icon.po-icon-finance-bitcoin:before {
  content: '\e956';
}

.po-icon.po-icon-finance-secure:before {
  content: '\e957';
}

.po-icon.po-icon-first-page:before {
  content: '\e920';
}

.po-icon.po-icon-folder:before {
  content: '\e958';
}

.po-icon.po-icon-gas:before {
  content: '\e97d';
}

.po-icon.po-icon-gift:before {
  content: '\e959';
}

.po-icon.po-icon-grid:before {
  content: '\e95a';
}

.po-icon.po-icon-hdd:before {
  content: '\e95b';
}

.po-icon.po-icon-help:before {
  content: '\e90a';
}

.po-icon.po-icon-history:before {
  content: '\e987';
}

.po-icon.po-icon-home:before {
  content: '\e921';
}

.po-icon.po-icon-image-align-inline:before {
  content: '\e988';
}

.po-icon.po-icon-image-align-left:before {
  content: '\e989';
}

.po-icon.po-icon-image-align-right:before {
  content: '\e98a';
}

.po-icon.po-icon-info:before {
  content: '\e90b';
}

.po-icon.po-icon-injector:before {
  content: '\e95c';
}

.po-icon.po-icon-keyboard:before {
  content: '\e95d';
}

.po-icon.po-icon-last-page:before {
  content: '\e922';
}

.po-icon.po-icon-layers:before {
  content: '\e95e';
}

.po-icon.po-icon-light:before {
  content: '\e95f';
}

.po-icon.po-icon-like:before {
  content: '\e960';
}

.po-icon.po-icon-link:before {
  content: '\e98b';
}

.po-icon.po-icon-list:before {
  content: '\e923';
}

.po-icon.po-icon-lock:before {
  content: '\e924';
}

.po-icon.po-icon-lock-off:before {
  content: '\e93d';
}

.po-icon.po-icon-mail:before {
  content: '\e901';
}

.po-icon.po-icon-manufacture:before {
  content: '\e98c';
}

.po-icon.po-icon-map:before {
  content: '\e961';
}

.po-icon.po-icon-menu:before {
  content: '\e927';
}

.po-icon.po-icon-menu-close:before {
  content: '\e962';
}

.po-icon.po-icon-menu-open:before {
  content: '\e980';
}

.po-icon.po-icon-message:before {
  content: '\e928';
}

.po-icon.po-icon-microphone:before {
  content: '\e963';
}

.po-icon.po-icon-minus:before {
  content: '\e929';
}

.po-icon.po-icon-minus-circle:before {
  content: '\e964';
}

.po-icon.po-icon-money:before {
  content: '\e932';
}

.po-icon.po-icon-more:before {
  content: '\e92b';
}

.po-icon.po-icon-more-vert:before {
  content: '\e965';
}

.po-icon.po-icon-news:before {
  content: '\e91f';
}

.po-icon.po-icon-no-signal:before {
  content: '\e907';
}

.po-icon.po-icon-notification:before {
  content: '\e937';
}

.po-icon.po-icon-oil:before {
  content: '\e97f';
}

.po-icon.po-icon-oil-analysis:before {
  content: '\e97e';
}

.po-icon.po-icon-ok:before {
  content: '\e938';
}

.po-icon.po-icon-parameters:before {
  content: '\e967';
}

.po-icon.po-icon-paste:before {
  content: '\e968';
}

.po-icon.po-icon-picker:before {
  content: '\e969';
}

.po-icon.po-icon-picture:before {
  content: '\e96a';
}

.po-icon.po-icon-pin:before {
  content: '\e902';
}

.po-icon.po-icon-plus:before {
  content: '\e939';
}

.po-icon.po-icon-plus-circle:before {
  content: '\e96b';
}

.po-icon.po-icon-qr-code:before {
  content: '\e92a';
}

.po-icon.po-icon-refresh:before {
  content: '\e96c';
}

.po-icon.po-icon-sale:before {
  content: '\e933';
}

.po-icon.po-icon-search:before {
  content: '\e93a';
}

.po-icon.po-icon-server:before {
  content: '\e96d';
}

.po-icon.po-icon-settings:before {
  content: '\e93b';
}

.po-icon.po-icon-share:before {
  content: '\e93c';
}

.po-icon.po-icon-signal:before {
  content: '\e96e';
}

.po-icon.po-icon-social-github:before {
  content: '\e926';
}

.po-icon.po-icon-social-twitter:before {
  content: '\e93e';
}

.po-icon.po-icon-sort:before {
  content: '\e90e';
}

.po-icon.po-icon-sort-asc:before {
  content: '\e90c';
}

.po-icon.po-icon-sort-desc:before {
  content: '\e90d';
}

.po-icon.po-icon-star:before {
  content: '\e934';
}

.po-icon.po-icon-star-filled:before {
  content: '\e981';
}

.po-icon.po-icon-star-half:before {
  content: '\e982';
}

.po-icon.po-icon-stock:before {
  content: '\e935';
}

.po-icon.po-icon-table:before {
  content: '\e936';
}

.po-icon.po-icon-target:before {
  content: '\e96f';
}

.po-icon.po-icon-telephone:before {
  content: '\e903';
}

.po-icon.po-icon-text-bold:before {
  content: '\e970';
}

.po-icon.po-icon-text-italic:before {
  content: '\e971';
}

.po-icon.po-icon-text-underline:before {
  content: '\e972';
}

.po-icon.po-icon-touch:before {
  content: '\e983';
}

.po-icon.po-icon-travel:before {
  content: '\e975';
}

.po-icon.po-icon-upload:before {
  content: '\e976';
}

.po-icon.po-icon-upload-cloud:before {
  content: '\e977';
}

.po-icon.po-icon-user:before {
  content: '\e985';
}

.po-icon.po-icon-user-add:before {
  content: '\e904';
}

.po-icon.po-icon-user-delete:before {
  content: '\e978';
}

.po-icon.po-icon-users:before {
  content: '\e979';
}

.po-icon.po-icon-wallet:before {
  content: '\e92c';
}

.po-icon.po-icon-warning:before {
  content: '\e90f';
}

.po-icon.po-icon-weight:before {
  content: '\e97a';
}

.po-icon.po-icon-world:before {
  content: '\e905';
}

.po-icon.po-icon-zoom-in:before {
  content: '\e97b';
}

.po-icon.po-icon-zoom-out:before {
  content: '\e984';
}
