<style>

  .po-sample-tooltip {
    bottom: -52px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 103px;
  }

  .po-sample-button-group-tooltip {
    position: relative;
  }

</style>

<article>
  <section>
    <div>
      <div class="container">
        <div class="po-row">
          <div class="po-md-3">
            <br>
            <h4>Tamanho padrão</h4>
            <br>
            <h5>1 botão</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 1</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-3 po-sample-button-group-tooltip">
            <h5>1 botão com tooltip</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 1</button>
              </div>
              <div class="po-tooltip po-sample-tooltip">
                <div class="po-tooltip-arrow po-arrow-top"></div>
                <div class="po-tooltip-content">
                  tooltip text
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>2 botões</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 2</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>3 botões</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 2</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>3 botões e 1 inativo</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 1</button>
              </div>
              <div class="po-sm-12 po-button-group po-button-group-disabled">
                <button type="button" class="po-button" disabled>Ação 2</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Ação 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Múltipla seleção e nenhuma opção selecionada</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 2</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Multipla seleção e 1 opção selecionada</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-clickable">Seletor 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 2</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Multipla seleção e 2 opções selecionadas</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-clickable">Seletor 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 2</button>
              </div>
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-clickable">Seletor 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Multipla seleção, 1 selecionada e 1 inativa</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group po-button-group-disabled">
                <button type="button" class="po-button" disabled>Seletor 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">Seletor 2</button>
              </div>
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-clickable">Seletor 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <h4>Tamanho pequeno</h4>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Multipla seleção e nenhuma opção selecionada</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor 1</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor 2</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor 3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Multipla seleção e 1 opção selecionada</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor</button>
              </div>
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <h5>Multipla seleção, 1 opção selecionada e 1 selecionada e inativa</h5>
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor</button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-button-sm po-clickable">Seletor</button>
              </div>
              <div class="po-sm-12 po-button-group po-button-group-disabled po-button-group-button-selected">
                <button type="button" class="po-button po-button-sm" disabled>Seletor</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <h4>Botões contendo ícones</h4>
        <br>
        <div class="po-row">
          <div class="po-md-6">
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">
                  <span class="po-icon po-icon-user" aria-hidden="true"></span>
                  <span class="po-button-label">Ação 1</span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">
                  <span class="po-icon po-icon-cart" aria-hidden="true"></span>
                  <span class="po-button-label">Ação 2</span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">
                  <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
                  <span class="po-button-label">Ação 3</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <h4>Botões contendo apenas ícones</h4>
        <br>
        <div class="po-row">
          <div class="po-md-2">
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">
                  <span class="po-icon po-icon-text-bold" aria-hidden="true"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">
                  <span class="po-icon po-icon-text-italic" aria-hidden="true"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-clickable">
                  <span class="po-icon po-icon-text-underline" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </section>
</article>
