<div class="home-colorful-content">
  <div class="larger-boxes">
    <div class="larger-box color-1"></div>
    <div class="larger-box color-2"></div>
    <div class="larger-box color-3"></div>
    <div class="larger-box color-4"></div>
    <div class="larger-box color-5"></div>
    <div class="larger-box color-6"></div>
    <div class="larger-box color-7"></div>
    <div class="larger-box color-8"></div>
    <div class="larger-box color-9"></div>
    <div class="larger-box color-10"></div>
    <div class="larger-box color-11"></div>
    <div class="larger-box color-12"></div>
    <div class="larger-box color-13"></div>
    <div class="larger-box color-14"></div>
    <div class="larger-box color-15"></div>
    <div class="larger-box color-16"></div>
  </div>
  <div class="smaller-boxes">
    <div class="smaller-box color-16"></div>
    <div class="smaller-box color-15"></div>
    <div class="smaller-box color-14"></div>
    <div class="smaller-box color-13"></div>
    <div class="smaller-box color-12"></div>
    <div class="smaller-box color-11"></div>
    <div class="smaller-box color-10"></div>
    <div class="smaller-box color-9"></div>
    <div class="smaller-box color-8"></div>
    <div class="smaller-box color-7"></div>
    <div class="smaller-box color-6"></div>
    <div class="smaller-box color-5"></div>
    <div class="smaller-box color-4"></div>
    <div class="smaller-box color-3"></div>
    <div class="smaller-box color-2"></div>
    <div class="smaller-box color-17"></div>
  </div>
  <div class="po-row">
    <div class="po-offset-lg-1 po-offset-xl-2 po-lg-10 po-xl-8">
      <h1 class="title">PO UI</h1>
      <p class="library">Biblioteca de componentes baseado em Angular</p>
      <po-button
        class="star"
        p-icon="po-icon po-icon-star"
        p-label="Star {{ stargazers_count }}"
        p-type="primary"
        (p-click)="openExternalLink('https://github.com/po-ui/po-angular/stargazers')"
      >
      </po-button>
    </div>
  </div>
</div>
