<article>
  <section>
    <div class="po-row">
      <spam>Color-01 -</spam>
      <div class="po-badge po-color-01">
        <span class="po-badge-value">99+</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-02 -</h1>
      <div class="po-badge po-color-02">
        <span class="po-badge-value">10</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-03 -</h1>
      <div class="po-badge po-color-03">
        <span class="po-badge-value">5</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-04 -</h1>
      <div class="po-badge po-color-04">
        <span class="po-badge-value">85</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-05 -</h1>
      <div class="po-badge po-color-05">
        <span class="po-badge-value">24</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-06 -</h1>
      <div class="po-badge po-color-06">
        <span class="po-badge-value">3</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-07 -</h1>
      <div class="po-badge po-color-07">
        <span class="po-badge-value">9</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-08 -</h1>
      <div class="po-badge po-color-08">
        <span class="po-badge-value">22</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-09 -</h1>
      <div class="po-badge po-color-09">
        <span class="po-badge-value">18</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-10 -</h1>
      <div class="po-badge po-color-10">
        <span class="po-badge-value">35</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-11 -</h1>
      <div class="po-badge po-color-11">
        <span class="po-badge-value">12</span>
      </div>
    </div>

    <div class="po-row">
      <h1>Color-12 -</h1>
      <div class="po-badge po-color-12">
        <span class="po-badge-value">7</span>
      </div>
    </div>
  </section>
</article>
