<style>
    @media (max-width: 540px) {
      .po-page-change-password-wrapper {
        position: static;
      }

      .po-page-change-password-buttons {
        position: static;
      }

      .po-page-change-password .po-page-background-secondary-logo {
        position: absolute;
      }
    }

</style>

<article>
  <section>
    <br />
    <h4>Po Page Change Password tela padrão.</h4>
    <br />
    <div class="po-page-change-password-wrapper">
      <div class="po-page-change-password-container">
        <div class="po-page-login-container po-page-change-password">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg" />
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-header po-row">
                  <div class="po-md-12">Criar nova senha</div>
                  <div class="po-md-12 po-text-center po-font-text">Proteja sua conta com uma senha pessoal criada por você</div>
                </div>

                <div class="po-row po-mt-3 po-mt-sm-1">
                  <div class="po-md-6 po-offset-md-3 po-offset-lg-3 po-offset-xl-3">
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Senha atual</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                      </div>
                      <div class="po-field-container-bottom"></div>
                    </div>
                    <div class="po-text-center po-mb-sm-1 po-mb-2">
                      <a class="po-font-text-bold po-page-change-password-forgot-password" href="">Esqueceu sua senha?</a>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Nova senha</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Confirmar senha</span>
                        </div>
                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-sm-12">
                  <div class="po-divider"></div>
                </div>
                <div class="po-page-change-password-tips po-row">
                  <div class="po-md-2 po-mr-3">
                    <img class="po-page-change-password-lock-image" alt="Blocked user image" src="./assets/images/big-lock.svg" />
                  </div>
                  <div class="po-md-9 po-page-change-password-tips-text">
                    <div class="po-font-text-bold po-pb-1">Dicas de segurança!</div>
                    <div class="po-font-text-small">
                      <div class="po-row po-pb-1">Evite uma senha que:</div>
                      <div class="po-row po-pb-1">• seja usada em outras contas;</div>
                      <div class="po-row po-pb-1">• usa informações pessoais como seu, nome, apelido ou nome de familiares;</div>
                      <div class="po-row po-pb-1">
                        • use sequências muito óbvias como &quot;1234&quot; ou &quot;abcd&quot; ou palavras óbvias como “senha”;
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-page-change-password-buttons po-row">

                  <div class="po-sm-12 po-mobile-only">
                    <div class="po-divider"></div>
                  </div>
                  <div class="po-sm-6">
                    <button type="button" class="po-button po-text-ellipsis">
                      <span class="po-button-label">Cancelar</span>
                    </button>
                  </div>
                  <div class="po-sm-6">
                    <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
                      <span class="po-button-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="po-page-background-footer">
              <div class="po-page-background-secondary-logo po-page-background-secondary-logo-centered">
                <img class="po-page-background-secondary-logo-image" src="https://portinari.io/assets/graphics/portinari.svg" alt="logo-Portinari">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br />
    <h4>Po Page Change Password tela padrão e campo senha atual escondido.</h4>
    <br />
    <div class="po-page-change-password-wrapper">
      <div class="po-page-change-password-container">
        <div class="po-page-login-container po-page-change-password">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg" />
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-header po-row">
                  <div class="po-md-12">Criar nova senha</div>
                  <div class="po-md-12 po-text-center po-font-text">Proteja sua conta com uma senha pessoal criada por você</div>
                </div>

                <div class="po-row po-mt-3 po-mt-sm-1">
                  <div class="po-md-6 po-offset-md-3 po-offset-lg-3 po-offset-xl-3">
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Nova senha</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Confirmar senha</span>
                        </div>
                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-sm-12">
                  <div class="po-divider"></div>
                </div>
                <div class="po-page-change-password-tips po-row">
                  <div class="po-md-2 po-mr-3">
                    <img class="po-page-change-password-lock-image" alt="Blocked user image" src="./assets/images/big-lock.svg" />
                  </div>
                  <div class="po-md-9 po-page-change-password-tips-text">
                    <div class="po-font-text-bold po-pb-1">Dicas de segurança!</div>
                    <div class="po-font-text-small">
                      <div class="po-row po-pb-1">Evite uma senha que:</div>
                      <div class="po-row po-pb-1">• seja usada em outras contas;</div>
                      <div class="po-row po-pb-1">• usa informações pessoais como seu, nome, apelido ou nome de familiares;</div>
                      <div class="po-row po-pb-1">
                        • use sequências muito óbvias como &quot;1234&quot; ou &quot;abcd&quot; ou palavras óbvias como “senha”;
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-page-change-password-buttons po-row">

                  <div class="po-sm-12 po-mobile-only">
                    <div class="po-divider"></div>
                  </div>
                  <div class="po-md-12">
                    <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
                      <span class="po-button-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="po-page-background-footer">
              <div class="po-page-background-secondary-logo po-page-background-secondary-logo-centered">
                <img class="po-page-background-secondary-logo-image" src="https://portinari.io/assets/graphics/portinari.svg" alt="logo-Portinari">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br />
    <h4>Po Page Change Password tela padrão com requisitos de senha.</h4>
    <br />
    <div class="po-page-change-password-wrapper">
      <div class="po-page-change-password-container">
        <div class="po-page-login-container po-page-change-password">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg" />
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-header po-row">
                  <div class="po-md-12">Criar nova senha</div>
                  <div class="po-md-12 po-text-center po-font-text">Proteja sua conta com uma senha pessoal criada por você</div>
                </div>

                <div class="po-row po-mt-3 po-mt-sm-1">
                  <div class="po-md-6">
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Senha atual</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                      </div>
                      <div class="po-field-container-bottom"></div>
                    </div>
                    <div class="po-text-center po-mb-sm-1 po-mb-2">
                      <a class="po-font-text-bold po-page-change-password-forgot-password" href="">Esqueceu sua senha?</a>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Nova senha</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Confirmar senha</span>
                        </div>
                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                  </div>

                  <div class="po-container-sample po-md-6 po-page-change-password-required-container">
                    <div class="po-container">
                      <ul class="po-page-change-password-required-list">
                        <li class="po-page-change-password-required-item">
                          <p class="po-mb-1 po-font-text-bold po-page-change-password-required-title">
                            Requisitos de senha
                          </p>
                        </li>
                        <li class="po-page-change-password-required-item">
                          <span class="po-icon po-icon-ok po-page-change-password-required-icon po-page-change-password-required-ok"></span>
                          <p class="po-page-change-password-required-text po-font-text">
                            Use uma mistura de letras (ex. A, b, c), números (ex. 1, 2, 3) e símbolos (ex. !, @, #).
                          </p>
                        </li>
                        <li class="po-page-change-password-required-item">
                          <span class="po-icon po-icon-minus po-page-change-password-required-icon po-page-change-password-required-minus"></span>
                          <p class="po-page-change-password-required-text po-font-text">
                            Misture caracteres maiúsculos com minúsculos.
                          </p>
                        </li>
                        <li class="po-page-change-password-required-item">
                          <span class="po-icon po-icon-minus po-page-change-password-required-icon po-page-change-password-required-minus"></span>
                          <p class="po-page-change-password-required-text po-font-text">
                            Mínimo de 8 caracteres
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="po-sm-12">
                  <div class="po-divider"></div>
                </div>
                <div class="po-page-change-password-tips po-row">
                  <div class="po-md-2 po-mr-3">
                    <img class="po-page-change-password-lock-image" alt="Blocked user image" src="./assets/images/big-lock.svg" />
                  </div>
                  <div class="po-md-9 po-page-change-password-tips-text">
                    <div class="po-font-text-bold po-pb-1">Dicas de segurança!</div>
                    <div class="po-font-text-small">
                      <div class="po-row po-pb-1">Evite uma senha que:</div>
                      <div class="po-row po-pb-1">• seja usada em outras contas;</div>
                      <div class="po-row po-pb-1">• usa informações pessoais como seu, nome, apelido ou nome de familiares;</div>
                      <div class="po-row po-pb-1">
                        • use sequências muito óbvias como &quot;1234&quot; ou &quot;abcd&quot; ou palavras óbvias como “senha”;
                      </div>
                    </div>
                  </div>
                </div>

                <div class="po-page-change-password-buttons po-row">

                  <div class="po-sm-12 po-mobile-only">
                    <div class="po-divider"></div>
                  </div>

                  <div class="po-sm-6">
                    <button type="button" class="po-button po-text-ellipsis">
                      <span class="po-button-label">Cancelar</span>
                    </button>
                  </div>

                  <div class="po-sm-6">
                    <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
                      <span class="po-button-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="po-page-background-footer">
              <div class="po-page-background-secondary-logo po-page-background-secondary-logo-centered">
                <img class="po-page-background-secondary-logo-image" src="https://portinari.io/assets/graphics/portinari.svg" alt="logo-Portinari">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br />
    <h4>Po Page Change Password tela padrão e campo senha atual escondido com requisitos de senha.</h4>
    <br />
    <div class="po-page-change-password-wrapper">
      <div class="po-page-change-password-container">
        <div class="po-page-login-container po-page-change-password">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg" />
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-header po-row">
                  <div class="po-md-12">Criar nova senha</div>
                  <div class="po-md-12 po-text-center po-font-text">Proteja sua conta com uma senha pessoal criada por você</div>
                </div>

                <div class="po-row po-mt-3 po-mt-sm-1">
                  <div class="po-md-6">
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Nova senha</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Confirmar senha</span>
                        </div>
                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input type="password" class="po-input po-input-icon-left po-input-icon-right" placeholder="Insira sua senha" />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                  </div>

                  <div class="po-container-sample po-md-6 po-page-change-password-required-container">
                    <div class="po-container">
                      <ul class="po-page-change-password-required-list">
                        <li class="po-page-change-password-required-item">
                          <p class="po-mb-1 po-font-text-bold po-page-change-password-required-title">
                            Requisitos de senha
                          </p>
                        </li>
                        <li class="po-page-change-password-required-item">
                          <span class="po-icon po-icon-ok po-page-change-password-required-icon po-page-change-password-required-ok"></span>
                          <p class="po-page-change-password-required-text po-font-text">
                            Use uma mistura de letras (ex. A, b, c), números (ex. 1, 2, 3) e símbolos (ex. !, @, #).
                          </p>
                        </li>
                        <li class="po-page-change-password-required-item">
                          <span class="po-icon po-icon-minus po-page-change-password-required-icon po-page-change-password-required-minus"></span>
                          <p class="po-page-change-password-required-text po-font-text">
                            Misture caracteres maiúsculos com minúsculos.
                          </p>
                        </li>
                        <li class="po-page-change-password-required-item">
                          <span class="po-icon po-icon-minus po-page-change-password-required-icon po-page-change-password-required-minus"></span>
                          <p class="po-page-change-password-required-text po-font-text">
                            Mínimo de 8 caracteres
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="po-sm-12">
                <div class="po-divider"></div>
              </div>
                <div class="po-page-change-password-tips po-row">
                  <div class="po-md-2 po-mr-3">
                    <img class="po-page-change-password-lock-image" alt="Blocked user image" src="./assets/images/big-lock.svg" />
                  </div>
                  <div class="po-md-9 po-page-change-password-tips-text">
                    <div class="po-font-text-bold po-pb-1">Dicas de segurança!</div>
                    <div class="po-font-text-small">
                      <div class="po-row po-pb-1">Evite uma senha que:</div>
                      <div class="po-row po-pb-1">• seja usada em outras contas;</div>
                      <div class="po-row po-pb-1">• usa informações pessoais como seu, nome, apelido ou nome de familiares;</div>
                      <div class="po-row po-pb-1">
                        • use sequências muito óbvias como &quot;1234&quot; ou &quot;abcd&quot; ou palavras óbvias como “senha”;
                      </div>
                    </div>
                  </div>
                </div>

                <div class="po-page-change-password-buttons po-row">

                  <div class="po-sm-12 po-mobile-only">
                    <div class="po-divider"></div>
                  </div>

                  <div class="po-md-12">
                    <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
                      <span class="po-button-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="po-page-background-footer">
              <div class="po-page-background-secondary-logo po-page-background-secondary-logo-centered">
                <img class="po-page-background-secondary-logo-image" src="https://portinari.io/assets/graphics/portinari.svg" alt="logo-Portinari">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br />
    <h4>Po Page Change Password com campos preenchidos e botão habilitado.</h4>
    <br />
    <div class="po-page-change-password-wrapper">
      <div class="po-page-change-password-container">
        <div class="po-page-login-container po-page-change-password">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg" />
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-header po-row">
                  <div class="po-md-12">Criar nova senha</div>
                  <div class="po-md-12 po-text-center po-font-text">Proteja sua conta com uma senha pessoal criada por você</div>
                </div>

                <div class="po-row po-mt-3 po-mt-sm-1">
                  <div class="po-md-6 po-offset-md-3 po-offset-lg-3 po-offset-xl-3">
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Senha atual</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input
                            type="password"
                            class="po-input po-input-icon-left po-input-icon-right"
                            value="s3nh@!"
                            placeholder="Insira sua senha"
                          />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                      </div>
                      <div class="po-field-container-bottom"></div>
                    </div>
                    <div class="po-text-center po-mb-sm-1 po-mb-2">
                      <a class="po-font-text-bold po-page-change-password-forgot-password" href="">Esqueceu sua senha?</a>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Nova senha</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input
                            type="password"
                            value="N0v4s3nh@!"
                            class="po-input po-input-icon-left po-input-icon-right"
                            placeholder="Insira sua senha"
                          />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Confirmar senha</span>
                        </div>
                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input
                            type="password"
                            value="N0v4s3nh@!"
                            class="po-input po-input-icon-left po-input-icon-right"
                            placeholder="Insira sua senha"
                          />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-sm-12">
                  <div class="po-divider"></div>
                </div>
                <div class="po-page-change-password-tips po-row">
                  <div class="po-md-2 po-mr-3">
                    <img class="po-page-change-password-lock-image" alt="Blocked user image" src="./assets/images/big-lock.svg" />
                  </div>
                  <div class="po-md-9 po-page-change-password-tips-text">
                    <div class="po-font-text-bold po-pb-1">Dicas de segurança!</div>
                    <div class="po-font-text-small">
                      <div class="po-row po-pb-1">Evite uma senha que:</div>
                      <div class="po-row po-pb-1">• seja usada em outras contas;</div>
                      <div class="po-row po-pb-1">• usa informações pessoais como seu, nome, apelido ou nome de familiares;</div>
                      <div class="po-row po-pb-1">
                        • use sequências muito óbvias como &quot;1234&quot; ou &quot;abcd&quot; ou palavras óbvias como “senha”;
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-page-change-password-buttons po-row">

                  <div class="po-sm-12 po-mobile-only">
                    <div class="po-divider"></div>
                  </div>

                  <div class="po-sm-6">
                    <button type="button" class="po-button po-text-ellipsis">
                      <span class="po-button-label">Cancelar</span>
                    </button>
                  </div>

                  <div class="po-sm-6">
                    <button type="button" class="po-button po-button-primary po-text-ellipsis">
                      <span class="po-button-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="po-page-background-footer">
              <div class="po-page-background-secondary-logo po-page-background-secondary-logo-centered">
                <img class="po-page-background-secondary-logo-image" src="https://portinari.io/assets/graphics/portinari.svg" alt="logo-Portinari">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section>
    <br />
    <h4>Po Page Change Password com mensagem de senha alterada com sucesso.</h4>
    <br />
    <div class="container-relative" style="position:relative">
      <div class="po-overlay-absolute">
        <div class="po-modal-container po-p-2">
          <div class="po-modal-vertical-align">
            <div tabindex="-1" class="po-modal-content po-modal-auto">
              <div class="po-modal-header">
                <div class="po-modal-title">
                  Senha alterada com sucesso!
                </div>
              </div>
              <div class="po-modal-body">
                <div class="po-text-center">
                  <img class="po-page-change-password-lock-image" alt="Blocked user image" src="./assets/images/success.svg" />
                </div>
              </div>
              <div class="po-modal-footer">
                <po-button class="po-button-modal-first-action">
                  <button class="po-button po-button-primary" type="button">
                    Entrar no sistema
                  </button>
                </po-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="po-page-change-password-wrapper">
        <div class="po-page-change-password-container">
          <div class="po-page-login-container po-page-change-password">
          <div class="po-page-login-panel">
            <img class="po-page-background-main-logo" alt="logo-portinari" src="https://portinari.io/assets/graphics/portinari.svg" />
            <div class="po-page-login-body">
              <div class="po-page-login-panel-content">
                <div class="po-page-blocked-user-header po-row">
                  <div class="po-md-12">Criar nova senha</div>
                  <div class="po-md-12 po-text-center po-font-text">Proteja sua conta com uma senha pessoal criada por você</div>
                </div>

                <div class="po-row po-mt-3 po-mt-sm-1">
                  <div class="po-md-6 po-offset-md-3 po-offset-lg-3 po-offset-xl-3">
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Senha atual</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input
                            type="password"
                            class="po-input po-input-icon-left po-input-icon-right"
                            value="s3nh@!"
                            placeholder="Insira sua senha"
                          />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                      </div>
                      <div class="po-field-container-bottom"></div>
                    </div>
                    <div class="po-text-center po-mb-sm-1 po-mb-2">
                      <a class="po-font-text-bold po-page-change-password-forgot-password" href="">Esqueceu sua senha?</a>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Nova senha</span>
                        </div>

                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input
                            type="password"
                            value="N0v4s3nh@!"
                            class="po-input po-input-icon-left po-input-icon-right"
                            placeholder="Insira sua senha"
                          />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                    <div>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Confirmar senha</span>
                        </div>
                        <div class="po-field-container-content ng-valid">
                          <div class="po-field-icon-container-left">
                            <span class="po-icon po-field-icon po-icon-lock"></span>
                          </div>
                          <input
                            type="password"
                            value="N0v4s3nh@!"
                            class="po-input po-input-icon-left po-input-icon-right"
                            placeholder="Insira sua senha"
                          />
                          <div class="po-field-icon-container-right">
                            <span class="po-icon po-field-icon po-icon-eye-off po-field-icon-disabled"></span>
                          </div>
                        </div>
                        <div class="po-field-container-bottom"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-sm-12">
                  <div class="po-divider"></div>
                </div>
                <div class="po-page-change-password-tips po-row">
                  <div class="po-md-2 po-mr-3">
                    <img class="po-page-change-password-lock-image" alt="Lock image" src="./assets/images/big-lock.svg" />
                  </div>
                  <div class="po-md-9 po-page-change-password-tips-text">
                    <div class="po-font-text-bold po-pb-1">Dicas de segurança!</div>
                    <div class="po-font-text-small">
                      <div class="po-row po-pb-1">Evite uma senha que:</div>
                      <div class="po-row po-pb-1">• seja usada em outras contas;</div>
                      <div class="po-row po-pb-1">• usa informações pessoais como seu, nome, apelido ou nome de familiares;</div>
                      <div class="po-row po-pb-1">
                        • use sequências muito óbvias como &quot;1234&quot; ou &quot;abcd&quot; ou palavras óbvias como “senha”;
                      </div>
                    </div>
                  </div>
                </div>
                <div class="po-page-change-password-buttons po-row">

                  <div class="po-sm-12 po-mobile-only">
                    <div class="po-divider"></div>
                  </div>

                  <div class="po-sm-6">
                    <button type="button" class="po-button po-text-ellipsis">
                      <span class="po-button-label">Cancelar</span>
                    </button>
                  </div>

                  <div class="po-sm-6">
                    <button type="button" class="po-button po-button-primary po-text-ellipsis">
                      <span class="po-button-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="po-page-background-footer">
              <div class="po-page-background-secondary-logo po-page-background-secondary-logo-centered">
                <img class="po-page-background-secondary-logo-image" src="https://portinari.io/assets/graphics/portinari.svg" alt="logo-Portinari">
              </div>
            </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
