.po-page-change-password-wrapper {
  height: 100%;
}

.po-page-change-password-container {
  height: 100%;
}

.po-page-change-password .po-page-login-body {
  max-width: 730px;
}

.po-page-change-password-forgot-password {
  color: var(--color-page-change-password-color-link);
  text-decoration: none;
}

.po-page-change-password-lock-image {
  width: 120px;
}

.po-page-change-password-tips-text {
  color: var(--color-page-change-password-color-text);
}

.po-page-change-password-required-container {
  padding: 8px;
}

.po-page-change-password-required-container .po-container {
  background-color: var(--color-page-change-password-background-color-container); 
}

.po-page-change-password-required-list {
  list-style-type: none;
  position: relative;
}

.po-page-change-password-required-item {
  padding-left: 33px;
}

.po-page-change-password-required-title {
  color: var(--color-page-change-password-color-required)
}

.po-page-change-password-required-icon {
  font-size: 24px;
  left: 0px;
  position: absolute;
  text-align: center;
}

.po-page-change-password-required-ok {
  color: var(--color-page-change-password-color-required-ok);
}

.po-page-change-password-required-minus {
  color: var(--color-page-change-password-color-required-minus);
}

.po-page-change-password-required-text {
  color: var(--color-page-change-password-color-required-text);
}

.po-page-change-password-required-item:not(:last-child) .po-page-change-password-required-text {
  padding-bottom: 8px;
}

@media (min-width: 481px) {
  
  .po-page-change-password-required-container {
    padding-left: 24px;
  }

}

@media (min-width: 481px) and (max-width: 960px) {

  .po-page-change-password-lock-image {
    width: 100px;
  }
}

@media (max-width: 480px) {

  .po-page-change-password-lock-image {
    margin-left: 80%;
    position: absolute;
    width: 15%;
  }

  .po-page-change-password-required-text {
    font-size: 12px;
  }

  .po-page-blocked-user-header {
    font-size: 24px;
  }
}

@media (max-width: 540px) {

  .po-page-change-password-wrapper {
    bottom: 0;
    position: fixed;
    top: 0;
  }

  .po-page-change-password-tips {
    padding-bottom: 60px;
  }

  .po-page-change-password-container {
    height: 100%;
    overflow: auto;
  }

  .po-page-change-password-buttons {
    background-color: var(--color-page-change-password-background-color-buttons);
    bottom: 32px;
    padding-bottom: 12px;
    position: fixed;
  }

  .po-page-change-password .po-page-background-secondary-logo {
    background-color: var(--color-page-change-password-background-color-secondary-logo);
    bottom: 0;
    height: 32px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 100%;
  }
}

@media (max-width: 320px) {

  .po-page-change-password-buttons {
    bottom: 0;
  }

  .po-page-change-password-wrapper {
    bottom: 0;
  }

  .po-page-change-password .po-page-background-secondary-logo {
    display: none;
  }
}
