<style>
  .po-chart-tooltip {
    left: 28%;
    position: absolute;
    top: -4%;
  }
</style>

<article>
  <section>
    <div class="po-row">
      <div class="po-md-4">
        <div class="po-chart-wrapper">
          <div class="po-chart-header">
            <div class="po-chart-title">PO Chart Pie</div>
          </div>
          <div class="po-chart-body">
            <div class="po-chart-svg-container"></div>
            <div class="po-chart-tooltip po-tooltip po-invisible">
              <div class="po-tooltip-arrow po-arrow-bottom"></div>
              <div class="po-tooltip-content">Tooltip</div>
            </div>
          </div>
          <div class="po-chart-legend">
            <div class="po-chart-legend-container">
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 1</span>
              </div>
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 2</span>
              </div>
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 3</span>
              </div>
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 4</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4">
        <div class="po-chart-wrapper">
          <div class="po-chart-header">
            <div class="po-chart-title">PO Chart Pie com Tooltip</div>
          </div>
          <div class="po-chart-body">
            <div class="po-chart-svg-container"></div>
            <div class="po-chart-tooltip po-tooltip">
              <div class="po-tooltip-arrow po-arrow-bottom"></div>
              <div class="po-tooltip-content">Tooltip</div>
            </div>
          </div>
          <div class="po-chart-legend">
            <div class="po-chart-legend-container">
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 1</span>
              </div>
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 2</span>
              </div>
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 3</span>
              </div>
              <div class="po-chart-legend-item">
                <div class="po-chart-legend-square"></div>
                <span class="po-chart-legend-text">Item 4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<script src="css/components/po-chart/po-chart.js"></script>
