<article>
  <section>
    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Simples</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
            <span class="po-tag-value">Erro</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Ícones</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
            <span class="po-icon po-icon-ok"></span>
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
            <span class="po-icon po-icon-warning"></span>
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
            <span class="po-icon po-icon-close"></span>
            <span class="po-tag-value">Erro</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Utilizando paleta de cores</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-01" tabindex="0">
            <span class="po-tag-value">Color 01</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-02" tabindex="0">
            <span class="po-tag-value">Color 02</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-03" tabindex="0">
            <span class="po-tag-value">Color 03</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-04" tabindex="0">
            <span class="po-tag-value">Color 04</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-05" tabindex="0">
            <span class="po-tag-value">Color 05</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-06" tabindex="0">
            <span class="po-tag-value">Color 06</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-07" tabindex="0">
            <span class="po-tag-value">Color 07</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-08" tabindex="0">
            <span class="po-tag-value">Color 08</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-09" tabindex="0">
            <span class="po-tag-value">Color 09</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-10" tabindex="0">
            <span class="po-tag-value">Color 10</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-11" tabindex="0">
            <span class="po-tag-value">Color 11</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-12" tabindex="0">
            <span class="po-tag-value">Color 12</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Utilizando paleta de cores e ícones</h4>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-01" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 01</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-02" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 02</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-03" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 03</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-04" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 04</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-05" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 05</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-06" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 06</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-07" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 07</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-08" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 08</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-09" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 09</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-10" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 10</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-11" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 11</span>
          </div>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag-sub-container">
          <div class="po-tag po-tag-no-horizontal po-color-12" tabindex="0">
            <span class="po-icon po-icon-star"></span>
            <span class="po-tag-value">Color 12</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label - Vertical</h4>

      <div class="po-row">
        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label e ícones - Vertical</h4>
      <div class="po-row">
        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-success" tabindex="0">
              <span class="po-icon po-icon-ok"></span>
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-warning" tabindex="0">
              <span class="po-icon po-icon-warning"></span>
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-danger" tabindex="0">
              <span class="po-icon po-icon-close"></span>
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label - Horizontal</h4>

      <div class="po-row">
        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-success" tabindex="0">
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-warning" tabindex="0">
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-danger" tabindex="0">
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label e ícones - Horizontal</h4>

      <div class="po-row">

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-success" tabindex="0">
              <span class="po-icon po-icon-ok"></span>
              <span class="po-tag-value">Sucesso</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-warning" tabindex="0">
              <span class="po-icon po-icon-warning"></span>
              <span class="po-tag-value">Atenção</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-danger" tabindex="0">
              <span class="po-icon po-icon-close"></span>
              <span class="po-tag-value">Erro</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação:</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Alinhamento entre Info e Tag</h4>

      <div class="po-row po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <div class="po-tag-container po-tag-container-horizontal po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Horizontal</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Horizontal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="po-row po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <div class="po-tag-container po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-tag-value">Vertical</span>
            </div>
          </div>
        </div>

        <div class="po-tag-container po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info" tabindex="0">
              <span class="po-icon po-icon-info"></span>
              <span class="po-tag-value">Vertical</span>
            </div>
          </div>
        </div>
      </div>

      <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <h4 class="po-mb-md-2">Clicável</h4>

        <div class="po-tag-container">
          <div class="po-tag-sub-container">
            <div class="po-tag po-tag-no-horizontal po-tag-info po-clickable" tabindex="0">
              <span class="po-tag-value">Informação</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</article>
