<article>
  <section>
    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Simples</h4>

      <div class="po-tag-container">
        <div class="po-tag po-tag-success">
          <span class="po-tag-value">Sucesso</span>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag po-tag-warning">
          <span class="po-tag-value">Atenção</span>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag po-tag-danger">
          <span class="po-tag-value">Erro</span>
        </div>
      </div>

      <div class="po-tag-container">
        <div class="po-tag po-tag-info">
          <span class="po-tag-value">Informação</span>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Ícones</h4>

      <div class="po-tag po-tag-success">
        <span class="po-icon po-icon-ok"></span>
        <span class="po-tag-value">Sucesso</span>
      </div>

      <div class="po-tag po-tag-warning">
        <span class="po-icon po-icon-warning"></span>
        <span class="po-tag-value">Atenção</span>
      </div>

      <div class="po-tag po-tag-danger">
        <span class="po-icon po-icon-close"></span>
        <span class="po-tag-value">Erro</span>
      </div>

      <div class="po-tag po-tag-info">
        <span class="po-icon po-icon-info"></span>
        <span class="po-tag-value">Informação</span>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label - Vertical</h4>

      <div class="po-row">
        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso</span>
          </div>
          <div class="po-tag po-tag-success">
            <span class="po-icon po-icon-ok"></span>
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção</span>
          </div>
          <div class="po-tag po-tag-warning">
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro</span>
          </div>
          <div class="po-tag po-tag-danger">
            <span class="po-tag-value">Erro</span>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label e ícones - Vertical</h4>
      <div class="po-row">
        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso</span>
          </div>
          <div class="po-tag po-tag-success">
            <span class="po-icon po-icon-ok"></span>
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção</span>
          </div>
          <div class="po-tag po-tag-warning">
            <span class="po-icon po-icon-warning"></span>
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro</span>
          </div>
          <div class="po-tag po-tag-danger">
            <span class="po-icon po-icon-close"></span>
            <span class="po-tag-value">Erro</span>
          </div>
        </div>

        <div class="po-tag-container po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Horizontal</h4>

      <div class="po-row">
        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso:</span>
          </div>
          <div class="po-tag po-tag-success">
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção:</span>
          </div>
          <div class="po-tag po-tag-warning">
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro:</span>
          </div>
          <div class="po-tag po-tag-danger">
            <span class="po-tag-value">Erro</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação:</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Label e Ícones - Horizontal</h4>

      <div class="po-row">

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Sucesso:</span>
          </div>
          <div class="po-tag po-tag-success">
            <span class="po-icon po-icon-ok"></span>
            <span class="po-tag-value">Sucesso</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Atenção:</span>
          </div>
          <div class="po-tag po-tag-warning">
            <span class="po-icon po-icon-warning"></span>
            <span class="po-tag-value">Atenção</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Erro:</span>
          </div>
          <div class="po-tag po-tag-danger">
            <span class="po-icon po-icon-close"></span>
            <span class="po-tag-value">Erro</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-3">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Informação:</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
      <h4 class="po-mb-md-2">Alinhamento entre Info e Tag</h4>

      <div class="po-row po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <div class="po-info po-field-container po-md-2">
          <div class="po-field-container-title po-info-label-horizontal po-text-nowrap">
            <span class="po-info-label">Portinari Info:</span>
          </div>

          <div class="po-info-value-horizontal">
            <span class="po-info-value"> Horizontal </span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-tag-value">Horizontal</span>
          </div>
        </div>

        <div class="po-tag-container po-tag-container-horizontal po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Horizontal</span>
          </div>
        </div>
      </div>

      <div class="po-row po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <div class="po-info po-field-container po-md-2">
          <div class="po-field-container-title">
            <span class="po-field-title">Portinari Info</span>
          </div>

          <div class="po-field-container-content">
            <span class="po-info-value">Vertical</span>
          </div>
        </div>

        <div class="po-tag-container po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-tag-value">Vertical</span>
          </div>
        </div>

        <div class="po-tag-container po-md-2">
          <div class="po-tag-title po-text-nowrap">
            <span class="po-tag-label">Portinari Tag</span>
          </div>
          <div class="po-tag po-tag-info">
            <span class="po-icon po-icon-info"></span>
            <span class="po-tag-value">Vertical</span>
          </div>
        </div>
      </div>

      <div class="po-mb-sm-4 po-mb-md-4 po-mb-lg-4">
        <h4 class="po-mb-md-2">Clicável</h4>
  
        <div class="po-tag-container">
          <div class="po-tag po-tag-info po-clickable">
            <span class="po-tag-value">Informação</span>
          </div>
        </div>
      </div>
    </div>  
  </section>
</article>