:root {
  --font-tag-font: {
    @apply --font-text-smaller;
    line-height: 0;
  }

  --font-tag-font-icon: {
    @apply --font-text-small;
    line-height: 0;
  }

  --font-tag-font-label: {
    @apply --font-text-bold;
  }
}

.po-tag-container {
  display: inline-table;
  white-space: nowrap;
}

.po-tag-sub-container {
  display: inline-table;
  height: 20px;
  position: relative;
  vertical-align: middle;
}

.po-tag {
  border: none;
  border-radius: 3px;
  color: var(--color-tag-color);
  display: table;
  height: 20px;
  padding: 0 8px;
  word-wrap: break-word;
}

.po-tag-inverse {
  background-color: var(--color-tag-background-color-white);
}

.po-tag:focus {
  outline: none;
}

.po-tag:focus:before {
  border-radius: 1px;
  border: 2px dashed var(--color-tag-border-color-dashed-focus);
  box-sizing: border-box;
  content: "";
  height: calc(100% + 8px);
  left: -4px;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
}

.po-tag-value {
  @apply --font-tag-font;
  display: table-cell;
  vertical-align: middle;
}

.po-tag-title {
  display: table;
  padding-bottom: 8px; /* alinhamento com po-info vertical */
  vertical-align: middle;
}

.po-tag-label {
  @apply --font-tag-font-label;
  color: var(--color-tag-color-text-label);
}

.po-tag-container-horizontal .po-tag-title {
  display: inline-table;
  padding-bottom: 0;
}

.po-tag-container-horizontal .po-tag-label {
  padding: 0 8px 0 0;
}

.po-tag .po-icon {
  @apply --font-tag-font-icon;
  display: table-cell;
  vertical-align: middle;
}

.po-tag .po-icon::before {
  margin: 0 4px 0 -2px;
}

.po-tag-danger {
  background-color: var(--color-tag-background-color-danger);
}

.po-tag-danger-inverse {
  background-color: var(--color-tag-background-color-white);
  border: 1px solid var(--color-tag-color-danger);
  color: var(--color-tag-color-danger);
}

.po-tag-info {
  background-color: var(--color-tag-background-color-info);
}

.po-tag-info-inverse {
  background-color: var(--color-tag-background-color-white);
  border: 1px solid var(--color-tag-color-info);
  color: var(--color-tag-color-info);
}

.po-tag-success {
  background-color: var(--color-tag-background-color-success);
}

.po-tag-success-inverse {
  background-color: var(--color-tag-background-color-white);
  border: 1px solid var(--color-tag-color-success);
  color: var(--color-tag-color-success);
}

.po-tag-warning {
  background-color: var(--color-tag-background-color-warning);
}

.po-tag-warning-inverse {
  background-color: var(--color-tag-background-color-white);
  border: 1px solid var(--color-tag-color-warning);
  color: var(--color-tag-color-warning);
}

.po-tag-inverse.po-text-color-01 {
  border: 1px solid var(--color-tag-inverse-border-color-01);
}

.po-tag-inverse.po-text-color-02 {
  border: 1px solid var(--color-tag-inverse-border-color-02);
}

.po-tag-inverse.po-text-color-03 {
  border: 1px solid var(--color-tag-inverse-border-color-03);
}

.po-tag-inverse.po-text-color-04 {
  border: 1px solid var(--color-tag-inverse-border-color-04);
}

.po-tag-inverse.po-text-color-05 {
  border: 1px solid var(--color-tag-inverse-border-color-05);
}

.po-tag-inverse.po-text-color-06 {
  border: 1px solid var(--color-tag-inverse-border-color-06);
}

.po-tag-inverse.po-text-color-07 {
  border: 1px solid var(--color-tag-inverse-border-color-07);
}

.po-tag-inverse.po-text-color-08 {
  border: 1px solid var(--color-tag-inverse-border-color-08);
}

.po-tag-inverse.po-text-color-09 {
  border: 1px solid var(--color-tag-inverse-border-color-09);
}

.po-tag-inverse.po-text-color-10 {
  border: 1px solid var(--color-tag-inverse-border-color-10);
}

.po-tag-inverse.po-text-color-11 {
  border: 1px solid var(--color-tag-inverse-border-color-11);
}

.po-tag-inverse.po-text-color-12 {
  border: 1px solid var(--color-tag-inverse-border-color-12);
}

@media print {

  .po-tag {
    color-adjust: exact;
  }

}
