<po-page-default p-title="Teste: Infinite Scroll + Virtual Scroll">
  <div class="po-row po-mb-2">
    <div class="po-md-12">
      <strong>Carregados:</strong> {{ items.length }} / {{ totalAvailable }}
      <span class="po-ml-3">|</span>
      <span class="po-ml-3"><strong>Página:</strong> {{ currentPage }}</span>
      <span class="po-ml-3">|</span>
      <span class="po-ml-3"><strong>Loading:</strong> {{ loading }}</span>
    </div>
  </div>

  <div class="po-row po-mb-2">
    <po-button class="po-mr-2" p-label="Reset" (p-click)="reset()"></po-button>
  </div>

  <div class="po-row">
    <po-table
      class="po-sm-12"
      [p-items]="items"
      [p-columns]="columns"
      [p-virtual-scroll]="true"
      [p-height]="height"
      [p-striped]="true"
      [p-loading-show-more]="loading"
      [p-infinite-scroll]="true"
      (p-show-more)="loadMore()"
    >
    </po-table>
  </div>
</po-page-default>
