<style>
  .inline {
    display: inline-block;
    padding-right: 16px;
  }

  .container {
    padding: 8px;
  }
  h4 {
    margin-top: 16px;
  }
</style>

<article>
  <section>
    <br>
    <h4>Tipos</h4>
    <div class="container">
      <div class="inline">
        <button type="button" class="po-button po-text-ellipsis">
          <span class="po-button-label">Default</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-text-ellipsis" disabled>
          <span class="po-button-label">Default</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-text-ellipsis">
          <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
          <span class="po-button-label">Portinari</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-text-ellipsis" disabled>
          <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
          <span class="po-button-label">Portinari</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-text-ellipsis" disabled>
          <div class="po-button-loading-icon">
            <div class="po-loading-icon po-loading-icon-neutral-color">
              <span class="po-loading-icon-bar po-loading-icon-bar-1"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-2"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-3"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-4"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-5"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-6"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-7"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-8"></span>
            </div>
          </div>
          <span class="po-button-label">Loading...</span>
        </button>
      </div>
    </div>

    <div class="container">
      <div class="inline">
        <button type="button" class="po-button po-button-primary po-text-ellipsis">
          <span class="po-button-label">Primary</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
          <span class="po-button-label">Primary</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-primary po-text-ellipsis">
          <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
          <span class="po-button-label">Portinari</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
          <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
          <span class="po-button-label">Portinari</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-primary po-text-ellipsis" disabled>
          <div class="po-button-loading-icon">
            <div class="po-loading-icon po-loading-icon-neutral-color">
              <span class="po-loading-icon-bar po-loading-icon-bar-1"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-2"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-3"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-4"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-5"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-6"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-7"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-8"></span>
            </div>
          </div>
          <span class="po-button-label">Loading...</span>
        </button>
      </div>
    </div>

    <div class="container">
      <div class="inline">
        <button type="button" class="po-button po-button-danger po-text-ellipsis">
          <span class="po-button-label">Danger</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-danger po-text-ellipsis" disabled>
          <span class="po-button-label">Danger</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-danger po-text-ellipsis">
          <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
          <span class="po-button-label">Portinari</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-danger po-text-ellipsis po-text-ellipsis" disabled>
          <span class="po-icon po-icon-portinari" aria-hidden="true"></span>
          <span class="po-button-label">Portinari</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-danger po-text-ellipsis" disabled>
          <div class="po-button-loading-icon">
            <div class="po-loading-icon po-loading-icon-neutral-color">
              <span class="po-loading-icon-bar po-loading-icon-bar-1"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-2"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-3"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-4"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-5"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-6"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-7"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-8"></span>
            </div>
          </div>
          <span class="po-button-label">Loading...</span>
        </button>
      </div>
    </div>

    <div class="container">
      <div class="inline">
        <button type="button" class="po-button po-button-link po-clickable po-text-ellipsis">Link
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-link" disabled>
          <span class="po-button-label">Link</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-link" disabled>
          <div class="po-button-loading-icon">
            <div class="po-loading-icon po-loading-icon-neutral-color">
              <span class="po-loading-icon-bar po-loading-icon-bar-1"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-2"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-3"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-4"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-5"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-6"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-7"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-8"></span>
            </div>
          </div>
          <span class="po-button-label">Loading...</span>
        </button>
      </div>
    </div>

    <div class="container">
      <div class="inline">
        <button type="button" class="po-button po-button-link po-button-sm po-clickable po-text-ellipsis">
          <span class="po-button-label">Small Link</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-link po-button-sm po-text-ellipsis" disabled>
          <span class="po-button-label">Small Link</span>
        </button>
      </div>
      <div class="inline">
        <button type="button" class="po-button po-button-link po-button-sm po-text-ellipsis" disabled>
          <div class="po-button-loading-icon">
            <div class="po-loading-icon po-loading-icon-neutral-color">
              <span class="po-loading-icon-bar po-loading-icon-bar-1"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-2"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-3"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-4"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-5"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-6"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-7"></span>
              <span class="po-loading-icon-bar po-loading-icon-bar-8"></span>
            </div>
          </div>
          <span class="po-button-label">Loading...</span>
        </button>
      </div>
    </div>

    <h4>Tamanhos</h4>
    <div class="container po-row">
      <div class="inline po-xl-2 po-lg-2 po-md-3 po-sm-6">
        <button type="button" class="po-button po-button-sm po-text-ellipsis">
          <span class="po-button-label">Small - 36px</span>
        </button>
      </div>
      <div class="inline po-xl-2 po-lg-3 po-md-3 po-sm-6">
        <button type="button" class="po-button po-button-default po-text-ellipsis">
          <span class="po-button-label">Medium - 44px</span>
        </button>
      </div>
    </div>

    <h4>Com Grid System</h4>
      <div class="container">
        <div class="po-xl-1 po-lg-1 po-md-1 po-sm-1">
          <button type="button" class="po-button po-button-primary po-text-ellipsis">
            <span class="po-button-label">1</span>
          </button>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
          <button type="button" class="po-button po-button-primary po-text-ellipsis">
            <span class="po-button-label">2</span>
          </button>
        </div>
        <div class="po-xl-3 po-lg-3 po-md-3 po-sm-3">
          <button type="button" class="po-button po-button-primary po-text-ellipsis">
            <span class="po-button-label">3</span>
          </button>
        </div>
        <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
          <button type="button" class="po-button po-button-primary po-text-ellipsis">
            <span class="po-button-label">6</span>
          </button>
        </div>
      </div>
  </section>

</article>
