<style>
  .po-page-content {
    border: 1px dotted red;
  }

  section:first-child {
    margin-bottom: 16px;
  }
</style>

<div class="po-page-content">
  <section>
    <h3>Style</h3>
    <p>padding: 8px</p>
    <p>height: 100%</p>
    <p>overflow-y: auto</p>
  </section>

  <section>
    <h3>Content</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Orci phasellus egestas tellus rutrum tellus. Arcu non odio euismod lacinia at quis risus sed vulputate.
      Sed felis eget velit aliquet sagittis id consectetur purus ut. Suspendisse potenti nullam ac tortor vitae. Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Facilisis leo vel fringilla est ullamcorper. Ut pharetra sit amet aliquam id diam. Eget lorem dolor sed viverra ipsum. Integer vitae justo eget magna fermentum iaculis eu. Sed sed risus pretium quam.
      Lacus viverra vitae congue eu consequat ac felis donec etc.
    </p>
  </section>
</div>
