<style>
  .margin {
    margin-top: 150px;
  }

  .po-toolbar-position {
    position: initial;
  }

  .po-popup {
    left: auto;
    position: absolute;
  }
</style>

<article>
  <section>
    <div class="container po-lg-12">
      <h4>Toolbar sem actions</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> PORTINARI HTML FRAMEWORK </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">0</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <div class="po-avatar po-avatar-xs">
              <img alt="" class="po-avatar-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12">
      <h4>Toolbar com actions</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> PORTINARI HTML FRAMEWORK </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-actions po-clickable">
            <span class="po-icon po-icon-more po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <div class="po-avatar po-avatar-xs">
              <img alt="" class="po-avatar-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12">
      <h4>Toolbar com visualização de notificações</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> PORTINARI HTML FRAMEWORK </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>

              <div class="po-popup" style="margin-top: 8px; margin-left: -201px">
                <div class="po-popup-arrow po-arrow-top-right"></div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-message po-popup-icon-item"></span>
                  Nova mensagem
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-clock po-popup-icon-item"></span>
                  Lembrete de evento à 5 min
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-lock po-popup-icon-item"></span>
                  Atualize sua senha
                </div>
              </div>

            <div class="po-toolbar-notification-badge">3</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <div class="po-avatar po-avatar-xs">
              <img alt="" class="po-avatar-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12 margin">
      <h4>Toolbar com visualização de actions</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> PORTINARI HTML FRAMEWORK </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-actions po-clickable">
            <span class="po-icon po-icon-more po-toolbar-icon"></span>
            <div class="po-popup" style="margin-top: 8px; margin-left: -105px">
              <div class="po-popup-arrow po-arrow-top-right"></div>
              <div class="po-popup-item-default po-clickable">
                Abrir caixa
              </div>
              <div class="po-popup-item-default po-clickable">
                Fechar caixa
              </div>
              <div class="po-popup-item-default po-clickable">
                Configurar caixa
              </div>
            </div>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">3</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <div class="po-avatar po-avatar-xs">
              <img alt="" class="po-avatar-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12 margin">
      <h4>Toolbar com visualização do perfil</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> PORTINARI HTML FRAMEWORK </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">7</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <div class="po-avatar po-avatar-xs">
              <img alt="" class="po-avatar-image">
            </div>

              <div class="po-popup" style="margin-top: 8px; margin-left: -222px">
                <div class="po-popup-arrow po-arrow-top-right"></div>

                <div class="po-toolbar-profile-item-header">
                  <div class="po-avatar po-avatar-sm po-toolbar-profile-item-avatar">
                    <img alt="" class="po-avatar-image">
                  </div>
                  <div>
                    <div class="po-toolbar-profile-item-header-title">
                      Mr. Dev Portinari
                    </div>
                    <div class="po-toolbar-profile-item-header-subtitle">
                      devPortinari@portinari.com.br
                    </div>
                  </div>
                </div>

                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-user po-popup-icon-item"></span> Dados do usuário
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-company po-popup-icon-item"></span> Dados da empresa
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-settings po-popup-icon-item"></span> Configurações
                </div>
                <div class="po-popup-item-danger po-popup-item-separator po-clickable">
                  <span class="po-icon po-icon-exit po-popup-icon-item"></span> Sair
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</article>
