<style>
  .po-popup {
    left: -96px;
    position: absolute;
    right: 4px;
    text-align: left;
  }
</style>

<article>
  <section>

    <h4>Po List View - título, 1 ação, conteúdo e sem select</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <span class="po-list-view-title-no-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <h4>Po List View - ação no título, 1 ação, conteúdo e sem select</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <span class="po-list-view-title-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <h4>Po List View - link no título, 1 ação, conteúdo e sem select</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <a class="po-list-view-title-link" href="#">
                  Registro 1
                </a>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <h4>Po List View - título, 2 ações, conteúdo, detalhes e sem select </h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <span class="po-list-view-title-no-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-icon po-icon-edit" aria-hidden="true"></span>
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm po-button-danger" type="button">
                    <span class="po-icon po-icon-close" aria-hidden="true"></span>
                    <span class="po-button-label">Ação 2</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>


            <div class="po-list-view-detail">
              <!-- DETAIL TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Age</span>
                  </div>

                  <div class="po-field-container-content">
                    <span class="po-info-value">30</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Location</span>
                  </div>

                  <div class="po-field-container-content">
                    <span class="po-info-value">Brazil</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Ocultar detalhes
            </span>
          </div>
        </div>
      </div>
    </div>


    <h4>Po List View - título, 2 ações, conteúdo, sem select e botão "Carregar mais resultados"</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <span class="po-list-view-title-no-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 2</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-2 po-text-center">
      <po-button>
        <button class="po-button po-text-ellipsis po-button-sm" type="button">
          <span class="po-button-label">Carregar mais resultados</span>
        </button>
      </po-button>
    </div>

    <h4>Po List View - título, 3 ações, conteúdo, sem select e botão "Carregar mais resultados"</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <span class="po-list-view-title-no-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-more-actions">
                <span class="po-icon po-icon-more po-list-view-more-icon po-clickable">
                </span>

                <div class="po-popup">
                  <div class="po-popup-arrow po-arrow-top-right"></div>
                  <div class="po-popup-item-default po-clickable">
                    <span class="po-icon po-icon-edit po-popup-icon-item"></span>
                    Editar
                  </div>
                  <div class="po-popup-item-default po-clickable">
                    <span class="po-icon po-icon-delete po-popup-icon-item"></span>
                    Excluir
                  </div>
                  <div class="po-popup-item-default po-popup-item-disabled">
                    <span class="po-icon po-icon-lock po-popup-icon-item"></span>
                    Detalhar
                  </div>
                </div>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-2 po-text-center">
      <po-button>
        <button class="po-button po-text-ellipsis po-button-sm" type="button">
          <span class="po-button-label">Carregar mais resultados</span>
        </button>
      </po-button>
    </div>

    <h4>Po List View - título, 1 ação, 2 conteúdos, select, altura fixa e botão "Carregar mais resultados</h4>

    <div class="po-list-view-main-container-header" style="height: 280px;">
      <div class="po-list-view-main-header">
        <div class="po-checkbox-group-item">
          <div class="po-list-view-main-select">
            <input class="po-input po-checkbox-group-input" type="checkbox">
            <label class="po-checkbox-group-label po-clickable">Selecionar Todos</label>
          </div>
        </div>
      </div>

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <div class="po-list-view-select">
                  <input class="po-input po-checkbox-group-input" type="checkbox">
                  <label class="po-checkbox-group-label po-clickable"></label>
                </div>
                <span class="po-list-view-title-no-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>

        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <div class="po-list-view-select">
                  <input class="po-input po-checkbox-group-input" type="checkbox">
                  <label class="po-checkbox-group-label po-clickable"></label>
                </div>
                <span class="po-list-view-title-no-link">
                  Registro 2
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="po-mb-2 po-text-center">
      <po-button>
        <button class="po-button po-text-ellipsis po-button-sm" type="button">
          <span class="po-button-label">Carregar mais resultados</span>
        </button>
      </po-button>
    </div>

    <h4>Po List View - título, 1 ação, 2 conteúdos e select</h4>

    <div class="po-list-view-main-container-header">
      <div class="po-list-view-main-header">
        <div class="po-checkbox-group-item">
          <div class="po-list-view-main-select">
            <input class="po-input po-checkbox-group-input po-checkbox-group-input-checked" type="checkbox">
            <label class="po-checkbox-group-label po-clickable">Selecionar Todos</label>
          </div>
        </div>
      </div>

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <div class="po-list-view-select">
                  <input class="po-input po-checkbox-group-input po-checkbox-group-input-checked" type="checkbox">
                  <label class="po-checkbox-group-label po-clickable"></label>
                </div>
                <span class="po-list-view-title-no-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>

        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <div class="po-list-view-select">
                  <input class="po-input po-checkbox-group-input po-checkbox-group-input-checked" type="checkbox">
                  <label class="po-checkbox-group-label po-clickable"></label>
                </div>
                <span class="po-list-view-title-no-link">
                  Registro 2
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <h4>Po List View - título, 2 ações, 2 conteúdos, select e hide-select-all</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <div class="po-list-view-select">
                  <input class="po-input po-checkbox-group-input po-checkbox-group-input-checked" type="checkbox">
                  <label class="po-checkbox-group-label po-clickable"></label>
                </div>
                <span class="po-list-view-title-link">
                  Registro 1
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-icon po-icon-edit" aria-hidden="true"></span>
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm po-button-danger" type="button">
                    <span class="po-icon po-icon-close" aria-hidden="true"></span>
                    <span class="po-button-label">Ação 2</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>

        <div class="po-list-view">
          <div class="po-list-view-container">
            <div class="po-list-view-header">
              <div class="po-list-view-title">
                <div class="po-list-view-select">
                  <input class="po-input po-checkbox-group-input po-checkbox-group-input-checked" type="checkbox">
                  <label class="po-checkbox-group-label po-clickable"></label>
                </div>
                <span class="po-list-view-title-link">
                  Registro 2
                </span>
              </div>

              <div class="po-list-view-actions">
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm" type="button">
                    <span class="po-icon po-icon-edit" aria-hidden="true"></span>
                    <span class="po-button-label">Ação 1</span>
                  </button>
                </po-button>
                <po-button>
                  <button class="po-button po-text-ellipsis po-button-sm po-button-danger" type="button">
                    <span class="po-icon po-icon-close" aria-hidden="true"></span>
                    <span class="po-button-label">Ação 2</span>
                  </button>
                </po-button>
              </div>
            </div>

            <div class="po-list-view-content">
              <!-- CONTENT TEMPLATE -->
              <div class="po-row">
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Name</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">Register 1</span>
                  </div>
                </div>
                <div class="po-info po-field-container po-sm-6">
                  <div class="po-field-container-title">
                    <span class="po-field-title">Email</span>
                  </div>
                  <div class="po-field-container-content">
                    <span class="po-info-value">register@portinari.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="po-list-view-detail-button">
            <span class="po-clickable">
              Exibir detalhes
            </span>
          </div>
        </div>
      </div>
    </div>

    <h4>Po List View - sem dados</h4>

    <div class="po-list-view-main-container">

      <div class="po-list-view-main-content">
        <div class="po-list-view">
          <div class="po-list-view-container-no-data po-text-center">
            <span> Nenhum dado encontrado </span>
          </div>
        </div>
      </div>

    </div>

  </section>
</article>
