<article>
  <section>

    <div class="po-row">
      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Habilitado ligado</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-on po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-on">
                <span class="po-icon po-icon-ok"></span>
              </div>
            </div>
            <span class="po-switch-label po-switch-label-right po-clickable">Ligado</span>
          </div>
          <div class="po-field-container-bottom"></div>
        </div>
      </div>

      <div class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Habilitado desligado</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-off po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-off">
                <span class="po-icon po-icon-close"></span>
              </div>
            </div>
            <span class="po-switch-label po-switch-label-right po-clickable">Desligado</span>
          </div>
          <div class="po-field-container-bottom"></div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Desabilitado ligado</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-on po-switch-container-disabled po-clickable">
              <div class="po-switch-button po-switch-button-on po-switch-button-disabled">
                <span class="po-icon po-icon-ok"></span>
              </div>
            </div>
            <span class="po-switch-label po-switch-label-right po-clickable">Ligado</span>
          </div>
          <div class="po-field-container-bottom"></div>
        </div>
      </div>

      <div class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Desabilitado desligado</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-off po-switch-container-disabled po-clickable">
              <div class="po-switch-button po-switch-button-off po-switch-button-disabled">
                <span class="po-icon po-icon-close"></span>
              </div>
            </div>
            <span class="po-switch-label po-switch-label-right po-clickable">Desligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title"></div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-on po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-on">
                <span class="po-icon po-icon-ok"></span>
              </div>
            </div>
            <span class="po-switch-label po-switch-label-right po-clickable">Sem label e sem help ligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </div>

      <div class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title"></div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-off po-switch-container-off po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-off po-switch-button-off">
                <span class="po-icon po-icon-close"></span>
              </div>
            </div>
            <span class="po-switch-label po-switch-label-right po-clickable">Sem label e sem help desligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Habilitado ligado - Direita</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-on po-switch-container-right po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-on">
                <span class="po-icon po-icon-ok"></span>
              </div>
            </div>
            <span class="po-switch-label po-clickable">Ligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>
      </div>

      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Habilitado desligado - Direita</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-off po-switch-container-right po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-off">
                <span class="po-icon po-icon-close"></span>
              </div>
            </div>
            <span class="po-switch-label po-clickable">Desligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Desabilitado ligado - Direita</span>
          </div>

          <div class="po-field-help">Texto de ajuda</div>
          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-on po-switch-container-disabled po-switch-container-right po-clickable">
              <div class="po-switch-button po-switch-button-on po-switch-button-disabled">
                <span class="po-icon po-icon-ok"></span>
              </div>
            </div>
            <span class="po-switch-label po-clickable">Ligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>

      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Desabilitado desligado - Direita</span>
          </div>

          <div class="po-field-help">Texto de ajuda</div>
          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-off po-switch-container-disabled po-switch-container-right po-clickable">
              <div class="po-switch-button po-switch-button-off po-switch-button-disabled">
                <span class="po-icon po-icon-close"></span>
              </div>
            </div>
            <span class="po-switch-label po-clickable">Desligado</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title"></div>

          <div class="po-field-container-content po-switch-content">
            <div class="po-switch-container po-switch-container-on po-switch-container-right po-clickable" tabindex="0">
              <div class="po-switch-button po-switch-button-on">
                <span class="po-icon po-icon-ok"></span>
              </div>
            </div>
            <span class="po-switch-label po-clickable">Sem label e sem help ligado - Direita</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>

      <div class="po-md-6">

        <div class="po-field-container">
          <div class="po-field-container-title"></div>
          <div class="po-field-container-content po-switch-content">

            <div class="po-switch-container po-switch-container-off po-switch-container-right po-clickable" tabindex="0"  >
              <div class="po-switch-button po-switch-button-off">
                <span class="po-icon po-icon-close"></span>
              </div>
            </div>
            <span class="po-switch-label po-clickable">Sem label e sem help desligado - Direita</span>
          </div>

          <div class="po-field-container-bottom"></div>
        </div>

      </div>
    </div>

  </section>
</article>
