<style>
  h4 {
    margin-top: 16px;
  }
</style>

<article>
  <section>
    <h4>Stepper Horizontal no tamanho mínimo e padrão de 24px:</h4>
    <div class="po-row">
      <div class="po-lg-12">
        <div class="po-stepper po-stepper-horizontal">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">1</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">2</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">3</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">4</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">5</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Horizontal no tamanho mínimo e padrão de 24px com sequential:</h4>
    <div class="po-row">
      <div class="po-lg-12">
        <div class="po-stepper po-stepper-horizontal">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">1</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">2</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">3</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">4</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle">
                    <span class="po-stepper-circle-content">5</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Horizontal no tamanho mínimo/padrão (24px) com ícones:</h4>
    <div class="po-row">
      <div class="po-lg-12">
        <div class="po-stepper po-stepper-horizontal">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-ok"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-error">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-exclamation"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 12px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon">
                    <span class="po-stepper-circle-content po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 12px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Vertical no tamanho mínimo e padrão de 24px:</h4>
    <div class="container po-row">
      <div class="po-lg-3">
        <div class="po-stepper po-stepper-vertical">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">1</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">2</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">3</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">4</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">5</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Vertical no tamanho mínimo e padrão de 24px com sequential:</h4>
    <div class="container po-row">
      <div class="po-lg-3">
        <div class="po-stepper po-stepper-vertical">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">1</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">2</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">3</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0">
                    <span class="po-stepper-circle-content">4</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle">
                    <span class="po-stepper-circle-content">5</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Vertical no tamanho mínimo e padrão de 24px e com ícones:</h4>
    <div class="container po-row">
      <div class="po-lg-3">
        <div class="po-stepper po-stepper-vertical">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-ok"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-error">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-exclamation"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0">
                    <span class="po-stepper-circle-content po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container" style="width: 24px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon">
                    <span class="po-stepper-circle-content po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Horizontal com steps no tamanho máximo de 64px:</h4>
    <div class="po-row">
      <div class="po-lg-12">
        <div class="po-stepper po-stepper-horizontal">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">1</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">2</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">3</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">4</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">5</span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Horizontal com steps no tamanho máximo de 64px com ícones:</h4>
    <div class="po-row">
      <div class="po-lg-12">
        <div class="po-stepper po-stepper-horizontal">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-ok"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-error">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-exclamation"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container">
                  <div class="po-stepper-step-bar-left" style="margin-right: 32px"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-right" style="margin-left: 32px"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Vertical com steps no tamanho máximo de 64px:</h4>
    <div class="container po-row">
      <div class="po-lg-3">
        <div class="po-stepper po-stepper-vertical">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-bar-top"></div>

                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">1</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">2</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">3</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">4</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg">5</span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <h4>Stepper Vertical com steps no tamanho máximo de 64px com ícones:</h4>
    <div class="container po-row">
      <div class="po-lg-3">
        <div class="po-stepper po-stepper-vertical">

          <div class="po-stepper-container">

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-done">
                <div class="po-stepper-step-bar-top"></div>

                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-ok"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Identificar o beneficiário
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-error">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-exclamation"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o profissional solicitante
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-active">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar o(s) procedimento(s)
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-default">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Informar dados obrigatórios
                  </div>
                </div>
              </div>
            </div>

            <div class="po-stepper-step-position">
              <div class="po-stepper-step po-stepper-step-disabled">
                <div class="po-stepper-step-container" style="width: 64px">
                  <div class="po-stepper-step-bar-top"></div>

                  <div class="po-stepper-circle po-stepper-circle-with-icon" tabindex="0" style="height: 64px; width: 64px">
                    <span class="po-stepper-circle-content po-stepper-circle-content-lg po-icon po-icon-info"></span>
                  </div>

                  <div class="po-stepper-step-bar-bottom"></div>
                </div>

                <div class="po-stepper-step-label-position">
                  <div class="po-stepper-label">
                    Revisar e imprimir a guia
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>

</article>
