<style>
  .container {
    margin-bottom: 16px;
  }
</style>

<article>

  <section>
    <div class="container">
      <h4> Tree View com apenas 1 nível </h4>

      <br>

      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <span class="po-tree-view-item-header-label po-tree-view-item-header-padding">
                Gerenciamento e adição de tipos de prestações
              </span>
            </div>

          </li>

          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <span class="po-tree-view-item-header-label po-tree-view-item-header-padding">
                Gerenciamento de grupos de usuários e usuários (unitariamente)
              </span>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h4> Tree View com apenas 1 nível e checkbox</h4>

      <br>

      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">
            <div class="po-tree-view-item-header">

              <div class="po-tree-view-item-header-checkbox  po-tree-view-item-header-padding">
                <div class="po-checkbox">
                  <input class="po-input po-checkbox-input" type="checkbox">
                  <label tabindex="0" class="po-checkbox-label po-clickable">Gerenciamento e adição de tipos de prestações</label>
                </div>
              </div>

            </div>
          </li>

          <li class="po-tree-view-item">
            <div class="po-tree-view-item-header">

              <div class="po-tree-view-item-header-checkbox po-tree-view-item-header-padding">
                <div class="po-checkbox">
                  <input class="po-input po-checkbox-input" type="checkbox">
                  <label tabindex="0" class="po-checkbox-label po-clickable">
                    Gerenciamento de grupos de usuários e usuários (unitariamente)
                  </label>
                </div>
              </div>

            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <h4> Tree View com apenas 1 nível e checkbox com opção selecionada</h4>

      <br>
      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">
            <div class="po-tree-view-item-header">

              <div class="po-tree-view-item-header-checkbox  po-tree-view-item-header-padding">
                <div class="po-checkbox">
                  <input class="po-input po-checkbox-input po-checkbox-input-checked" checked type="checkbox">
                  <label tabindex="0" class="po-checkbox-label po-clickable">Gerenciamento e adição de tipos de prestações</label>
                </div>
              </div>

            </div>
          </li>

          <li class="po-tree-view-item">
            <div class="po-tree-view-item-header">

              <div class="po-tree-view-item-header-checkbox po-tree-view-item-header-padding">
                <div class="po-checkbox">
                  <input class="po-input po-checkbox-input" type="checkbox">
                  <label tabindex="0" class="po-checkbox-label po-clickable">
                    Gerenciamento de grupos de usuários e usuários (unitariamente)
                  </label>
                </div>
              </div>

            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h4> Tree View com apenas 3 níveis e expandido </h4>

      <br>

      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <button class="po-tree-view-item-header-button">
                <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon"></span>
              </button>

              <span class="po-tree-view-item-header-label">
                Gerenciamento e adição de tipos de prestações
              </span>
            </div>

          </li>

          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <button class="po-tree-view-item-header-button">
                <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                </span>
              </button>

              <span class="po-tree-view-item-header-label">
                Gerenciamento de grupos de usuários e usuários (unitariamente)
              </span>
            </div>

            <ul class="po-tree-view-item-group">
              <li class="po-tree-view-item">

                <div class="po-tree-view-item-header">
                  <button class="po-tree-view-item-header-button">
                    <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                    </span>
                  </button>

                  <span class="po-tree-view-item-header-label">
                    Gerenciamento de usuários
                  </span>
                </div>

                <ul class="po-tree-view-item-group">
                  <li class="po-tree-view-item">

                    <div class="po-tree-view-item-header">
                      <span class="po-tree-view-item-header-label po-tree-view-item-header-padding">
                        Adicionar Usuário
                      </span>
                    </div>

                  </li>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h4> Tree View com 4 níveis </h4>

      <br>

      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <button class="po-tree-view-item-header-button">
                <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                </span>
              </button>

              <span class="po-tree-view-item-header-label">
                Nível 01
              </span>
            </div>

            <ul class="po-tree-view-item-group">
              <li class="po-tree-view-item">

                <div class="po-tree-view-item-header">
                  <button class="po-tree-view-item-header-button">
                    <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                    </span>
                  </button>

                  <span class="po-tree-view-item-header-label">
                    Nível 02
                  </span>
                </div>

                <ul class="po-tree-view-item-group">
                  <li class="po-tree-view-item">

                    <div class="po-tree-view-item-header">
                      <button class="po-tree-view-item-header-button">
                        <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                        </span>
                      </button>

                      <span class="po-tree-view-item-header-label">
                        Nível 03
                      </span>
                    </div>

                    <ul class="po-tree-view-item-group">
                      <li class="po-tree-view-item">

                        <div class="po-tree-view-item-header">
                          <span class="po-tree-view-item-header-label po-tree-view-item-header-padding">
                            Nível 04
                          </span>
                        </div>

                      </li>
                    </ul>

                  </li>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h4> Tree View com 4 níveis e checkbox</h4>

      <br>

      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <button class="po-tree-view-item-header-button">
                <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                </span>
              </button>

              <div class="po-tree-view-item-header-checkbox">
                <div class="po-checkbox">
                  <input class="po-input po-checkbox-input" type="checkbox">
                  <label tabindex="0" class="po-checkbox-label po-clickable">Nível 01</label>
                </div>
              </div>
            </div>

            <ul class="po-tree-view-item-group">
              <li class="po-tree-view-item">

                <div class="po-tree-view-item-header">
                  <button class="po-tree-view-item-header-button">
                    <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                    </span>
                  </button>

                  <div class="po-tree-view-item-header-checkbox">
                    <div class="po-checkbox">
                      <input class="po-input po-checkbox-input" type="checkbox">
                      <label tabindex="0" class="po-checkbox-label po-clickable">Nível 02</label>
                    </div>
                  </div>
                </div>

                <ul class="po-tree-view-item-group">
                  <li class="po-tree-view-item">

                    <div class="po-tree-view-item-header">
                      <button class="po-tree-view-item-header-button">
                        <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                        </span>
                      </button>

                      <div class="po-tree-view-item-header-checkbox">
                        <div class="po-checkbox">
                          <input class="po-input po-checkbox-input" type="checkbox">
                          <label tabindex="0" class="po-checkbox-label po-clickable">Nível 03</label>
                        </div>
                      </div>
                    </div>

                    <ul class="po-tree-view-item-group">
                      <li class="po-tree-view-item">

                        <div class="po-tree-view-item-header">
                          <div class="po-tree-view-item-header-checkbox po-tree-view-item-header-padding">
                            <div class="po-checkbox">
                              <input class="po-input po-checkbox-input" type="checkbox">
                              <label tabindex="0" class="po-checkbox-label po-clickable">Nível 04</label>
                            </div>
                          </div>
                        </div>

                      </li>
                    </ul>

                  </li>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h4> Tree View com 4 níveis e checkbox selecionado e indeterminado</h4>

      <br>

      <div class="po-container po-container-no-shadow po-container-no-padding">
        <ul class="po-tree-view">
          <li class="po-tree-view-item">

            <div class="po-tree-view-item-header">
              <button class="po-tree-view-item-header-button">
                <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                </span>
              </button>

              <div class="po-tree-view-item-header-checkbox">
                <div class="po-checkbox">
                  <input class="po-input po-checkbox-input po-checkbox-input-indeterminate" type="checkbox">
                  <label tabindex="0" class="po-checkbox-label po-clickable">Nível 01</label>
                </div>
              </div>
            </div>

            <ul class="po-tree-view-item-group">
              <li class="po-tree-view-item">

                <div class="po-tree-view-item-header">
                  <button class="po-tree-view-item-header-button">
                    <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                    </span>
                  </button>

                  <div class="po-tree-view-item-header-checkbox">
                    <div class="po-checkbox">
                      <input class="po-input po-checkbox-input po-checkbox-input-indeterminate" type="checkbox">
                      <label tabindex="0" class="po-checkbox-label po-clickable">Nível 02</label>
                    </div>
                  </div>
                </div>

                <ul class="po-tree-view-item-group">
                  <li class="po-tree-view-item">

                    <div class="po-tree-view-item-header">
                      <button class="po-tree-view-item-header-button">
                        <span class="po-icon po-icon-arrow-down po-tree-view-item-header-button-icon po-tree-view-item-header-button-icon-transform">
                        </span>
                      </button>

                      <div class="po-tree-view-item-header-checkbox">
                        <div class="po-checkbox">
                          <input class="po-input po-checkbox-input po-checkbox-input-indeterminate" type="checkbox">
                          <label tabindex="0" class="po-checkbox-label po-clickable">Nível 03</label>
                        </div>
                      </div>
                    </div>

                    <ul class="po-tree-view-item-group">
                      <li class="po-tree-view-item">

                        <div class="po-tree-view-item-header">
                          <div class="po-tree-view-item-header-checkbox po-tree-view-item-header-padding">
                            <div class="po-checkbox">
                              <input class="po-input po-checkbox-input" type="checkbox">
                              <label tabindex="0" class="po-checkbox-label po-clickable">Nível 04.A</label>
                            </div>
                          </div>
                        </div>

                      </li>
                      <li class="po-tree-view-item">

                        <div class="po-tree-view-item-header">
                          <div class="po-tree-view-item-header-checkbox po-tree-view-item-header-padding">
                            <div class="po-checkbox">
                              <input class="po-input po-checkbox-input po-checkbox-input-checked" checked type="checkbox">
                              <label tabindex="0" class="po-checkbox-label po-clickable">Nível 04.B</label>
                            </div>
                          </div>
                        </div>

                      </li>
                    </ul>

                  </li>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
  </section>

</article>
