.po-color-01 {
  background-color: #0c9abe;
}

.po-color-02 {
  background-color: #2c85c8;
}

.po-color-03 {
  background-color: #2c43c8;
}

.po-color-04 {
  background-color: #5843c8;
}

.po-color-05 {
  background-color: #ab43c8;
}

.po-color-06 {
  background-color: #ab4391;
}

.po-color-07 {
  background-color: #c64840;
}

.po-color-08 {
  background-color: #ea9b3e;
}

.po-color-09 {
  background-color: #abc249;
}

.po-color-10 {
  background-color: #56b96b;
}

.po-color-11 {
  background-color: #00b28e;
}

.po-color-12 {
  background-color: #06a6a5;
}

.po-text-color-01 {
  color: #0c9abe !important;
}

.po-text-color-02 {
  color: #2c85c8 !important;
}

.po-text-color-03 {
  color: #2c43c8 !important;
}

.po-text-color-04 {
  color: #5843c8 !important;
}

.po-text-color-05 {
  color: #ab43c8 !important;
}

.po-text-color-06 {
  color: #ab4391 !important;
}

.po-text-color-07 {
  color: #c64840 !important;
}

.po-text-color-08 {
  color: #ea9b3e !important;
}

.po-text-color-09 {
  color: #abc249 !important;
}

.po-text-color-10 {
  color: #56b96b !important;
}

.po-text-color-11 {
  color: #00b28e !important;
}

.po-text-color-12 {
  color: #06a6a5 !important;
}
