import { Component, OnInit } from '@angular/core';

import { PoPageAction } from '@po-ui/ng-components';

@Component({
  selector: '<%= selector %>',
  templateUrl: './<%= componentFileName %>.html',
  styleUrls: ['./<%= componentFileName %>.<%= style %>'],
  standalone: false
})
export class <%= classify(name) %>Component implements OnInit {

  readonly pageActions: Array<PoPageAction> = [];

  constructor() { }

  ngOnInit() { }

}
