<div class="po-page-wrapper">

  <!-- Add `.po-page-list-header-padding` if has filter and hasn't actions -->
  <div class="po-page-header po-page-list-header-padding">

    <!-- HEADER -->
    <h1 class="po-page-header-title">
      Título da Página
    </h1>

    <!-- OPERATIONS -->
    <div class="po-page-list-operations">

      <!-- Add `.po-page-list-actions-padding` if has filter -->
      <div class="po-page-list-actions po-page-list-actions-padding">
        <button class="po-button po-button-primary">
          <span class="po-icon po-icon-portinari"></span>
          <span class="po-button-label">Ação 1</span>
        </button>
        <button class="po-button">
          <span class="po-button-label">Ação 2</span>
        </button>
      </div>

      <!-- FILTER -->
      <div class="po-page-list-filter-wrapper">

        <div class="po-field-container-content po-page-filter-content">
          <div class="po-field-icon-container-right">
            <span class="po-icon po-icon-search po-field-icon"></span>
          </div>

          <input type="text" class="po-input po-input-icon-right"/>
        </div>

        <div class="po-page-list-filter-search">
          <span class="po-page-list-filter-search-link"
            href="#"
            tabindex="0">
              Busca avançada
          </span>
        </div>

      </div>
    </div>

    <!-- DISCLAIMER -->
    <div class="po-page-list-disclaimer-group">
      <div class="po-disclaimer-group">
        <div class="po-disclaimer-group-title">Apresentando resultados filtrados por:</div>
        <div class="po-disclaimer-group-disclaimer-align">
          <div class="po-disclaimer po-clickable">
            <span tabindex="0" class="po-disclaimer-label po-disclaimer-label-danger">Remover todos</span>
          </div>
        </div>
        <div class="po-disclaimer-group-disclaimer-align">
          <div class="po-disclaimer">
            <span class="po-disclaimer-label">Hotel</span>
          </div>
        </div>
        <div class="po-disclaimer-group-disclaimer-align">
          <div class="po-disclaimer">
            <span class="po-disclaimer-label">São Paulo</span>
          </div>
        </div>
        <div class="po-disclaimer-group-disclaimer-align">
          <div class="po-disclaimer">
            <span class="po-disclaimer-label">R$ 1.000,00</span>
            <span tabindex="0" class="po-disclaimer-remove po-icon po-icon-close po-clickable"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="po-page-content">
    <section>
      <div class="po-table-main-container">
        <div class="po-table-wrapper">
          <table class="po-table">
            <thead>
              <tr class="po-table-header">
                <th class="po-table-header-ellipsis">
                  <span class="po-table-header-ellipsis po-table-header-block">Destino</span>
                </th>
                <th class="po-table-header-ellipsis">
                  <span class="po-table-header-ellipsis po-table-header-block">Data</span>
                </th>
                <th class="po-table-header-ellipsis po-table-column-right">
                  <span class="po-table-header-ellipsis po-table-header-block">Poltrona</span>
                </th>
                <th class="po-table-header-ellipsis">
                  Classe
                </th>
                <th class="po-table-header-ellipsis po-table-column-right">
                  <span class="po-table-header-ellipsis po-table-header-block">Código Passagem</span>
                </th>
                <th class="po-table-header-ellipsis po-table-column-right">
                  <span class="po-table-header-ellipsis po-table-header-block">Valor</span>
                </th>
              </tr>
            </thead>

            <tbody class="po-table-group-row">
              <tr class="po-table-row">
                <td class="po-table-column">
                  Brasil / São Paulo
                </td>
                <td class="po-table-column">
                  21/04/2018
                </td>
                <td class="po-table-column po-table-column-right">
                  235
                </td>
                <td class="po-table-column">
                  Econômica
                </td>
                <td class="po-table-column po-table-column-right">
                  112234
                </td>
                <td class="po-table-column po-table-column-right">
                  R$ 300.00
                </td>
              </tr>
            </tbody>
            <tbody class="po-table-group-row">
              <tr class="po-table-row">
                <td class="po-table-column">
                  Brasil / São Paulo
                </td>
                <td class="po-table-column">
                  21/04/2018
                </td>
                <td class="po-table-column po-table-column-right">
                  235
                </td>
                <td class="po-table-column">
                  Econômica
                </td>
                <td class="po-table-column po-table-column-right">
                  112234
                </td>
                <td class="po-table-column po-table-column-right">
                  R$ 300.00
                </td>
              </tr>
            </tbody>
            <tbody class="po-table-group-row">
              <tr class="po-table-row">
                <td class="po-table-column">
                  Chile / Santiago
                </td>
                <td class="po-table-column">
                  01/05/2018
                </td>
                <td class="po-table-column po-table-column-right">
                  230
                </td>
                <td class="po-table-column">
                  Econômica
                </td>
                <td class="po-table-column po-table-column-right">
                  12312
                </td>
                <td class="po-table-column po-table-column-right">
                  R$ 440.00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
