<style>
  div.ng-invalid.ng-dirty .po-rich-text-body {
    border: solid 1px #c64840 !important;
    outline: none;
    color: #c64840;
  }
</style>

<!-- PO-FIELD-CONTAINER - Início -->
<div class="po-field-container">
  <div class="po-field-container-title">
    <span class="po-field-title">Com label, opcional, texto de ajuda e placeholder</span>
    <span class="po-field-optional">(Opcional)</span>
  </div>
  <div class="po-field-help">Texto de ajuda</div>
  <div class="po-field-container-content ng-valid">

    <!-- PO-RICH-TEXT - Início -->

    <div class="po-rich-text">

      <!-- PO-RICH-TEXT-BODY - Início -->
      <div contenteditable="true" class="po-rich-text-body po-text-left" data-placeholder="placeholder"></div>
      <!-- PO-RICH-TEXT-BODY - Final -->

      <!-- PO-RICH-TEXT-TOOLBAR - Início -->
      <div class="po-rich-text-toolbar">
        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-bold"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-italic"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-underline"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-rich-text-toolbar-color-picker-container">
            <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button">
              <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000">
            </button>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-left"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-center"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-right"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-justify"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PO-RICH-TEXT-TOOLBAR - Final -->

    </div>
    <!-- PO-RICH-TEXT - Final -->

  </div>
  <div class="po-field-container-bottom"></div>
</div>
<!-- PO-FIELD-CONTAINER - Final -->

<hr>

<!-- PO-FIELD-CONTAINER - Início -->
<div class="po-field-container">
  <div class="po-field-container-title"></div>
  <div class="po-field-container-content ng-valid">

    <!-- PO-RICH-TEXT - Início -->
    <div class="po-rich-text">

      <!-- PO-RICH-TEXT-BODY - Início -->
      <div contenteditable="true" class="po-rich-text-body po-text-center" data-placeholder="">
        <p>Sem label, com texto pequeno centralizado e <b>palavras com bold.</b></p>
      </div>
      <!-- PO-RICH-TEXT-BODY - Final -->

      <!-- PO-RICH-TEXT-TOOLBAR - Início -->
      <div class="po-rich-text-toolbar">
        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-bold"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-italic"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-underline"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-rich-text-toolbar-color-picker-container">
            <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button">
              <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000">
            </button>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-left"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-center"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-right"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-justify"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PO-RICH-TEXT-TOOLBAR - Final -->

    </div>
    <!-- PO-RICH-TEXT - Final -->

  </div>
  <div class="po-field-container-bottom"></div>
</div>
<!-- PO-FIELD-CONTAINER - Final -->

<hr>

<!-- PO-FIELD-CONTAINER - Início -->
<div class="po-field-container">
  <div class="po-field-container-title">
    <span class="po-field-title">Com texto itálico e alinhado a direita</span>
  </div>

  <div class="po-field-container-content ng-valid">

    <!-- PO-RICH-TEXT - Início -->
    <div class="po-rich-text">

      <!-- PO-RICH-TEXT-BODY - Início -->
      <div contenteditable="true" class="po-rich-text-body po-text-right" data-placeholder="">
        <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper semper vulputate id nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper semper vulputate id nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper vulputate id nisi.
            Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper vulputate id nisi</i>
        </p>
      </div>
      <!-- PO-RICH-TEXT-BODY - Final -->

      <!-- PO-RICH-TEXT-TOOLBAR - Início -->
      <div class="po-rich-text-toolbar">
        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-bold"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-italic"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-underline"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-rich-text-toolbar-color-picker-container">
            <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button">
              <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000">
            </button>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-left"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-center"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-right"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-justify"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PO-RICH-TEXT-TOOLBAR - Final -->

    </div>
    <!-- PO-RICH-TEXT - Final -->

  </div>
  <div class="po-field-container-bottom"></div>
</div>
<!-- PO-FIELD-CONTAINER - Final -->

<hr>

<!-- PO-FIELD-CONTAINER - Início -->
<div class="po-field-container">
  <div class="po-field-container-title">
    <span class="po-field-title">Com texto justificado e sublinhado</span>
  </div>

  <div class="po-field-container-content ng-valid">

    <!-- PO-RICH-TEXT - Início -->
    <div class="po-rich-text">

      <!-- PO-RICH-TEXT-BODY - Início -->
      <div contenteditable="true" class="po-rich-text-body po-text-justify" data-placeholder="">
        <p><u>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper semper vulputate id nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper semper vulputate id nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper semper vulputate id nisi.
            Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque. Phasellus at elit et est consequat vulputate. Sed interdum lacinia congue. Curabitu
            aliquam porta leo quis dignissim. Etiam congue, nisi nec elementum bibendum, felis ligula auctor sem, eu
            tincidunt odio mauris vitae lorem. Morbi non tempus quam. Sed maximus, dui a vestibulum viverra, purus metus
            porta nunc, non ornare est purus pharetra velit. Proin quis lacus nec lorem semper vulputate id nisi</u>
        </p>
      </div>
      <!-- PO-RICH-TEXT-BODY - Final -->

      <!-- PO-RICH-TEXT-TOOLBAR - Início -->
      <div class="po-rich-text-toolbar">
        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-bold"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-italic"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-underline"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-rich-text-toolbar-color-picker-container">
            <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button">
              <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000">
            </button>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-left"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-center"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-right"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-justify"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PO-RICH-TEXT-TOOLBAR - Final -->

    </div>
    <!-- PO-RICH-TEXT - Final -->

  </div>
  <div class="po-field-container-bottom"></div>
</div>
<!-- PO-FIELD-CONTAINER - Final -->

<hr>

<!-- PO-FIELD-CONTAINER - Início -->
<div class="po-field-container">
  <div class="po-field-container-title">
    <span class="po-field-title">Com lista</span>
  </div>

  <div class="po-field-container-content ng-valid">

    <!-- PO-RICH-TEXT - Início -->
    <div class="po-rich-text">

      <!-- PO-RICH-TEXT-BODY - Início -->
      <div contenteditable="true" class="po-rich-text-body po-text-left" data-placeholder="">
        <p> <ul><li>teste</li> <li>teste</li> <li>teste</li></ul> </p>
      </div>
      <!-- PO-RICH-TEXT-BODY - Final -->

      <!-- PO-RICH-TEXT-TOOLBAR - Início -->
      <div class="po-rich-text-toolbar">
        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-bold"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-italic"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-text-underline"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-rich-text-toolbar-color-picker-container">
            <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button">
              <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000">
            </button>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-left"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-center"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-right"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-align-justify"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis">
                <span class="po-icon po-icon-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PO-RICH-TEXT-TOOLBAR - Final -->

    </div>
    <!-- PO-RICH-TEXT - Final -->

  </div>
  <div class="po-field-container-bottom"></div>
</div>
<!-- PO-FIELD-CONTAINER - Final -->

<hr>

<!-- PO-FIELD-CONTAINER - Início -->
<div class="po-field-container">
  <div class="po-field-container-title">
    <span class="po-field-title">Readonly e altura definida</span>
  </div>

  <div class="po-field-container-content ng-valid">

    <!-- PO-RICH-TEXT - Início -->
    <div class="po-rich-text">

      <!-- PO-RICH-TEXT-BODY - Início -->
      <div class="po-rich-text-body po-text-left" style="height: 200px" data-placeholder="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo a felis dapibus scelerisque eget non
            risus. Phasellus laoreet tincidunt dictum. Proin tempor semper sapien sit amet accumsan. Pellentesque tincidunt
            eget mi eget pellentesque.
        </p>
      </div>
      <!-- PO-RICH-TEXT-BODY - Final -->

      <!-- PO-RICH-TEXT-TOOLBAR - Início -->
      <div class="po-rich-text-toolbar">
        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-text-bold"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-text-italic"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-text-underline"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-rich-text-toolbar-color-picker-container">
            <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button" disabled>
              <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000" disabled>
            </button>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group po-button-group-button-selected">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-align-left"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-align-center"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-align-right"></span>
              </button>
            </div>
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-align-justify"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="po-rich-text-toolbar-button-align">
          <div class="po-button-group-container">
            <div class="po-sm-12 po-button-group">
              <button type="button" class="po-button po-text-ellipsis" disabled>
                <span class="po-icon po-icon-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PO-RICH-TEXT-TOOLBAR - Final -->

    </div>
    <!-- PO-RICH-TEXT - Final -->

  </div>
  <div class="po-field-container-bottom"></div>
</div>
<!-- PO-FIELD-CONTAINER - Final -->

<hr>

<div class="ng-invalid ng-dirty">
  <!-- PO-FIELD-CONTAINER - Início -->
  <div class="po-field-container">
    <div class="po-field-container-title">
      <span class="po-field-title">Required</span>
    </div>
    <div class="po-field-help">Texto de ajuda</div>
    <div class="po-field-container-content ng-invalid ng-dirty">

      <!-- PO-RICH-TEXT - Início -->
      <div class="po-rich-text">

        <!-- PO-RICH-TEXT-BODY - Início -->
        <div contenteditable="true" class="po-rich-text-body po-text-left" data-placeholder=""></div>
        <!-- PO-RICH-TEXT-BODY - Final -->

        <!-- PO-RICH-TEXT-TOOLBAR - Início -->
        <div class="po-rich-text-toolbar">
          <div class="po-rich-text-toolbar-button-align">
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-text-bold"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-text-italic"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-text-underline"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="po-rich-text-toolbar-button-align">
            <div class="po-rich-text-toolbar-color-picker-container">
              <button class="po-button po-text-ellipsis po-rich-text-toolbar-color-picker-button">
                <input class="po-rich-text-toolbar-color-picker-input" type="color" value="#000000">
              </button>
            </div>
          </div>

          <div class="po-rich-text-toolbar-button-align">
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group po-button-group-button-selected">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-align-left"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-align-center"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-align-right"></span>
                </button>
              </div>
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-align-justify"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="po-rich-text-toolbar-button-align">
            <div class="po-button-group-container">
              <div class="po-sm-12 po-button-group">
                <button type="button" class="po-button po-text-ellipsis">
                  <span class="po-icon po-icon-list"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- PO-RICH-TEXT-TOOLBAR - Final -->

      </div>
      <!-- PO-RICH-TEXT - Final -->

    </div>
    <div class="po-field-container-bottom">
      <span class="po-field-container-bottom-text-error">
        <span class="po-icon po-icon-warning po-field-container-icon-error"></span>
        Mensagem de erro
      </span>
    </div>
  </div>
  <!-- PO-FIELD-CONTAINER - Final -->
</div>
