.po-navbar-logo {
  display: table-cell;
  padding: 0 16px 0 0;
  vertical-align: middle;
}

.po-navbar-logo-image {
  max-height: 42px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {

  .po-navbar-logo {
    text-align: center;
    width: 100%;
  }

}

@media screen and (max-width: 1200px) {

  .po-navbar-logo-menu {
    padding-left: 24px;
  }
}

@media screen and (max-width: 1024px) {

  .po-navbar-logo-menu {
    padding: 0 16px;
  }

  .po-navbar-no-logo {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .po-navbar-no-logo {
    padding-left: 0px;
  }
  
  .po-navbar-no-logo {
    padding-left: 0px;
  }
}
