<style>
  .sample-widget {
    margin-bottom: 16px;
  }
</style>

<article>
  <section>

    <div class="po-row">
      <div class="po-md-4 sample-widget">
        <div class="po-widget-primary">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget primário com ações, configuração e ajuda.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Primária</a>
              </div>
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Secundária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget-primary po-widget-no-shadow">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget primário com ações, configuração, ajuda e sem sombra.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Primária</a>
              </div>
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Secundária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget-primary po-widget-no-shadow">
          <div class="po-widget-header">
            <span class="po-widget-title-action">Título</span>
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget primário com ações no título, primária, configuração, ajuda e sem sombra.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
            <div class="po-widget-xl">
              <a class="po-widget-action">Ação Primária</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-4 sample-widget">
        <div class="po-widget">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget com título, ação primária, configuração e ajuda.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
            <div class="po-widget-xl">
              <a class="po-widget-action">Ação Primária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget" style="height: 200px">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border" style="height: 112px">
            <div class="po-widget-body">
              <h4>Widget com título, ações primária, secundária, configuração, ajuda e bastante conteúdo.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                  blandit sit amet tellus eleifend suscipit. Aliquam sollicitudin pretium egestas. Praesent at semper est.
                  Vivamus sit amet ultricies dui, sed eleifend enim. Mauris id nisi sit amet felis tincidunt vehicula.
                  Nam at consequat nisl, imperdiet consectetur nulla. In a lobortis libero, a auctor neque.
                  Mauris in ex id sapien facilisis ullamcorper non rutrum ligula. Integer ac odio diam.
              </h4>
            </div>
          </div>
          <div class="po-widget-footer">
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Primária</a>
              </div>
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Secundária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget">
          <div class="po-widget-header">
            <span class="po-widget-title-action">Título</span>
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget com ações no título e primária, configuração e ajuda.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
            <div class="po-widget-xl">
              <a class="po-widget-action">Ação Primária</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-4 sample-widget">
        <div class="po-widget po-clickable">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget com título, ação principal, primária, secundária, configuração e ajuda.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Primária</a>
              </div>
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Secundária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget po-widget-no-shadow">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget com título, ação primária, secundária, configuração, ajuda e sem sombra.</h4>
            </div>
          </div>
          <div class="po-widget-footer">
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Primária</a>
              </div>
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Secundária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget">
          <div class="po-widget-header">
            Título
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget com título e ações de configuração e ajuda.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-4 sample-widget">
        <div class="po-widget-no-shadow">
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget apenas conteúdo e sem sombra.</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget po-clickable" style="height: 40px">
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget com altura fixa.</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
        <div class="po-widget-primary">
          <div class="po-container po-container-no-border">
            <div class="po-widget-body">
              <h4>Widget primário apenas com conteúdo.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-4 sample-widget">
        <div class="po-widget po-widget-disabled po-clickable" style="height: 200px">
          <div class="po-widget-header">
            <span class="po-widget-title-action">
              Título
            </span>
            <div class="po-pull-right">
              <span class="po-clickable po-icon po-icon-settings"></span>
              <span class="po-clickable po-icon po-icon-help"></span>
            </div>
          </div>
          <div class="po-container po-container-no-border" style="height: 112px">
            <div class="po-widget-body">
              <h4>Widget desabilitado com título, ações primária, secundária e principal, configuração, ajuda e bastante conteúdo.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                  blandit sit amet tellus eleifend suscipit. Aliquam sollicitudin pretium egestas. Praesent at semper est.
                  Vivamus sit amet ultricies dui, sed eleifend enim. Mauris id nisi sit amet felis tincidunt vehicula.
                  Nam at consequat nisl, imperdiet consectetur nulla. In a lobortis libero, a auctor neque.
                  Mauris in ex id sapien facilisis ullamcorper non rutrum ligula. Integer ac odio diam.
              </h4>
            </div>
          </div>
          <div class="po-widget-footer">
            <div class="po-widget-md">
              <a class="po-widget-action">Ação Primária</a>
            </div>
            <div class="po-widget-md">
              <a class="po-widget-action">Ação Secundária</a>
            </div>
          </div>
        </div>
      </div>

      <div class="po-md-4 sample-widget">
          <div class="po-widget-primary po-widget-disabled po-clickable" style="height: 200px">
            <div class="po-widget-header">
              Título
              <div class="po-pull-right">
                <span class="po-clickable po-icon po-icon-settings"></span>
                <span class="po-clickable po-icon po-icon-help"></span>
              </div>
            </div>
            <div class="po-container po-container-no-border" style="height: 112px">
              <div class="po-widget-body">
                <h4>Widget primário desabilitado com título, ações primária, secundária e principal, configuração, ajuda
                    e bastante conteúdo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                    blandit sit amet tellus eleifend suscipit. Aliquam sollicitudin pretium egestas. Praesent at semper est.
                    Vivamus sit amet ultricies dui, sed eleifend enim. Mauris id nisi sit amet felis tincidunt vehicula.
                    Nam at consequat nisl, imperdiet consectetur nulla. In a lobortis libero, a auctor neque.
                    Mauris in ex id sapien facilisis ullamcorper non rutrum ligula. Integer ac odio diam.
                </h4>
              </div>
            </div>
            <div class="po-widget-footer">
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Primária</a>
              </div>
              <div class="po-widget-md">
                <a class="po-widget-action">Ação Secundária</a>
              </div>
            </div>
          </div>
        </div>
    </div>

  </section>
</article>
