<style>
  .po-slide-image,
  .sample-cdn-size {
    height: 336px;
  }

  .sample-cdn-fixed-height {
    height: 200px;
  }

  .po-slide-item {
    animation: slideAnimation 10s infinite;
  }

  @keyframes slideAnimation {
    0% { transform: translate(0, 0); }
    45% { transform: translate(0, 0); }
    50% { transform: translate(-100%, 0); }
    95% { transform: translate(-100%, 0); }
    100% { transform: translate(0, 0); }
  }
</style>

<article>
  <section>
    <br>
    <h4>Po Slide contendo conteúdo customizado e altura definida.</h4>
    <br>
    <div class="po-slide-wrapper">
      <div class="po-slide-outer">
        <div class="po-slide-inner sample-cdn-fixed-height">
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link">
              <div class="po-slide-item-content">
                <div class="po-pt-3 po-pb-3">
                  <div class="po-info">
                    <div class="po-info-container-title">
                      <span class="po-info-label">
                        Título do slide
                      </span>
                    </div>
                    <span class="po-info-value">Lorem ipsum dolor sit amet, sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                      deserunt mollit anim id est laborum. consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                      in voluptate velit esit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                      irure dolor in reprehenderit in voluptate velit econsectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velitsit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                      mollit anim id est laborum. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt mollit anim id est laborum. consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit e esse cillum dolore eu fugiat nulla pariatur.</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link">
              <div class="po-slide-item-content">
                <div class="po-pt-3 po-pb-3">
                  <div class="po-info">
                    <div class="po-info-container-title">
                      <span class="po-info-label">
                        Título do slide
                      </span>
                    </div>
                    <span class="po-info-value">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="po-slide-control-previous">
          <div class="po-slide-arrow-circle">
            <div class="po-slide-arrow po-slide-arrow-previous"></div>
          </div>
        </div>
        <div class="po-slide-control-next">
          <div class="po-slide-arrow-circle">
            <div class=" po-slide-arrow po-slide-arrow-next"></div>
          </div>
        </div>
      </div>
      <div class="po-slide-circles">
        <div class="po-slide-circle po-slide-active-circle">
        </div>
        <div class="po-slide-circle">
        </div>
      </div>
    </div>
  </section>

  <br>

  <section>
    <br>
    <h4>Po Slide contendo conteúdo customizado e altura não definida.</h4>
    <br>
    <div class="po-slide-wrapper">
      <div class="po-slide-outer">
        <div class="po-slide-inner">
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link">
              <div class="po-slide-item-content">
                <div class="po-pt-3 po-pb-3">
                  <div class="po-info">
                    <div class="po-info-container-title">
                      <span class="po-info-label">
                        Título do slide
                      </span>
                    </div>
                    <span class="po-info-value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolosit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                      deserunt mollit anim id est laborum. consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                      in voluptate velit esit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                      irure dolor in reprehenderit in voluptate velit esit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit ere eu fugiat nulla
                      pariatur.</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link">
              <div class="po-slide-item-content">
                <div class="po-pt-3 po-pb-3">
                  <div class="po-info">
                    <div class="po-info-container-title">
                      <span class="po-info-label">
                        Título do slide
                      </span>
                    </div>
                    <span class="po-info-value">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="po-slide-control-previous">
          <div class="po-slide-arrow-circle">
            <div class="po-slide-arrow po-slide-arrow-previous"></div>
          </div>
        </div>
        <div class="po-slide-control-next">
          <div class="po-slide-arrow-circle">
            <div class=" po-slide-arrow po-slide-arrow-next"></div>
          </div>
        </div>
      </div>
      <div class="po-slide-circles">
        <div class="po-slide-circle po-slide-active-circle">
        </div>
        <div class="po-slide-circle">
        </div>
      </div>
    </div>
  </section>

  <br>

  <section>
    <br>
    <h4>Po Slide contendo conteúdo mescla de imagem e conteúdo customizado e altura não definida.</h4>
    <br>
    <div class="po-slide-wrapper">
      <div class="po-slide-outer">
        <div class="po-slide-inner sample-cdn-size">
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link" href="http://po.portinari.com.br">
              <img class="po-slide-image" alt="Modelo de texto" src="http://lorempixel.com/output/animals-q-c-1231-565-8.jpg">
            </a>
          </div>
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link">
              <div class="po-slide-item-content">
                <div class="po-pt-3 po-pb-3">
                  <div class="po-info">
                    <div class="po-info-container-title">
                      <span class="po-info-label">
                        Título do slide
                      </span>
                    </div>
                    <span class="po-info-value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolosit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                      deserunt mollit anim id est laborum. consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                      in voluptate velit esit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                      irure dolor in reprehenderit in voluptate velit esit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit ere eu fugiat nulla
                      pariatur.</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="po-slide-control-previous">
          <div class="po-slide-arrow-circle">
            <div class="po-slide-arrow po-slide-arrow-previous"></div>
          </div>
        </div>
        <div class="po-slide-control-next">
          <div class="po-slide-arrow-circle">
            <div class=" po-slide-arrow po-slide-arrow-next"></div>
          </div>
        </div>
      </div>
      <div class="po-slide-circles">
        <div class="po-slide-circle po-slide-active-circle">
        </div>
        <div class="po-slide-circle">
        </div>
      </div>
    </div>
  </section>

  <br>

  <section>
    <br>
    <h4>Po Slide com imagens 'img' e tamanho padrão.</h4>
    <br>
    <div class="po-slide-wrapper">
      <div class="po-slide-outer">
        <div class="po-slide-inner">
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link" href="http://po.portinari.com.br">
              <img class="po-slide-image" alt="Modelo de texto" src="http://lorempixel.com/output/animals-q-c-1231-565-8.jpg">
            </a>
          </div>
          <div p-slide-item class="po-slide-item">
            <a class="po-slide-item-link" href="http://po.portinari.com.br">
              <img class="po-slide-image" alt="Modelo de texto" src="http://lorempixel.com/output/animals-q-c-1231-565-9.jpg">
            </a>
          </div>
        </div>
        <div class="po-slide-control-previous">
          <div class="po-slide-arrow-circle">
            <div class="po-slide-arrow po-slide-arrow-previous"></div>
          </div>
        </div>
        <div class="po-slide-control-next">
          <div class="po-slide-arrow-circle">
            <div class=" po-slide-arrow po-slide-arrow-next"></div>
          </div>
        </div>
      </div>
      <div class="po-slide-circles">
        <div class="po-slide-circle po-slide-active-circle">
        </div>
        <div class="po-slide-circle">
        </div>
      </div>
    </div>
  </section>

  <br>

  <section>
    <br>
    <h4>Po Slide contendo com imagens carregadas com css background image e tamanho padrão.</h4>
    <br>
    <div class="po-slide-wrapper">
      <div class="po-slide-outer">
        <div class="po-slide-inner sample-cdn-size">
          <div p-slide-item class="po-slide-item po-slide-item-background-image" style="background-image: url(http://lorempixel.com/output/animals-q-c-1231-565-8.jpg)">
            <a class="po-slide-item-link" href="http://po.portinari.com.br"></a>
          </div>
          <div p-slide-item class="po-slide-item po-slide-item-background-image" style="background-image: url(http://lorempixel.com/output/animals-q-c-1231-565-9.jpg)">
            <a class="po-slide-item-link" href="http://po.portinari.com.br"></a>
          </div>
        </div>
        <div class="po-slide-control-previous">
          <div class="po-slide-arrow-circle">
            <div class="po-slide-arrow po-slide-arrow-previous"></div>
          </div>
        </div>
        <div class="po-slide-control-next">
          <div class="po-slide-arrow-circle">
            <div class=" po-slide-arrow po-slide-arrow-next"></div>
          </div>
        </div>
      </div>
      <div class="po-slide-circles">
        <div class="po-slide-circle po-slide-active-circle">
        </div>
        <div class="po-slide-circle">
        </div>
      </div>
    </div>
  </section>
</article>
