.po-modal-password-recovery-text {
  color: var(--color-modal-password-recovery-text-color);
}

.po-modal-password-recovery-link {
  color: var(--color-modal-password-recovery-link-color);
}

.po-modal-password-recovery-link:hover {
  color: var(--color-modal-password-recovery-link-color-hover);
  text-decoration: underline;
}

.po-modal-password-recovery-user-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 481px) {

  .po-modal-password-recovery-wrapper {
    width: 70vw;
  }

  .po-modal-password-recovery-content {
    max-width: 336px;
    margin: 0 auto;
  }
}

  @media screen and (min-width: 960px) {

    .po-modal-password-recovery-wrapper {
      width: 620px;
    }
  }
