<br>
<div class="po-row">
  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[0].style.display = 'block';">
      Modal e-mail
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[1].style.display = 'block';">
      Modal e-mail com mensagem de erro
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[2].style.display = 'block';">
      Modal e-mail com e-mail para suporte
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[3].style.display = 'block';">
      Modal e-mail com campo para número de telefone
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[4].style.display = 'block';">
      Modal contendo radio group e campo para e-mail
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[5].style.display = 'block';">
      Modal contendo radio group e campo para telefone
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[6].style.display = 'block';">
      Modal de digitação e envio de código SMS
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[7].style.display = 'block';">
      Modal de código SMS e mensagem de erro
    </button>
  </div>

  <div class="po-md-4 po-mb-2">
    <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[8].style.display = 'block';">
      Modal Confirmação
    </button>
  </div>
</div>

<!-- Modal de e-mail -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                Esqueceu sua senha?
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">
                    Para recuperar sua senha vamos enviar um e-mail com instruções.
                  </div>
                  <div class="po-mb-2 po-md-12">
                    <form>
                      <div class="ng-untouched ng-pristine ng-invalid">
                        <div class="po-mt-1">
                          <div class="po-field-container">
                            <div class="po-field-container-title">
                              <span class="po-field-title">Insira seu e-mail</span>
                            </div>
                            <div class="po-field-container-content">
                              <div class="po-field-icon-container-left">
                                <span class="po-icon po-field-icon po-icon-mail"></span>
                              </div>
                              <input class="po-input po-input-icon-left" name="email" placeholder="" required="" type="email">
                              <div class="po-field-icon-container-right">
                              </div>
                            </div>
                            <div class="po-field-container-bottom">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se não tiver acesso ao seu e-mail contacte o suporte.
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[0].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[0].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal de e-mail contendo mensagem de erro -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                Esqueceu sua senha?
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">
                    Para recuperar sua senha vamos enviar um e-mail com instruções.
                  </div>
                  <div class="po-mb-2 po-md-12">
                    <form>
                      <po-email class="ng-untouched ng-invalid ng-dirty">
                        <div class="po-mt-1">
                          <div class="po-field-container">
                            <div class="po-field-container-title">
                              <span class="po-field-title">Insira seu e-mail</span>
                            </div>
                            <div class="po-field-container-content">
                              <div class="po-field-icon-container-left">
                                <span class="po-icon po-field-icon po-icon-mail"></span>
                              </div>
                              <input class="po-input po-input-icon-left" name="email" placeholder="" required="" type="email">
                              <div class="po-field-icon-container-right">
                              </div>
                            </div>
                            <div class="po-field-container-bottom">
                            </div>
                          </div>
                        </div>
                      </po-email>
                      <div class="po-field-container-bottom po-field-container-error-container">
                        <div class="po-field-container-bottom-text-error po-field-container-error-item">
                          <span class="po-icon po-icon-exclamation"></span>
                          <span class="po-field-container-error-text">Formato de e-mail inválido</span>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se não tiver acesso ao seu e-mail contacte o suporte.
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[1].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[1].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal de e-mail com link para e-mail de suporte -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                Esqueceu sua senha?
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">
                    Para recuperar sua senha vamos enviar um e-mail com instruções.
                  </div>
                  <div class="po-mb-2 po-md-12">
                    <form>
                      <div class="ng-untouched ng-pristine ng-invalid">
                        <div class="po-mt-1">
                          <div class="po-field-container">
                            <div class="po-field-container-title">
                              <span class="po-field-title">Insira seu e-mail</span>
                            </div>
                            <div class="po-field-container-content">
                              <div class="po-field-icon-container-left">
                                <span class="po-icon po-field-icon po-icon-mail"></span>
                              </div>
                              <input class="po-input po-input-icon-left" name="email" placeholder="" required="" type="email">
                              <div class="po-field-icon-container-right">
                              </div>
                            </div>
                            <div class="po-field-container-bottom">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12"> Se não tiver acesso ao seu e-mail contacte o suporte
                    <span> em 
                      <a class="po-modal-password-recovery-link" target="_self" href="mailto:mail@portinari.com.br">mail@portinari.com.br</a>.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[2].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[2].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal de e-mail com campo para digitação de número de telefone -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                Esqueceu sua senha?
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">
                    Para recuperar sua senha vamos enviar um SMS com instruções.
                  </div>
                  <div class="po-mb-2 po-md-12">
                    <form>
                      <div class="ng-untouched ng-pristine ng-invalid">
                        <div class="po-mt-1">
                          <div class="po-field-container">
                            <div class="po-field-container-title">
                              <span class="po-field-title">Insira seu número de celular</span>
                            </div>
                            <div class="po-field-container-content">
                              <div class="po-field-icon-container-left">
                                <span class="po-icon po-field-icon po-icon-telephone"></span>
                              </div>
                              <input class="po-input po-input-icon-left" name="email" placeholder="" required="" type="email">
                              <div class="po-field-icon-container-right">
                              </div>
                            </div>
                            <div class="po-field-container-bottom">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se não tiver acesso ao telefone contacte o suporte.
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[3].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[3].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal contendo radio group e campo para e-mail -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                Esqueceu sua senha?
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">
                    Para recuperar sua senha vamos enviar um e-mail com instruções.
                  </div>
                  <div class="po-mb-2 po-md-12">
                    <form>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">
                          </span>
                        </div>
                        <div class="po-row po-pt-1 po-pb-1">
                          <div class="po-radio-group-item po-md-6 po-lg-6">
                            <input class="po-radio-group-input po-radio-group-input-checked" type="radio" name="type" value="email">
                            <label class="po-radio-group-label po-clickable" for="type">e-mail</label>
                          </div>
                          <div class="po-radio-group-item po-md-6 po-lg-6">
                            <input class="po-radio-group-input" type="radio" name="type" value="sms">
                            <label class="po-radio-group-label po-clickable" for="type">SMS</label>
                          </div>
                        </div>
                        <div class="po-field-container-bottom">
                        </div>
                      </div>
  
                      <div class="ng-untouched ng-pristine ng-invalid">
                        <div class="po-mt-1">
                          <div class="po-field-container">
                            <div class="po-field-container-title">
                              <span class="po-field-title">Insira seu e-mail</span>
                            </div>
                            <div class="po-field-container-content">
                              <div class="po-field-icon-container-left">
                                <span class="po-icon po-field-icon po-icon-mail"></span>
                              </div>
                              <input class="po-input po-input-icon-left" name="email" placeholder="" required="" type="email">
                              <div class="po-field-icon-container-right">
                              </div>
                            </div>
                            <div class="po-field-container-bottom">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se não tiver acesso ao e-mail contacte o suporte.
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[4].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[4].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal contendo radio group e campo para número de telefone -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                Esqueceu sua senha?
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">
                    Para recuperar sua senha vamos enviar um SMS com instruções.
                  </div>
                  <div class="po-mb-2 po-md-12">
                    <form>
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">
                          </span>
                        </div>
                        <div class="po-row po-pt-1 po-pb-1">
                          <div class="po-radio-group-item po-md-6 po-lg-6">
                            <input class="po-radio-group-input" type="radio" name="type" value="email">
                            <label class="po-radio-group-label po-clickable" for="type">e-mail</label>
                          </div>
                          <div class="po-radio-group-item po-md-6 po-lg-6">
                            <input class="po-radio-group-input po-radio-group-input-checked" type="radio" name="type" value="sms">
                            <label class="po-radio-group-label po-clickable" for="type">SMS</label>
                          </div>
                        </div>
                        <div class="po-field-container-bottom">
                        </div>
                      </div>
                      <div class="po-mt-1">
                        <div class="ng-untouched ng-pristine ng-invalid">
                          <div class="po-field-container">
                            <div class="po-field-container-title">
                              <span class="po-field-title">Insira seu número de celular</span>
                            </div>
                            <div class="po-field-container-content">
                              <div class="po-field-icon-container-left">
                                <span class="po-icon po-field-icon po-icon-telephone"></span>
                              </div>
                              <input class="po-input po-input-icon-left" name="sms" placeholder="" required="" type="text">
                              <div class="po-field-icon-container-right">
                              </div>
                            </div>
                            <div class="po-field-container-bottom">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se não tiver acesso ao telefone contacte o suporte.
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[5].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[5].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal de digitação e envio de código SMS -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-pb-2 po-pt-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-header-row">
                <div class="po-modal-title po-text-ellipsis">
                  Digitar código enviado
                </div>
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">Enviamos um código para seu celular cadastrado.</div>
                  <div class="po-mb-2 po-md-12">
                    <form class="ng-untouched ng-pristine ng-invalid">
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Digite o código</span>
                        </div>
                        <div class="po-field-container-content">
                          <input class="po-input" name="sms" placeholder="" required="" type="text">
                          <div class="po-field-icon-container-right">
                            <po-clean ng-reflect-input-ref="[object Object]">
                            </po-clean>
                          </div>
                        </div>
                        <div class="po-field-container-bottom">
                        </div>
                      </div>
                      <div class="po-field-container-bottom po-field-container-error-container po-mb-3">
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se o código não chegar dentro de alguns minutos
                    <span class="po-modal-password-recovery-link">envie novamente.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[6].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[6].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal de digitação e envio de código SMS e mensagem de erro concatenada com e-mail de contato -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-pb-2 po-pt-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-header-row">
                <div class="po-modal-title po-text-ellipsis">
                  Digitar código enviado
                </div>
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <div class="po-modal-password-recovery-text po-md-12 po-mb-1">Enviamos um código para seu celular cadastrado.</div>
                  <div class="po-mb-2 po-md-12">
                    <form class="ng-untouched ng-pristine ng-invalid">
                      <div class="po-field-container">
                        <div class="po-field-container-title">
                          <span class="po-field-title">Digite o código</span>
                        </div>
                        <div class="po-field-container-content">
                          <input class="po-input" name="sms" placeholder="" required="" type="text">
                          <div class="po-field-icon-container-right">
                            <po-clean ng-reflect-input-ref="[object Object]">
                            </po-clean>
                          </div>
                        </div>
                        <div class="po-field-container-bottom">
                        </div>
                      </div>
                      <div class="po-field-container-bottom po-field-container-error-container">
                        <div class="po-field-container-bottom-text-error po-field-container-error-item">
                          <span class="po-icon po-icon-exclamation"></span>
                          <span class="po-field-container-error-text">Código inválido. Digite novamente ou contacte o suporte em suporte@suporte.com.br</span>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="po-modal-password-recovery-text po-md-12">
                    Se o código não chegar dentro de alguns minutos
                    <span class="po-modal-password-recovery-link">envie novamente.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[7].style.display = 'none';">
                  Cancelar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[7].style.display = 'none';">
                  Enviar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>

<!-- Modal de confirmação -->
<po-modal-password-recovery>
  <div class="po-modal" tabindex="0" style="display:none;">
    <div class="po-modal-overlay">
      <div class="po-modal-container po-p-2">
        <div class="po-modal-vertical-align">
          <div tabindex="-1" class="po-modal-content po-modal-auto">
            <div class="po-modal-header">
              <div class="po-modal-title">
                e-mail enviado
              </div>
            </div>
            <div class="po-modal-body">
              <div class="po-modal-password-recovery-wrapper">
                <div class="po-modal-password-recovery-content po-row">
                  <img class="po-modal-password-recovery-user-image po-mb-2" src="./assets/images/email-sent.svg">
                  <div class="po-modal-password-recovery-text po-md-12">
                    Enviamos as instruções e link de criação de nova senha para o seu e-mail. Caso não tenha recebido após alguns minutos,
                    verifique sua caixa de spam ou clique em Reenviar.
                  </div>
                </div>
              </div>
            </div>
            <div class="po-modal-footer">
              <po-button>
                <button class="po-button" type="button" onClick="document.getElementsByClassName('po-modal')[8].style.display = 'none';">
                  Reenviar
                </button>
              </po-button>
              <po-button class="po-button-modal-first-action">
                <button class="po-button po-button-primary" type="button"
                  onClick="document.getElementsByClassName('po-modal')[8].style.display = 'none';">
                  Fechar
                </button>
              </po-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</po-modal-password-recovery>
