import { Component } from '@angular/core';

import { PoMenuItem } from '@po-ui/ng-components';

@Component({
  selector: 'app-root',
  templateUrl: './<%= appFileName %>.html',
  styleUrls: ['./<%= appFileName %>.<%= style %>'],
  standalone: false
})
export class <%= appClassName %> {
  readonly menus: Array<PoMenuItem> = [
    { label: 'Home', action: this.onClick.bind(this) },
  ];

  private onClick() {
    alert('Clicked in menu item');
  }
}
