.po-color-primary-light-95 {
  background-color: var(--color-primary-light-95);
}

.po-color-primary-light-80 {
  background-color: var(--color-primary-light-80);
}

.po-color-primary-alpha-50 {
  background-color: var(--color-primary-alpha-50);
}

.po-color-primary {
  background-color: var(--color-primary);
}

.po-color-primary-dark-20 {
  background-color: var(--color-primary-dark-20);
}

.po-color-primary-dark-40 {
  background-color: var(--color-primary-dark-40);
}

.po-color-secondary {
  background-color: var(--color-secondary);
}

.po-color-secondary-dark-60-alpha-70 {
  background-color: var(--color-secondary-dark-60-alpha-70);
}

.po-color-secondary-dark-60 {
  background-color: var(--color-secondary-dark-60);
}

.po-color-tertiary-light-90 {
  background-color: var(--color-tertiary-light-90);
}

.po-color-tertiary {
  background-color: var(--color-tertiary);
}

.po-color-white {
  background-color: var(--color-white);
}

.po-color-white-alpha-30 {
  background-color: var(--color-white-alpha-30);
}

.po-color-neutral-light-98 {
  background-color: var(--color-neutral-light-98);
}

.po-color-neutral-light-90 {
  background-color: var(--color-neutral-light-90);
}

.po-color-neutral-light-80 {
  background-color: var(--color-neutral-light-80);
}

.po-color-neutral-light-60 {
  background-color: var(--color-neutral-light-60);
}

.po-color-neutral-light-40 {
  background-color: var(--color-neutral-light-40);
}

.po-color-neutral-alpha-45 {
  background-color: var(--color-neutral-alpha-45);
}

.po-color-neutral {
  background-color: var(--color-neutral);
}


.po-color-neutral-dark-40 {
  background-color: var(--color-neutral-dark-40);
}

.po-color-neutral-dark-60 {
  background-color: var(--color-neutral-dark-60);
}

.po-color-black-alpha-10 {
  background-color: var(--color-black-alpha-10);
}

.po-color-black-alpha-15 {
  background-color: var(--color-black-alpha-15);
}

.po-color-black-alpha-30 {
  background-color: var(--color-black-alpha-30);
}

.po-color-black {
  background-color: var(--color-black);
}

.po-color-success {
  background-color: var(--color-success);
}

.po-color-warning {
  background-color: var(--color-warning);
}

.po-color-danger {
  background-color: var(--color-danger);
}

.po-color-transparent {
  background-color: var(--color-transparent);
}
