# Nome do workflow, um repositório pode tem um ou mais workflows.
name: CI

# Define em quais situações esse workflow será executado
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# Os jobs são conjuntos de actions que são executados na mesma máquina virtual.
# É possível ter mais de um job e assim executar ações paralelamente.
jobs:

  lint:

    runs-on: ubuntu-20.04

    # As etapas do workflow são definidas nessa tag.
    steps:

    # Definição da action
    - uses: actions/checkout@v2
      # Parâmetros para a ação
      with:
        fetch-depth: 0

    - uses: wagoid/commitlint-github-action@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    # Executa um comando do projeto na máquina virtual
    - run: npm i
    - run: npm run format:check
    - run: npm run lint

  build:
    name: Build packages

    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm i
    - run: npm run build

  test-ui:
    name: Test ui

    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm i
    - run: npm run test:ui
    - run: npm run test:ui:schematics

  test-templates:
    name: Test templates

    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm i
    - run: npm run build:ui:lite
    - run: npm run test:templates
    - run: npm run test:templates:schematics

  test-code-editor:
    name: Test code editor

    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm i
    - run: npm run test:code-editor
    - run: npm run test:code-editor:schematics

  test-storage:
    name: Test storage

    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm i
    - run: npm run test:storage
    - run: npm run test:storage:schematics

  test-sync:
    name: Test sync

    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm i
    - run: npm run build:storage:lite
    - run: npm run test:sync
    - run: npm run test:sync:schematics
