# Nome do workflow, um reposit칩rio pode ter um ou mais workflows.
name: CI

# Define em quais situa칞칫es esse workflow ser치 executado
on:
  push:
    branches: [master, development, "[0-9]+.x.x"]
  pull_request:
    branches: [master, development, "[0-9]+.x.x"]
    types: [opened, reopened, synchronize, closed]

# Os jobs s칚o conjuntos de actions que s칚o executados na mesma m치quina virtual.
# 칄 poss칤vel ter mais de um job e assim executar a칞칫es paralelamente.
jobs:
  # discord_notification_on_pr:
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'pull_request' && github.event.pull_request.merged == false
  #   steps:
  #     - name: Notify Discord on PR
  #       env:
  #         DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
  #       run: |
  #         AUTHOR="${{ github.event.pull_request.user.login }}"
  #         PR_TITLE="${{ github.event.pull_request.title }}"
  #         PR_URL="${{ github.event.pull_request.html_url }}"
  #         curl -X POST -H "Content-Type: application/json" \
  #         -d "{\"content\": \"游 **PR Criada com Sucesso 游**\\n- Autor: $AUTHOR\\n- T칤tulo: $PR_TITLE\\n- Link: $PR_URL\"}" \
  #         $DISCORD_WEBHOOK_URL

  lint:
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    # As etapas do workflow s칚o definidas nessa tag.
    steps:
      # Defini칞칚o da action
      - uses: actions/checkout@v3
        # Par칙metros para a a칞칚o
        with:
          fetch-depth: 0

      - uses: wagoid/commitlint-github-action@v5

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # Executa um comando do projeto na m치quina virtual
      - run: npm i
      - run: npm run format:check
      - run: npm run lint:storage
      - run: npm run lint:sync
      - run: npm run lint:ui
      - run: npm run lint:templates
      - run: npm run lint:code-editor

  build:
    name: Build packages
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i
      - run: npm run build
      - run: npm run build:portal:docs
      - run: npm run build:portal:prod

      - uses: actions/upload-artifact@v3
        with:
          name: portal
          path: dist/portal

  sonar_analysis:
    name: SonarQube Analysis
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04
    needs: [test-ui, test-templates, test-code-editor, test-storage, test-sync]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i

      # Baixa os artefatos de cobertura gerados pelos jobs de teste e extrai para o diret칩rio correto
      - name: Download UI coverage report
        uses: actions/download-artifact@v3
        with:
          name: ui-coverage
          path: coverage/ui

      - name: Download Code Editor coverage report
        uses: actions/download-artifact@v3
        with:
          name: code-editor-coverage
          path: coverage/code-editor

      - name: Download Storage coverage report
        uses: actions/download-artifact@v3
        with:
          name: storage-coverage
          path: coverage/storage

      - name: Download Sync coverage report
        uses: actions/download-artifact@v3
        with:
          name: sync-coverage
          path: coverage/sync

      - name: Download Templates coverage report
        uses: actions/download-artifact@v3
        with:
          name: templates-coverage
          path: coverage/templates

      # Verifica se os arquivos de cobertura foram baixados corretamente
      - name: Verificar arquivos de cobertura
        run: ls -la coverage/code-editor/lcov.info coverage/storage/lcov.info coverage/sync/lcov.info coverage/templates/lcov.info coverage/ui/lcov.info

      # Executa o script do Gulp para o SonarQube
      # - name: Run SonarQube
      #   run: npm run sonarqube -- --url=${{ secrets.SONAR_HOST_URL }} --projectKey=${{ secrets.SONAR_PROJECT_KEY }} --token=${{ secrets.SONAR_TOKEN }}

      # - name: Run SonarQube for PR
      #   run: |
      #     export SONARQUBE_SCANNER_PARAMS='{
      #       "sonar.pullrequest.key": "${{ github.event.pull_request.number }}",
      #       "sonar.pullrequest.branch": "${{ github.head_ref }}",
      #       "sonar.pullrequest.base": "${{ github.base_ref }}"
      #     }'
      #     npm run sonarqube -- --url=${{ secrets.SONAR_HOST_URL }} --projectKey=${{ secrets.SONAR_PROJECT_KEY }} --token=${{ secrets.SONAR_TOKEN }}

      - name: Run full SonarQube analysis
        run: |
          export SONAR_SCANNER_JSON_PARAMS='{
            "sonar.pullrequest.key": "${{ github.event.pull_request.number }}",
            "sonar.pullrequest.branch": "${{ github.head_ref }}",
            "sonar.pullrequest.base": "${{ github.base_ref }}",
            "sonar.scm.exclusions.disabled": "true"
          }'
          npm run sonarqube -- --url=${{ secrets.SONAR_HOST_URL }} --projectKey=${{ secrets.SONAR_PROJECT_KEY }} --token=${{ secrets.SONAR_TOKEN }}

  test-ui:
    name: Test ui
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i
      - run: npm run test:ui
      - run: npm run test:ui:schematics

      # Salva o relat칩rio de cobertura como artefato no GitHub Actions
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: ui-coverage
          path: coverage/ui/lcov.info

  test-templates:
    name: Test templates
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i
      - run: npm run build:ui:lite
      - run: npm run test:templates
      - run: npm run test:templates:schematics

      # Salva o relat칩rio de cobertura como artefato no GitHub Actions
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: templates-coverage
          path: coverage/templates/lcov.info

  test-code-editor:
    name: Test code editor
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i
      - run: npm run test:code-editor
      - run: npm run test:code-editor:schematics

      # Salva o relat칩rio de cobertura como artefato no GitHub Actions
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: code-editor-coverage
          path: coverage/code-editor/lcov.info

  test-storage:
    name: Test storage
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i
      - run: npm run test:storage
      - run: npm run test:storage:schematics

      # Salva o relat칩rio de cobertura como artefato no GitHub Actions
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: storage-coverage
          path: coverage/storage/lcov.info

  test-sync:
    name: Test sync
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i
      - run: npm run build:storage:lite
      - run: npm run test:sync
      - run: npm run test:sync:schematics

      # Salva o relat칩rio de cobertura como artefato no GitHub Actions
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: sync-coverage
          path: coverage/sync/lcov.info

  # Job para excluir a ramifica칞칚o do SonarQube ap칩s o merge
  delete_sonar_branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-20.04
    steps:
      - name: Excluir Ramifica칞칚o do SonarQube
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_PROJECT_KEY: ${{secrets.SONAR_PROJECT_KEY}}
          BRANCH_NAME: ${{ github.head_ref }}
        run: |
          curl -u "${SONAR_TOKEN}:" -X POST "${SONAR_HOST_URL}/api/project_branches/delete" \
            -d "project=${SONAR_PROJECT_KEY}" \
            -d "branch=${BRANCH_NAME}"
