<style>
  div.ng-invalid.ng-dirty .po-upload-button {
    border: solid 1px #c64840 !important;
    outline: none;
    color: #c64840;
  }

  div.ng-invalid.ng-dirty .po-upload-drag-drop-area {
    border: dashed 2px #c64840 !important;
    outline: none;
  }

  .inline {
    display: inline-block;
    padding-right: 16px;
  }

  .container {
    padding: 8px;
  }

  .po-upload-progress-status {
    width: 60%;
  }
</style>

<script>
  (function(){
    let timeout;

    init();

    function init() {
      document.getElementById('dragDropOverlay').classList.add('po-invisible');
    }

    function getDragDropArea() {
      return document.getElementById('dragDropArea');
    }

    function setBoundClientRect() {
      let boundingClientRect = getDragDropArea().getBoundingClientRect();

      const dragDropAreaOverlay = document.getElementById('dragDropAreaOverlay');

      dragDropAreaOverlay.style.bottom = boundingClientRect.bottom + 'px';
      dragDropAreaOverlay.style.height = boundingClientRect.height + 'px';
      dragDropAreaOverlay.style.left = boundingClientRect.left + 'px';
      dragDropAreaOverlay.style.right = boundingClientRect.right + 'px';
      dragDropAreaOverlay.style.top = boundingClientRect.top + 'px';
      dragDropAreaOverlay.style.width = boundingClientRect.width + 'px';
    };

    document.getElementById('uploadPage').addEventListener('dragover', function(event) {
      event.preventDefault();

      clearTimeout(timeout);

      setBoundClientRect();

      document.getElementById('dragDropOverlay').classList.remove('po-invisible');
    }, false);

    document.getElementById('uploadPage').addEventListener('dragleave', function(event) {
      event.preventDefault();

      timeout = setTimeout(() => {
        document.getElementById('dragDropOverlay').classList.add('po-invisible');
      }, 200)
    }, false);

  }());

</script>

<article id="uploadPage">
  <section>

    <div class="container">
      <h4>Nenhum arquivo selecionado</h4>
      <div class="po-upload">
        <input type="file" name="name" id="id" class="po-upload-input">
        <button type="button" class="po-upload-button po-button po-text-ellipsis">
          <span class="po-button-label">Selecionar arquivo</span>
        </button>
      </div>
    </div>

    <div class="container">
      <h4>Nenhum arquivo selecionado com label, help e opcional</h4>
      <div class="po-upload">
        <div class="po-field-container">
          <div class="po-field-container-title">
            <span class="po-field-title">Upload Padrão</span>
            <span class="po-field-optional">(Opcional)</span>
          </div>
          <div class="po-field-help">Texto de ajuda</div>
          <div class="po-field-container-content ng-valid">
            <input type="file" name="name" id="id" class="po-upload-input">
            <button type="button" class="po-upload-button po-button po-text-ellipsis">
              <span class="po-button-label">Selecionar arquivo</span>
            </button>
          </div>
          <div class="po-field-container-bottom"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Campo inválido</h4>
      <div class="ng-invalid ng-dirty">
        <div class="po-upload">
          <input type="file" name="name" id="id" class="po-upload-input">
          <button type="button" class="po-upload-button po-button po-text-ellipsis">
            <span class="po-button-label">Selecionar arquivo</span>
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Arquivos selecionados</h4>
      <div class="po-upload">
        <input type="file" name="name" id="id" class="po-upload-input">
        <button type="button" class="po-upload-button po-button po-text-ellipsis">
          <span class="po-button-label">Selecionar arquivo</span>
        </button>
      </div>

      <div class="po-upload-progress">
        <div class="po-upload-filename-foreground">
          <div class="po-upload-filename">
            <span class="po-icon po-icon-info"></span>logo-portinari.png - 80 kb
          </div>

          <div class="po-upload-group-actions">
            <span class="po-upload-action"> Excluir </span>
          </div>
        </div>
      </div>

      <div class="po-upload-progress">
        <div class="po-upload-filename-foreground">
          <div class="po-upload-filename">
            <span class="po-icon po-icon-info"></span>foto-po.jpg - 86 kb
          </div>

          <div class="po-upload-group-actions">
            <span class="po-upload-action"> Excluir </span>
          </div>
        </div>
      </div>

      <div class="inline">
        <button type="button" name="button" class="po-button po-button-primary">Iniciar envio</button>
      </div>
    </div>

    <div class="container">
      <h4>Carregando arquivos</h4>
      <div class="po-upload">
        <input type="file" name="name" id="id" class="po-upload-input">
        <button type="button" class="po-upload-button po-button po-text-ellipsis" disabled>
          <span class="po-button-label">Selecionar arquivo</span>
        </button>


        <div class="po-upload-progress">
          <!-- Barra de progresso de upload, o width deve ser manipulado de acordo com a % enviada para o server -->
          <div class="po-upload-progress-status">logo-portinari.png - 48 de 80 kb</div>
          <div class="po-upload-filename-foreground">
            <div class="po-upload-filename po-upload-filename-loading">logo-portinari.png - 48 de 80 kb</div>

            <div class="po-upload-group-actions">
              <span class="po-upload-action"> Cancelar </span>
            </div>
          </div>
        </div>

        <div class="po-upload-progress po-upload-progress-success">
          <div class="po-upload-filename-foreground">
            <div class="po-upload-filename po-upload-filename-loading">
              <span class="po-icon po-icon-ok"></span>foto-po.jpg - 86 kb
            </div>
          </div>
        </div>

        <div class="po-upload-progress po-upload-progress-error">
          <div class="po-upload-filename-foreground">
            <div class="po-upload-filename po-upload-filename-loading">
              <span class="po-icon po-icon-close"></span>foto-fluig.jpg - Erro no upload
            </div>

            <div class="po-upload-group-actions">
              <span class="po-upload-action"> Excluir </span>

              <span class="po-upload-action"> Tentar novamente </span>
            </div>
          </div>
        </div>

        <div class="inline">
          <button type="button" name="button" class="po-button po-button-primary" disabled>
            Iniciar envio
          </button>
        </div>
      </div>
    </div>

    <div class="po-row">

      <div class="container po-md-6">
        <h4>Drag Drop</h4>

        <div class="po-upload">
          <input type="file" name="name" id="id" class="po-upload-input">

          <!-- DRAG DROP AREA -->
          <div>
            <div class="po-upload-drag-drop-area" style="height: 320px">

              <div class="po-upload-drag-drop-area-container">
                <span class="po-upload-drag-drop-area-icon po-icon po-icon-upload-cloud"></span>

                <div class="po-upload-drag-drop-area-label"> Arraste os arquivos aqui </div>

                <div class="po-upload-drag-drop-area-select-files po-clickable"> ou selecione os arquivos no computador </div>
              </div>

            </div>
          </div>
          <!-- FIM DRAG DROP AREA -->

          <div class="po-upload-progress po-upload-progress-success">
            <div class="po-upload-filename-foreground">
              <div class="po-upload-filename po-upload-filename-loading">
                <span class="po-icon po-icon-ok"></span>foto-po.jpg - 86 kb
              </div>
            </div>
          </div>

          <div class="inline">
            <button type="button" name="button" class="po-button po-button-primary" disabled>
              Iniciar envio
            </button>
          </div>
        </div>
      </div>

      <div class="container po-md-6">
        <h4>Drag Drop com Drop habilitado</h4>

        <div class="po-upload">
          <input type="file" name="name" id="id" class="po-upload-input">

          <!-- DRAG DROP OVERLAY -->
          <div class="po-overlay-fixed" id="dragDropOverlay">

            <div id="dragDropAreaOverlay" class="po-upload-drag-drop-area-overlay">

              <div class="po-upload-drag-drop-area">
                <div class="po-upload-drag-drop-area-container">

                  <span class="po-upload-drag-drop-area-overlay-icon po-icon po-icon-upload-cloud"></span>

                  <div class="po-upload-drag-drop-area-overlay-label"> Solte os arquivos aqui </div>
                </div>
              </div>
            </div>

          </div>
          <!-- FIM DRAG DROP OVERLAY -->

          <!-- DRAG DROP AREA -->
          <div id="dragDropArea">
            <div class="po-upload-drag-drop-area" style="height: 320px">

              <div class="po-upload-drag-drop-area-container">
                <span class="po-upload-drag-drop-area-icon po-icon po-icon-upload-cloud"></span>

                <div class="po-upload-drag-drop-area-label"> Arraste os arquivos aqui </div>

                <div class="po-upload-drag-drop-area-select-files po-clickable"> ou selecione os arquivos no computador </div>
              </div>

            </div>
          </div>
          <!-- FIM DRAG DROP AREA -->
        </div>
      </div>

    </div>

    <div class="container po-md-6">
      <h4>Drag Drop desabilitado</h4>

        <div class="po-upload">
          <input type="file" name="name" id="id" class="po-upload-input">

        <!-- DRAG DROP AREA -->
        <div>
          <div class="po-upload-drag-drop-area po-upload-drag-drop-area-disabled" style="height: 320px">

            <div class="po-upload-drag-drop-area-container">
              <span class="po-upload-drag-drop-area-icon po-icon po-icon-upload-cloud"></span>

              <div class="po-upload-drag-drop-area-label"> Arraste os arquivos aqui </div>

              <div class="po-upload-drag-drop-area-select-files po-clickable"> ou selecione os arquivos no computador </div>
            </div>

          </div>
        </div>
        <!-- FIM DRAG DROP AREA -->
      </div>
    </div>

    <div class="container po-md-6">
      <h4>Drag Drop inválido</h4>

      <div class="ng-invalid ng-dirty">
        <div class="po-upload">
          <input type="file" name="name" id="id" class="po-upload-input">

          <!-- DRAG DROP AREA -->
          <div>
            <div class="po-upload-drag-drop-area" style="height: 320px">

              <div class="po-upload-drag-drop-area-container">
                <span class="po-upload-drag-drop-area-icon po-icon po-icon-upload-cloud"></span>

                <div class="po-upload-drag-drop-area-label"> Arraste os arquivos aqui </div>

                <div class="po-upload-drag-drop-area-select-files po-clickable"> ou selecione os arquivos no computador </div>
              </div>

            </div>
          </div>
          <!-- FIM DRAG DROP AREA -->
        </div>
      </div>
    </div>

  </section>
</article>
